---
---

@import 'normalize';
@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';
@import 'components/components';
@import 'layout/layout';
@import 'pages/pages';

body {
  position: relative;
}

.action-secondary {
  display: block;
  text-align: center;
  margin-top: 1em;
  color: #999 !important;
}

.single article ul li {
  list-style: disc;
  list-style-position: outside;
  font-size: 1em;
  margin-bottom: .5em;
  margin-left: 1em;
  line-height: 1.6em;
}

.single article ol li {
  list-style: decimal;
  list-style-position: outside;
  font-size: 1.25em;
  margin-bottom: .5em;
  margin-left: 1em;
  line-height: 1.6em;
}


// Rapid Feedback Form Button

.rapid-feedback a {
  position: fixed;
  bottom: 0;
  right: 0;
  background: white;
  padding: 5px 13px 4px;
  border-radius: 3px 0 0 0;
  font-size: 13px;
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;

  &:hover {
    background: $blue;
    color: white;
  }
}
