// Font Icons
///////////////////////////////////////////////////////////////////////////////

@include font-face(lctv, '../fonts/lctv/lctv');

[class^="icon-"], [class*=" icon-"] {
  font-family: 'lctv';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes */
  font-variant: normal;
  text-transform: none;
  font-size: .8em;

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Windows mobile can't render these icons - hide for small screens */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  
  @media only screen and (min-width: 480px) {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)"
  }
}

.icon-logo:before { content: '\e800'; }
.icon-arrow:before { content: '\e801'; }
.icon-down:before { content: '\e802'; }
.icon-up:before { content: '\e816'; }
.icon-close:before { content: '\e803'; }
.icon-download:before { content: '\e804'; }
.icon-share:before { content: '\e805'; }
.icon-window:before { content: '\e806'; margin-left: -6px; }
.icon-file:before { content: '\e807'; }
.icon-play:before { content: '\e808'; }

.icon-announcement-money:before { content: '\e813'; }
.icon-announcement-calendar:before { content: '\e810'; }
.icon-announcement-campus:before { content: '\e811'; }
.icon-announcement-maintenance:before { content: '\e812'; }
.icon-announcement-weather-rain:before { content: '\e815'; }
.icon-announcement-weather-snow:before { content: '\e814'; }

.icon-social-facebook:before { content: '\e809'; }
.icon-social-twitter:before { content: '\e80b'; }
.icon-social-instagram:before { content: '\e80c'; }
.icon-social-pinterest:before { content: '\e80d'; }
.icon-social-vine:before { content: '\e80e'; }
.icon-social-youtube:before { content: '\e80f'; }
.icon-social-gplus:before { content: '\e80a'; }

.icon-large { font-size: 2em !important;  }

.icon-social-facebook.icon-color { color: #3b4998;  }
.icon-social-twitter.icon-color { color: #4099ff;  }

.icon-close:before {
  z-index: 90;
  position: relative;
}

.lt-ie9 .icon {
  display: none;
}
