%button {
  @include transition (background .1s);
  background: $blue;
  border-radius: $base-border-radius;
  color: white;
  display: inline-block;
  font-family: $sans-serif;
  font-size: 12px; // px so it never changes size
  font-weight: bold;
  line-height: 1em;
  border: none;
  padding: .8em 1.4em;

  &:hover {
    background: $dark-blue;
    color: white;
  }
}

%button-secondary {
  background: $medium-gray;
  color: $base-font-color;

  &:hover {
    background: $dark-gray;
    color: $base-font-color;
  }
}

%button-large {
  font-size: 19px;
  padding: 1em 2em;

  @media only screen and (min-width: 40em) {
    padding: 1em 5em;
  }
}

%button-expand {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
