{% for announcement in site.data.announcement %}
{% if announcement.active == true %}
{% if page.section != 'announcements' %}
<!-- Announcement -->
<div class="announcement {{ announcement.type }}">
  <div class="container">
    {% if announcement.url %}<a class="announcement-link" href="{{ announcement.url }}">{% endif %}
      <p><i class="announcement-icon icon-announcement-{{ announcement.icon }}"></i> {{ announcement.message }}</p>
    {% if announcement.url %}</a>{% endif %}
  </div>
</div>
{% endif %}
{% endif %}
{% endfor %}
