<div class="rapid-feedback">
<a href="https://docs.google.com/forms/d/1YNeH3treaBun4TCN24LuzCyq9HJNmPeHRT3lW4FIQMQ/viewform?usp=send_form" onclick="window.open(this.href,  null, 'height=380, width=680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">Give website feedback</a>
</div>

<footer class="closing">
  <div class="container">
    <nav class="closing-nav">
      <ul class="closing-site-links large-element">
        <li><a href="/watch/">Watch</a></li>
        <li><a href="/locations/">Locations</a></li>
        <li><a href="/giving/">Give</a></li>
        <li><a href="/tools/">Apps &amp; Sites<a></li>
        <li><a href="/churches/">For Churches</a></li>
        <li><a href="/jobs/">Jobs</a></li>
        <li><a href="/contact/">Contact Us</a></li>
      </ul>

      <ul class="closing-social-links">
        <li><a href="https://www.facebook.com/lifechurchtv"><i class="icon-social-facebook"></i> Facebook</a></li>
        <li><a href="https://twitter.com/lifechurchtv"><i class="icon-social-twitter"></i> Twitter</a></li>
        <li><a href="http://instagram.com/lifechurchtv"><i class="icon-social-instagram"></i> Instagram</a></li>
        <li><a href="http://www.pinterest.com/lifechurchtv/"><i class="icon-social-pinterest"></i> Pinterest</a></li>
        <li><a href="http://www.youtube.com/user/LifeChurchtv"><i class="icon-social-youtube"></i> YouTube</a></li>
      </ul>
    </nav>

    <div class="closing-copy">
      <p>Join us at <a href="http://live.lifechurch.tv" target="_blank">Church Online<i class="icon icon-window"></i></a>, a <a href="/locations">LifeChurch.tv physical location</a>, or a <a href="http://www.networkchurches.tv" target="_blank">Network Church<i class="icon icon-window"></i></a>.</p>
      <p>&copy; 2014 LifeChurch.tv. All rights reserved.</p>
    </div>
  </div>
</footer>
