<div id="sidr">
  <!-- Your content -->
  <ul>
    <li><span class="lc">Easter Service Times</span>
    <span class="close"><a id="close" href="#sidr">X</a></span>
    </li>
    <li><a href="#" id="fl">Florida, US <i class="icon-arrow"></i></a></li>
    <li class="sub fl"><a href="#">Wellington, FL <i class="icon-arrow"></i></a></li>
    <li class="times wel">
      <h2>Saturday, March 26</h2>
      <span>5:00pm ET</span>
      <span>6:30pm ET</span>
      <h2>Sunday, March 27</h2>
      <span>9:30am ET</span>
      <span>11:00am ET</span>
      <span>12:30pm ET</span>
      <span>5:00pm ET</span>
      <span>6:30pm ET</span>
      <p><a href="/wellington/" target="_blank">Get Directions &#187;</a></p>
    </li>
    
    <li><a href="#" id="ks">Kansas, US <i class="icon-arrow"></i></a></li>
     <li class="sub ks" id="opk"><a href="#">Overland Park, KS <i class="icon-arrow"></i></a></li>
    <li class="times opk">
      <h2>Sunday, March 27</h2>
      <span>10:00am</span>
      <span>11:30pm</span>
      <p><a href="/wichita/" target="_blank">Get Directions &#187;</a></p>
    <li class="sub ks" id="wch"><a href="#">Wichita, KS <i class="icon-arrow"></i></a></li>
    <li class="times wch">
      <h2>Saturday, March 26</h2>
      <span>5:00pm</span>
      <h2>Sunday, March 27</h2>
      <span>8:30am</span>
      <span>10:00am</span>
      <span>11:30pm</span>
      <p><a href="/wichita/" target="_blank">Get Directions &#187;</a></p>
    </li>
    
    <li><a href="#" id="nm">New Mexico, US <i class="icon-arrow"></i></a></li>
    <li class="sub nm"><a href="#">Rio Rancho, NM <i class="icon-arrow"></i></a></li>
    <li class="times rrn">
      <h2>Saturday, March 26</h2>
      <span>6:30pm MT</span>
      <h2>Sunday, March 27</h2>
      <span>9:30am MT</span>
      <span>11:00am MT</span>
      <span>12:30pm MT</span>
      <p><a href="/riorancho/" target="_blank">Get Directions &#187;</a></p>
    </li>
    
    <li><a href="#" id="ny">New York, US <i class="icon-arrow"></i></a></li>
    <li class="sub ny"><a href="#">Albany, NY <i class="icon-arrow"></i></a></li>
    <li class="times alb">
      <h2>Saturday, March 26</h2>
      <span>3:00pm ET</span>
      <span>4:30pm ET</span>
      <span>6:00pm ET</span>
      <h2>Sunday, March 27</h2>
      <span>8:30am ET</span>
      <span>10:00am ET</span>
      <span>11:30am ET</span>
      <span>5:00pm ET</span>
      <span>6:30pm ET</span>
      <p><a href="/albany/" target="_blank">Get Directions &#187;</a></p>
    </li>
    
    <li><a href="#" id="ok">Oklahoma, US <i class="icon-arrow"></i></a></li>
    <li class="sub ok" id="okc"><a href="#">OKC Metro <i class="icon-arrow"></i></a></li>
    <li class="sub okc" id="bnb"><a href="#">Broadway &amp; Britton, OK <i class="icon-arrow"></i></a></li>
    <li class="times bnb">
      <h2>Friday, March 25</h2>
      <span>7:00pm</span>
      <h2>Saturday, March 26</h2>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <h2>Sunday, March 27</h2>
      <span>8:30am</span>
      <span>10:00am</span>
      <span>11:30am</span>
      <span>1:00pm</span>
      <p><a href="/broadwaybritton/" target="_blank">Get Directions &#187;</a></p>
    </li>
    
    <li class="sub okc" id="edm"><a href="#">Edmond, OK <i class="icon-arrow"></i></a></li>
    <li class="times edm">
      <h2>Friday, March 25</h2>
      <span>5:30pm</span>
      <span>7:00pm</span>
      <h2>Saturday, March 26</h2>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <h2>Sunday, March 27</h2>
      <span>8:30am</span>
      <span>10:00am</span>
      <span>11:30am</span>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <p><a href="/edmond/" target="_blank">Get Directions &#187;</a></p>
    </li>
    
    <li class="sub okc" id="mwc"><a href="#">Midwest City, OK <i class="icon-arrow"></i></a></li>
    <li class="times mwc">
      <h2>Friday, March 25</h2>
      <span>7:00pm</span>
      <h2>Saturday, March 26</h2>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <h2>Sunday, March 27</h2>
      <span>8:30am</span>
      <span>10:00am</span>
      <span>11:30am</span>
      <span>1:00pm</span>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <p><a href="/midwestcity/" target="_blank">Get Directions &#187;</a></p>
    </li>
    
    <li class="sub okc" id="mor"><a href="#">Moore, OK <i class="icon-arrow"></i></a></li>
    <li class="times mor">
      <h2>Friday, March 25</h2>
      <span>5:30pm</span>
      <span>7:00pm</span>
      <h2>Saturday, March 26</h2>
      <span>3:30pm</span>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <h2>Sunday, March 27</h2>
      <span>8:30am</span>
      <span>10:00am</span>
      <span>11:30am</span>
      <span>1:00pm</span>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <p><a href="/moore/" target="_blank">Get Directions &#187;</a></p>
    </li>
    
    <li class="sub okc" id="mus"><a href="#">Mustang, OK <i class="icon-arrow"></i></a></li>
    <li class="times mus">
      <h2>Friday, March 25</h2>
      <span>5:30pm</span>
      <span>7:00pm</span>
      <h2>Saturday, March 26</h2>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <h2>Sunday, March 27</h2>
      <span>8:30am</span>
      <span>10:00am</span>
      <span>11:30am</span>
      <span>1:00pm</span>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <p><a href="/mustang/" target="_blank">Get Directions &#187;</a></p>
    </li>
    
    <li class="sub okc" id="noc"><a href="#">NW Oklahoma City, OK <i class="icon-arrow"></i></a></li>
    <li class="times noc">
      <h2>Friday, March 25</h2>
      <span>5:30pm</span>
      <span>7:00pm</span>
      <h2>Saturday, March 26</h2>
      <span>3:30pm</span>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <h2>Sunday, March 27</h2>
      <span>8:30am</span>
      <span>10:00am</span>
      <span>11:30am</span>
      <span>1:00pm</span>
      <span>6:00pm</span>
      <p><a href="/northwestokc/" target="_blank">Get Directions &#187;</a></p>
    </li>
    
    <li class="sub okc" id="okc-2"><a href="#">Oklahoma City, OK <i class="icon-arrow"></i></a></li>
    <li class="times okc-2">
      <h2>Friday, March 25</h2>
      <span>5:30pm</span>
      <span>7:00pm</span>
      <h2>Saturday, March 26</h2>
      <span>3:30pm</span>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <h2>Sunday, March 27</h2>
      <span>8:30am</span>
      <span>10:00am</span>
      <span>11:30am</span>
      <span>1:00pm</span>
      <span>6:00pm</span>
      <p><a href="/okc/" target="_blank">Get Directions &#187;</a></p>
    </li>
    
    <li class="sub okc" id="soc"><a href="#">South Oklahoma City, OK <i class="icon-arrow"></i></a></li>
    <li class="times soc">
      <h2>Friday, March 25</h2>
      <span>7:00pm</span>
      <h2>Saturday, March 26</h2>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <h2>Sunday, March 27</h2>
      <span>8:30am</span>
      <span>10:00am</span>
      <span>11:30am</span>
      <span>1:00pm</span>
      <span>6:00pm</span>
      <p><a href="/southokc/" target="_blank">Get Directions &#187;</a></p>
    </li>
    
    <li class="sub okc" id="ykn"><a href="#">Yukon, OK <i class="icon-arrow"></i></a></li>
    <li class="times ykn">
      <h2>Saturday, March 26</h2>
      <span>3:30pm</span>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <h2>Sunday, March 27</h2>
      <span>8:30am</span>
      <span>10:00am</span>
      <span>11:30am</span>
      <span>1:00pm</span>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <p><a href="/yukon/" target="_blank">Get Directions &#187;</a></p>
    </li>
    
    <li class="sub ok" id="tul"><a href="#">Tulsa Metro <i class="icon-arrow"></i></a></li>
    <li class="sub tul" id="bao"><a href="#">Broken Arrow, OK <i class="icon-arrow"></i></a></li>
    <li class="times bao">
      <h2>Friday, March 25</h2>
      <span>5:30pm</span>
      <span>7:00pm</span>
      <h2>Saturday, March 26</h2>
      <span>3:30pm</span>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <h2>Sunday, March 27</h2>
      <span>8:30am</span>
      <span>10:00am</span>
      <span>11:30am</span>
      <span>1:00pm</span>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <p><a href="/brokenarrow/" target="_blank">Get Directions &#187;</a></p>
    </li>
    
    <li class="sub tul" id="jnk"><a href="#">Jenks, OK <i class="icon-arrow"></i></a></li>
    <li class="times jnk">
      <h2>Friday, March 25</h2>
      <span>5:30pm</span>
      <span>7:00pm</span>
      <h2>Saturday, March 26</h2>
      <span>3:30pm</span>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <h2>Sunday, March 27</h2>
      <span>8:30am</span>
      <span>10:00am</span>
      <span>11:30am</span>
      <span>1:00pm</span>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <p><a href="/jenks/" target="_blank">Get Directions &#187;</a></p>
    </li>
    
    <li class="sub tul" id="ows"><a href="#">Owasso, OK <i class="icon-arrow"></i></a></li>
    <li class="times ows">
      <h2>Friday, March 25</h2>
      <span>5:30pm</span>
      <span>7:00pm</span>
      <h2>Saturday, March 26</h2>
      <span>3:30pm</span>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <h2>Sunday, March 27</h2>
      <span>8:30am</span>
      <span>10:00am</span>
      <span>11:30am</span>
      <span>1:00pm</span>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <p><a href="/owasso/" target="_blank">Get Directions &#187;</a></p>
    </li>
    
    <li class="sub tul" id="tulsa"><a href="#">Tulsa, OK <i class="icon-arrow"></i></a></li>
    <li class="times tulsa">
      <h2>Friday, March 25</h2>
      <span>5:30pm</span>
      <span>7:00pm</span>
      <h2>Saturday, March 26</h2>
      <span>3:30pm</span>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <h2>Sunday, March 27</h2>
      <span>8:30am</span>
      <span>10:00am</span>
      <span>11:30am</span>
      <span>1:00pm</span>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <p><a href="/tulsa" target="_blank">Get Directions &#187;</a></p>
    </li>
    
    <li class="sub tul" id="sto"><a href="#">South Tulsa, OK <i class="icon-arrow"></i></a></li>
    <li class="times sto">
      <h2>Friday, March 25</h2>
      <span>5:30pm</span>
      <span>7:00pm</span>
      <h2>Saturday, March 26</h2>
      <span>3:30pm</span>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <h2>Sunday, March 27</h2>
      <span>8:30am</span>
      <span>10:00am</span>
      <span>11:30am</span>
      <span>1:00pm</span>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <p><a href="/southtulsa/" target="_blank">Get Directions &#187;</a></p>
    </li>
    
    <li class="sub tul" id="sba"><a href="#">South Broken Arrow, OK <i class="icon-arrow"></i></a></li>
    <li class="times sba">
      <h2>Friday, March 25</h2>
      <h2>Saturday, March 26</h2>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <h2>Sunday, March 27</h2>
      <span>8:30am</span>
      <span>10:00am</span>
      <span>11:30am</span>
      <span>1:00pm</span>
      <span>5:00pm</span>
      <p><a href="/southbrokenarrow/" target="_blank">Get Directions &#187;</a></p>
    </li>
    
    <li class="sub ok" id="stw" style="display:none;"><a href="#">Stillwater, OK <i class="icon-arrow"></i></a></li>
    <li class="times stw">
      <h2>Friday, March 25</h2>
      <span>7:00pm</span>
      <h2>Saturday, March 26</h2>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <h2>Sunday, March 27</h2>
      <span>8:30am</span>
      <span>10:00am</span>
      <span>11:30am</span>
      <span>1:00pm</span>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <span>9:00pm</span>
      <p><a href="/stillwater/" target="_blank">Get Directions &#187;</a></p>
    </li>
    
    <li class="sub ok" id="shw"><a href="#">Shawnee, OK <i class="icon-arrow"></i></a></li>
    <li class="times shw">
      <h2>Friday, March 25</h2>
      <span>7:00pm</span>
      <h2>Saturday, March 26</h2>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <h2>Sunday, March 27</h2>
      <span>8:30am</span>
      <span>10:00am</span>
      <span>11:30am</span>
      <span>1:00pm</span>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <p><a href="/shawnee/" target="_blank">Get Directions &#187;</a></p>
    </li>
    
    <li><a href="#" id="tn">Tennessee, US <i class="icon-arrow"></i></a></li>
    <li class="sub tn"><a href="#">Hendersonville, TN <i class="icon-arrow"></i></a></li>
    <li class="times hnv">
      <h2>Friday, March 25</h2>
      <span>7:00pm</span>
      <h2>Saturday, March 26</h2>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <h2>Sunday, March 27</h2>
      <span>8:30am</span>
      <span>10:00am</span>
      <span>11:30am</span>
      <span>1:00pm</span>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <p><a href="/hendersonville/" target="_blank">Get Directions &#187;</a></p>
    </li>
    
    <li><a href="#" id="tx">Texas, US <i class="icon-arrow"></i></a></li>
    <li class="sub tx" id="klr"><a href="#">Keller, TX <i class="icon-arrow"></i></a></li>
    <li class="times klr">
      <h2>Saturday, March 26</h2>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <h2>Sunday, March 27</h2>
      <span>8:30am</span>
      <span>10:00am</span>
      <span>11:30am</span>
      <p><a href="/keller/" target="_blank">Get Directions &#187;</a></p>
    </li>
    <li class="sub tx" id="ftw"><a href="#">Fort Worth, TX <i class="icon-arrow"></i></a></li>
    <li class="times ftw">
      <h2>Friday, March 25</h2>
      <span>7:00pm</span>
      <h2>Saturday, March 26</h2>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <h2>Sunday, March 27</h2>
      <span>8:30am</span>
      <span>10:00am</span>
      <span>11:30am</span>
      <span>1:00pm</span>
      <span>5:00pm</span>
      <span>6:30pm</span>
      <p><a href="/fortworth/" target="_blank">Get Directions &#187;</a></p>
    </li>
    
    <li><a href="#" id="co">Church Online <i class="icon-arrow"></i></a></li>
    <li class="sub co">
      <p>Church Online will start their first Easter Service on Friday, March 25th at 7:00pm and will follow their regular service schedule for the remainder of the week.</p>
      <p><a href="http://www.live.life.church" target="_blank">Visit Church Online &#187;</a></p>
    </li>
  </ul>
</div>