<div id="sidr">
  <!-- Your content -->
  <ul>
    <li><span class="lc">Easter Service Times</span>
    <span class="close"><a id="close" href="#sidr">X</a></span>
    </li>
    <li><a href="#" id="fl">Florida, US <i class="icon-arrow"></i></a></li>
    <li class="sub fl"><a href="#">Wellington, FL</a></li>
    <li class="sub fl-times">Times Here</li>
    
    <li><a href="#" id="ks">Kansas, US <i class="icon-arrow"></i></a></li>
    <li class="sub ks"><a href="#">Wichita, KS</a></li>
    
    <li><a href="#" id="nm">New Mexico, US <i class="icon-arrow"></i></a></li>
    <li class="sub nm"><a href="#">Rio Rancho, NM</a></li>
    
    <li><a href="#" id="ny">New York, US <i class="icon-arrow"></i></a></li>
    <li class="sub ny"><a href="#">Albany, NY</a></li>
    
    <li><a href="#" id="ok">Oklahoma, US <i class="icon-arrow"></i></a></li>
    <li class="sub ok" id="okc"><a href="#">OKC Metro</a></li>
    <li class="sub okc"><a href="#">Broadway &amp; Britton, OK</a></li>
    <li class="sub okc"><a href="#">Edmond, OK</a></li>
    <li class="sub okc"><a href="#">Midwest City, OK</a></li>
    <li class="sub okc"><a href="#">Moore, OK</a></li>
    <li class="sub okc"><a href="#">Mustang, OK</a></li>
    <li class="sub okc"><a href="#">NW Oklahoma City, OK</a></li>
    <li class="sub okc"><a href="#">Oklahoma City, OK</a></li>
    <li class="sub okc"><a href="#">South Oklahoma City, OK</a></li>
    <li class="sub okc"><a href="#">Yukon, OK</a></li>
    
    <li class="sub ok" id="tul"><a href="#">Tulsa Metro</a></li>
    <li class="sub tul"><a href="#">Broken Arrow, OK</a></li>
    <li class="sub tul"><a href="#">Jenks, OK</a></li>
    <li class="sub tul"><a href="#">Owasso, OK</a></li>
    <li class="sub tul"><a href="#">Tulsa, OK</a></li>
    <li class="sub tul"><a href="#">South Tulsa, OK</a></li>
    <li class="sub tul"><a href="#">South Broken Arrow, OK</a></li>
    
    <li class="sub ok" style="display:none;"><a href="#">Stillwater, OK</a></li>
    <li class="sub ok"><a href="#">Shawnee, OK</a></li>
    
    <li><a href="#" id="tn">Tennessee, US <i class="icon-arrow"></i></a></li>
    <li class="sub tn"><a href="#">Hendersonville, TN</a></li>
    
    <li><a href="#" id="tx">Texas, US <i class="icon-arrow"></i></a></li>
    <li class="sub tx"><a href="#">Keller, TX</a></li>
    <li class="sub tx"><a href="#">Fort Worth, TX</a></li>
    
    <li><a href="#">Church Online <i class="icon-arrow"></i></a></li>
  </ul>
</div>