  {% if item.id == 'serving-13' %}
  <div id="{{ item.id }}" class="grid-item panel involved-item">
  {% unless item.image_small == '' %}
  <img src="{{ item.image_small }}" data-retina="{{ item.image_medium }}" alt="{{ item.title }}" />
  <noscript><img src="{{ item.image_small }}" alt="{{ item.title }}" /></noscript>
  {% endunless %}
  <h6>{{ item.title }}</h6>
  {% unless item.location == "Online" %}
  <p class="detail">{{ item.description_medium | newline_to_br }}</p>
  {% else %}
  <p class="detail">{{ item.description_small | newline_to_br }}</p>
  {% endunless %}
    <p>
      <a href="/castandcrew/">
         Get Involved <i class="icon icon-arrow"></i>
      </a>
    </p>
      
  </div>

  {% elsif item.id == 'serving-14' %}
  <div id="{{ item.id }}" class="grid-item panel involved-item">
  {% unless item.image_small == '' %}
  <img src="{{ item.image_small }}" data-retina="{{ item.image_medium }}" alt="{{ item.title }}" />
  <noscript><img src="{{ item.image_small }}" alt="{{ item.title }}" /></noscript>
  {% endunless %}
  <h6>{{ item.title }}</h6>
  {% unless item.location == "Online" %}
  <p class="detail">{{ item.description_medium | newline_to_br }}</p>
  {% else %}
  <p class="detail">{{ item.description_small | newline_to_br }}</p>
  {% endunless %}
    <p>
      <a href="https://lifechurch.formstack.com/forms/writing_team_interest" target="_new">
         Get Involved <i class="icon icon-arrow"></i>
      </a>
    </p>
      
  </div>
  
  {% else %}

  <div id="{{ item.id }}" class="grid-item panel involved-item">
  {% unless item.image_small == '' %}
  <img src="{{ item.image_small }}" data-retina="{{ item.image_medium }}" alt="{{ item.title }}" />
  <noscript><img src="{{ item.image_small }}" alt="{{ item.title }}" /></noscript>
  {% endunless %}
  <h6>{{ item.title }}</h6>
  {% unless item.location == "Online" %}
  <p class="detail">{{ item.description_medium | newline_to_br }}</p>
  {% else %}
  <p class="detail">{{ item.description_small | newline_to_br }}</p>
  {% endunless %}

  <div class="cta">
    <p>
      <a href="#"
         class="action get-involved"
         onclick="ga('send', 'event', '{{ type }}', 'Click', 'Expand {{ item.title }}');">
         Get Involved <i class="icon icon-arrow"></i>
      </a>
    </p>
  
    {% if include.for == 'hubspot' %}
    <form class="form-involved-hubspot" action="{{ item.recipient }}" method="post">
      <hr />
      <h6>Get Connected</h6>
      <p class="detail">Give us your name and email address and we'll get back to you on how to get started.</p>
      <input type="text" class="details" name="name" placeholder="Name" />
      <input type="text" class="details" name="email" placeholder="Email" />

      <input type="submit"
             class="button small submit-involved"
             value="Send to LifeChurch"
             onclick="ga('send', 'event', '{{ type }}', 'Click', 'New {{ item.title }}');" />
    </form>
    {% else %}
    <form class="form-involved" action="http://lifechurch-site-mailer.herokuapp.com/involved" method="post">
      {% if page.title == "Serving Opportunities" %}
        <input type="hidden" class="recipient" name="recipient" value="{{ item.recipient }}" />
        <input type="hidden" class="title" name="subject" value="{{ item.location }} - {{ item.title }}" />
      {% else %}
        <input type="hidden" class="recipient" name="recipient" value="{{ location.email }}" />
        <input type="hidden" class="title" name="subject" value="{{ location.title }} - {{ item.title }}" />
      {% endif %}
      <hr />
      <h6>Get Connected</h6>
      <p class="detail">Give us your name and email address and we'll get back to you on how to get started.</p>
      <input type="text" class="details" name="name" placeholder="Name" />
      <input type="text" class="details" name="email" placeholder="Email" />

      {% if page.title != "Serving Opportunities" %}
      <input type="text" class="details" name="number" placeholder="Phone number (optional)" />
      {% endif %}

      <input type="submit"
             class="button small submit-involved"
             value="Send to Life.Church"
             onclick="ga('send', 'event', '{{ type }}', 'Click', 'New {{ item.title }}');" />
    </form>
    {% endif %}
  </div>
</div>
  {% endif %}
