<div id="{{ item.id }}" class="grid-item panel involved-item">
<h6 style="font-weight:900;font-size:1.35em;color:black;">{{ item.title }}</h6>
<p class="detail" style="font-style:italic;color:#b4b4b4">{{location.title}}</p>
{% if item.cause != null %}
<p><a class="button">{{ item.cause }}</a></p>
{% endif %}
<p class="detail">{{ item.description_medium | newline_to_br }}</p>

<div class="cta">
  <p>
    <a href="#"
       class="action get-involved"
       onclick="ga('send', 'event', '{{ type }}', 'Click', 'Expand {{ item.title }}');">
       Get Involved <i class="icon icon-arrow"></i>
    </a>
  </p>

  <form class="form-involved" action="http://lifechurch-site-mailer.herokuapp.com/involved" method="post">
    {% if page.title == "Serving Opportunities" %}
      <input type="hidden" class="recipient" name="recipient" value="{{ item.recipient }}" />
      <input type="hidden" class="title" name="subject" value="{{ item.location }} - {{ item.title }}" />
    {% else %}
      <input type="hidden" class="recipient" name="recipient" value="{{ location.email }}" />
      <input type="hidden" class="title" name="subject" value="{{ location.title }} - {{ item.title }}" />
    {% endif %}
    <hr />
    <h6>Get Connected</h6>
    <p class="detail">Give us your name and email address and we'll get back to you on how to get started.</p>
    <input type="text" class="details" name="name" placeholder="Name" />
    <input type="text" class="details" name="email" placeholder="Email" />

    {% if page.title != "Serving Opportunities" %}
    <input type="text" class="details" name="number" placeholder="Phone number (optional)" />
    {% endif %}

    <input type="submit"
           class="button small submit-involved"
           value="Send to Life.Church"
           onclick="ga('send', 'event', '{{ type }}', 'Click', 'New {{ item.title }}');" />
    </form>
  </div>
</div>
