<p>Our mission is to lead people to become fully devoted followers of Christ. That's how we want to make a difference in {{ page.title }}. Here’s how you can help:</p>

<ul class="default">
  <li>Sign up to receive updates about the LifeChurch.tv {{ page.title }} campus, launch date, and staff team.</li>
  <li>Like the <a href="http://www.facebook.com/{{ location.facebook }}">LifeChurch.tv {{ location.title }} Facebook page</a> to get the latest news.</li>
  <li>Invite your friends in the {{ page.title }} area:</li>
</ul>

<a onclick="return popitup('http://twitter.com/home/?status=LifeChurch.tv is coming to {{ page.title }}! Get more info at http://www.lifechurch.tv{{ page.url }}'); ga('send', 'event', 'Locations', 'Click', 'Share Twitter')" href="http://twitter.com/home/?status=LifeChurch.tv is coming to {{ page.title }}! Get more info at lifechurch.tv{{ page.url }}" target="_blank" class="action"><i class="icon-social-twitter"></i> Invite on Twitter</a>
<a onclick="return popitup('http://www.facebook.com/sharer.php?app_id=567912296616576&amp;sdk=joey&amp;u=http%3A%2F%2Fwww.lifechurch.tv{{ page.url }}'); ga('send', 'event', 'Locations', 'Click', 'Share Facebook')" href="http://www.facebook.com/sharer.php?app_id=567912296616576&amp;sdk=joey&amp;u=http%3A%2F%2Fwww.lifechurch.tv{{ page.url }}" target="_blank" class="action"><i class="icon-social-facebook"></i> Invite on Facebook</a>
