<div class="persistent-navigation-wrapper large-element">
  <ul id="persistent-navigation" class="large-element">
    {% if page.spreadtheword == true %}<li><a href="#spreadtheword">Spread the Word</a></li>{% endif %}
    {% if page.location == true %}<li><a href="#location">Location</a></li>{% endif %}
    {% if page.times == true %}<li><a href="#times">Service Times</a></li>{% endif %}
    {% if page.serving == true %}<li><a href="#serving">Serving</a></li>{% endif %}
    {% if location.missions != empty %} <li><a href="#localpartners">Local Partners</a></li> {% endif %}
    {% if page.events == true %}<li><a href="#events">Events</a></li>{% endif %}
    {% if page.connect == true %}<li><a href="#connect">Connect</a></li>{% endif %}
  </ul>
</div>
