{% if include.for == 'connect' %}
<form class="form-contact-simple" action="http://lifechurch-site-mailer.herokuapp.com/contact" method="post">
  <input type="hidden" class="recipient" name="recipient" value="{{ location.email }}" />
  <input type="hidden" class="title" name="subject" value="{{ location.title }} - Whats Next Question or Prayer Request" />
  <input type="text" class="details" name="name" placeholder="Name" />
  <input type="text" class="details" name="email" placeholder="Email" />
  <textarea class="details" name="message" placeholder="Your Message"></textarea>
  <input type="submit"
         class="button small submit-involved"
         value="Send to Life.Church"
         onclick="ga('send', 'event', 'Locations', 'Click', 'New Contact Campus');" />
</form>
{% endif %}
