<section id="map" class="map">
  <figure id="map-oklahoma" class="map-visual"></figure>
  <figure id="map-texas" class="map-visual"></figure>
  <figure id="map-tennessee" class="map-visual"></figure>
  <figure id="map-florida" class="map-visual"></figure>
  <figure id="map-kansas" class="map-visual"></figure>
  <figure id="map-newyork" class="map-visual"></figure>
  <figure id="map-default" class="map-visual"></figure>

  <article class="container">
    <div class="map-panel">
      <div id="florida" class="location-state">
        <h4 class="state-title"><a href="javascript:void(0);">Florida, US</a></h4>
        <ul class="map-list">
          <li><a id="wel" href="/wellington/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}">
            <span class="marker">A</span>
            <h6>Wellington FL</h6>
            {% for location in site.data.locations %}
            {% if location.id == 'wel' %}<p class="detail">{{ location.address }}</p>{% endif %}
            {% endfor %}
          </a></li>
        </ul>
      </div>

      <div id="kansas" class="location-state">
        <h4 class="state-title"><a href="javascript:void(0);">Kansas, US</a></h4>
        <ul class="map-list">
          <li><a id="wch" href="/wichita/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}">
            <span class="marker">A</span>
            <h6>Wichita KS</h6>
            {% for location in site.data.locations %}
            {% if location.id == 'wch' %}<p class="detail">{{ location.address }}</p>{% endif %}
            {% endfor %}
          </a></li>
        </ul>
      </div>

      <div id="newyork" class="location-state">
        <h4 class="state-title"><a href="javascript:void(0);">New York, US</a></h4>
        <ul class="map-list">
          <li><a id="alb" href="/albany/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}">
            <span class="marker">A</span>
            <h6>Albany NY</h6>
            {% for location in site.data.locations %}
            {% if location.id == 'alb' %}<p class="detail">{{ location.address }}</p>{% endif %}
            {% endfor %}
          </a></li>
        </ul>
      </div>

      <div id="oklahoma" class="location-state">
        <h4 class="state-title"><a href="javascript:void(0);" onclick="ga('send', 'event', 'Locations', 'Click', 'Zoom OK');">Oklahoma, US</a></h4>

        <div id="okc-metro" class="map-list">
          <h5>Oklahoma City Metro OK</h5>
          <ul>
            <li><a id="bnb" href="/broadwaybritton/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}">
              <span class="marker">A</span>
              <h6>Broadway & Britton OK</h6>
              {% for location in site.data.locations %}
              {% if location.id == 'bnb' %}<p class="detail">{{ location.address }}</p>{% endif %}
              {% endfor %}
            </a></li>

            <li><a id="edm" href="/edmond/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}">
              <span class="marker">B</span>
              <h6>Edmond OK</h6>
              {% for location in site.data.locations %}
              {% if location.id == 'edm' %}<p class="detail">{{ location.address }}</p>{% endif %}
              {% endfor %}
            </a></li>

            <li><a id="mwc" href="/midwestcity/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}">
              <span class="marker">C</span>
              <h6>Midwest City OK</h6>
              {% for location in site.data.locations %}
              {% if location.id == 'mwc' %}<p class="detail">{{ location.address }}</p>{% endif %}
              {% endfor %}
            </a></li>

            <li><a id="mor" href="/moore/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}">
              <span class="marker">D</span>
              <h6>Moore OK</h6>
              {% for location in site.data.locations %}
              {% if location.id == 'mor' %}<p class="detail">{{ location.address }}</p>{% endif %}
              {% endfor %}
            </a></li>

            <li><a id="noc" href="/northwestokc/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}">
              <span class="marker">E</span>
              <h6>NW Oklahoma City OK</h6>
              {% for location in site.data.locations %}
              {% if location.id == 'noc' %}<p class="detail">{{ location.address }}</p>{% endif %}
              {% endfor %}
            </a></li>

            <li><a id="okc" href="/okc/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}">
              <span class="marker">F</span>
              <h6>Oklahoma City OK</h6>
              {% for location in site.data.locations %}
              {% if location.id == 'okc' %}<p class="detail">{{ location.address }}</p>{% endif %}
              {% endfor %}
            </a></li>

            <li><a id="soc" href="/southokc/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}">
              <span class="marker">G</span>
              <h6>South Oklahoma City OK</h6>
              {% for location in site.data.locations %}
              {% if location.id == 'soc' %}<p class="detail">{{ location.address }}</p>{% endif %}
              {% endfor %}
            </a></li>

            <li><a id="ykn" href="/yukon/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}">
              <span class="marker">H</span>
              <h6>Yukon OK</h6>
              {% for location in site.data.locations %}
              {% if location.id == 'ykn' %}<p class="detail">{{ location.address }}</p>{% endif %}
              {% endfor %}
            </a></li>
          </ul>
        </div>

        <div id="tulsa-metro" class="map-list">
          <h5>Tulsa Metro OK</h5>
          <ul>
            <li><a id="bao" href="/brokenarrow/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}">
              <span class="marker">I</span>
              <h6>Broken Arrow OK</h6>
              {% for location in site.data.locations %}
              {% if location.id == 'bao' %}<p class="detail">{{ location.address }}</p>{% endif %}
              {% endfor %}
            </a></li>

            <li><a id="jnk" href="/jenks/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}">
              <span class="marker">J</span>
              <h6>Jenks OK</h6>
              {% for location in site.data.locations %}
              {% if location.id == 'jnk' %}<p class="detail">{{ location.address }}</p>{% endif %}
              {% endfor %}
            </a></li>

            <li><a id="ows" href="/owasso/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}">
              <span class="marker">K</span>
              <h6>Owasso OK</h6>
              {% for location in site.data.locations %}
              {% if location.id == 'ows' %}<p class="detail">{{ location.address }}</p>{% endif %}
              {% endfor %}
            </a></li>

            <li><a id="tul" href="/tulsa/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}">
              <span class="marker">L</span>
              <h6>Tulsa OK</h6>
              {% for location in site.data.locations %}
              {% if location.id == 'tul' %}<p class="detail">{{ location.address }}</p>{% endif %}
              {% endfor %}
            </a></li>

            <li><a id="sto" href="/southtulsa/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}">
              <span class="marker">M</span>
              <h6>South Tulsa OK</h6>
              {% for location in site.data.locations %}
              {% if location.id == 'sto' %}<p class="detail">{{ location.address }}</p>{% endif %}
              {% endfor %}
            </a></li>
          </ul>
        </div>

        <div id="stillwater" class="map-list">
          <h5>Stillwater OK</h5>
          <ul>
            <li><a id="stw" href="/stillwater/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}">
              <span class="marker">N</span>
              <h6>Stillwater OK</h6>
              {% for location in site.data.locations %}
              {% if location.id == 'stw' %}<p class="detail">{{ location.address }}</p>{% endif %}
              {% endfor %}
            </a></li>
          </ul>
        </div>
      </div>

      <div id="tennessee" class="location-state">
        <h4 class="state-title"><a href="javascript:void(0);">Tennessee, US</a></h4>
        <ul class="map-list">
          <li><a id="hnv" href="/hendersonville/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}">
            <span class="marker">A</span>
            <h6>Hendersonville TN</h6>
            {% for location in site.data.locations %}
            {% if location.id == 'hnv' %}<p class="detail">{{ location.address }}</p>{% endif %}
            {% endfor %}
          </a></li>
        </ul>
      </div>

      <div id="texas" class="location-state">
        <h4 class="state-title"><a href="javascript:void(0);" onclick="ga('send', 'event', 'Locations', 'Click', 'Zoom TX');">Texas, US</a></h4>
        <ul class="map-list">
          <li><a id="klr" href="/keller/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}">
            <span class="marker">A</span>
            <h6>Keller TX</h6>
            {% for location in site.data.locations %}
            {% if location.id == 'klr' %}<p class="detail">{{ location.address }}</p>{% endif %}
            {% endfor %}
          </a></li>

          <li><a id="ftw" href="/fortworth/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}">
            <span class="marker">B</span>
            <h6>Fort Worth TX</h6>
            {% for location in site.data.locations %}
            {% if location.id == 'ftw' %}<p class="detail">{{ location.address }}</p>{% endif %}
            {% endfor %}
          </a></li>
        </ul>
      </div>

      {% if include.for == 'locations' %}
      <div class="more-options">
        <h4>Not near you?</h4>
        <p class="detail"><!--<a href="#">Let us know where you'd like us to build next</a>. Alternatively, <a href="//www.networkchurches.tv">visit a Network Church</a> or <a href="//live.lifechurch.tv">join Church Online <i class="icon icon-arrow"></i></a>.</a>-->
        <p class="detail"><a href="//www.networkchurches.tv">Visit a Network Church</a> or <a href="//live.lifechurch.tv">join Church Online <i class="icon icon-arrow"></i></a></a>
      </div>
      {% endif %}
    </div>
  </article>
</section>
