<section id="map" class="map">
  <figure id="map-oklahoma" class="map-visual"></figure>
  <figure id="map-texas" class="map-visual"></figure>
  <figure id="map-tennessee" class="map-visual"></figure>
  <figure id="map-florida" class="map-visual"></figure>
  <figure id="map-kansas" class="map-visual"></figure>
  <figure id="map-newyork" class="map-visual"></figure>
  <figure id="map-newmexico" class="map-visual"></figure>
  <figure id="map-default" class="map-visual"></figure>

  <article class="container">
    <div class="map-panel">
      <a class='close-connect-form' href='javascript:void(0);'><i class="icon icon-up"></i> Back to the list</a>

      <div id="florida" class="location-state">
        <a class='view-all-states' href='javascript:void(0);'><i class="icon icon-up"></i> View all states</a>
        <h4 class="state-title"><a href="javascript:void(0);">Florida, US</a></h4>
        <ul class="map-list">
        {% for location in site.data.locations %}
        {% if location.id == 'wel' %}
          <li>
            <a id="wel" href="/wellington/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}" onclick="ga('send', 'event', 'Map', 'Click', 'Campus WEL');">
              <span class="marker">A</span>
              <h6><span class="prepend-connect">Connect with&nbsp;</span>Wellington, FL</h6>
              <p class="detail">{{ location.address }}</p>
            </a>
            {% include map-connect.html %}
          </li>
        {% endif %}
        {% endfor %}
        </ul>
      </div>

      <div id="kansas" class="location-state">
        <a class='view-all-states' href='javascript:void(0);'><i class="icon icon-up"></i> View all states</a>
        <h4 class="state-title"><a href="javascript:void(0);">Kansas, US</a></h4>
        <ul class="map-list">
        {% for location in site.data.locations %}
          {% if location.id == 'OPK' %}
          <li>
            <a id="opk" href="/overlandpark/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}" onclick="ga('send', 'event', 'Map', 'Click', 'Campus OPK');">
              <span class="marker">A</span>
              <h6><span class="prepend-connect">Connect with &nbsp;</span>Overland Park, KS</h6>
              <p class="detail">{{ location.address }}</p>
            </a>
            {% include map-connect.html %}
          </li>
          {% endif %}
          {% endfor %}
          
          {% for location in site.data.locations %}
          {% if location.id == 'wch' %}
          <li>
            <a id="wch" href="/wichita/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}" onclick="ga('send', 'event', 'Map', 'Click', 'Campus WCH');">
              <span class="marker">B</span>
              <h6><span class="prepend-connect">Connect with &nbsp;</span>Wichita, KS</h6>
              <p class="detail">{{ location.address }}</p>
            </a>
            {% include map-connect.html %}
          </li>
        {% endif %}
        {% endfor %}
        </ul>
      </div>
			
      <div id="newmexico" class="location-state">
        <a class='view-all-states' href='javascript:void(0);'><i class="icon icon-up"></i> View all states</a>
        <h4 class="state-title"><a href="javascript:void(0);">New Mexico, US</a></h4>
        <ul class="map-list">
        {% for location in site.data.locations %}
        {% if location.id == 'RRN' %}
          <li>
            <a id="rrn" href="/riorancho/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}" onclick="ga('send', 'event', 'Map', 'Click', 'Campus RRN');">
              <span class="marker">A</span>
              <h6><span class="prepend-connect">Connect with &nbsp;</span>Rio Rancho, NM</h6>
              <p class="detail">{{ location.address }}</p>
            </a>
            {% include map-connect.html %}
          </li>
        {% endif %}
        {% endfor %}
        </ul>
      </div>

      <div id="newyork" class="location-state">
        <a class='view-all-states' href='javascript:void(0);'><i class="icon icon-up"></i> View all states</a>
        <h4 class="state-title"><a href="javascript:void(0);">New York, US</a></h4>
        <ul class="map-list">
        {% for location in site.data.locations %}
        {% if location.id == 'alb' %}
          <li>
            <a id="alb" href="/albany/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}" onclick="ga('send', 'event', 'Map', 'Click', 'Campus ALB');">
              <span class="marker">A</span>
              <h6><span class="prepend-connect">Connect with &nbsp;</span>Albany, NY</h6>
              <p class="detail">{{ location.address }}</p>
            </a>
            {% include map-connect.html %}
          </li>
        {% endif %}
        {% endfor %}
        </ul>
      </div>

      <div id="oklahoma" class="location-state">
        <a class='view-all-states' href='javascript:void(0);'><i class="icon icon-up"></i> View all states</a>
        <h4 class="state-title"><a href="javascript:void(0);" onclick="ga('send', 'event', 'Locations', 'Click', 'Zoom OK');">Oklahoma, US</a></h4>

        <div id="okc-metro" class="map-list">
          <h5>Oklahoma City Metro OK</h5>
          <ul>
           
          {% for location in site.data.locations %}
          {% if location.id == 'bnb' %}
            <li>
              <a id="bnb" href="/broadwaybritton/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}" onclick="ga('send', 'event', 'Map', 'Click', 'Campus BNB');">
                <span class="marker">A</span>
                <h6><span class="prepend-connect">Connect with&nbsp;</span>Broadway &amp; Britton, OK</h6>
                <p class="detail">{{ location.address }}</p>
              </a>
              {% include map-connect.html %}
            </li>
          {% endif %}
          {% endfor %}
            
          {% for location in site.data.locations %}
          {% if location.id == 'cen' %}
            <li>
              <a id="cen" href="/central/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}" onclick="ga('send', 'event', 'Map', 'Click', 'Campus EDM');">
                <span class="marker">B</span>
                <h6><span class="prepend-connect">Connect with&nbsp;</span>Central Support</h6>
                <p class="detail">{{ location.address }}</p>
              </a>
              {% include map-connect.html %}
            </li>
          {% endif %}
          {% endfor %}  

          {% for location in site.data.locations %}
          {% if location.id == 'edm' %}
            <li>
              <a id="edm" href="/edmond/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}" onclick="ga('send', 'event', 'Map', 'Click', 'Campus EDM');">
                <span class="marker">B</span>
                <h6><span class="prepend-connect">Connect with&nbsp;</span>Edmond, OK</h6>
                <p class="detail">{{ location.address }}</p>
              </a>
              {% include map-connect.html %}
            </li>
          {% endif %}
          {% endfor %}

          {% for location in site.data.locations %}
          {% if location.id == 'mwc' %}
            <li>
              <a id="mwc" href="/midwestcity/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}" onclick="ga('send', 'event', 'Map', 'Click', 'Campus MWC');">
                <span class="marker">C</span>
                <h6><span class="prepend-connect">Connect with&nbsp;</span>Midwest City, OK</h6>
                <p class="detail">{{ location.address }}</p>
              </a>
              {% include map-connect.html %}
            </li>
          {% endif %}
          {% endfor %}

          {% for location in site.data.locations %}
          {% if location.id == 'mor' %}
            <li>
              <a id="mor" href="/moore/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}" onclick="ga('send', 'event', 'Map', 'Click', 'Campus MOR');">
                <span class="marker">D</span>
                <h6><span class="prepend-connect">Connect with&nbsp;</span>Moore, OK</h6>
                <p class="detail">{{ location.address }}</p>
              </a>
              {% include map-connect.html %}
            </li>
          {% endif %}
          {% endfor %}

          {% for location in site.data.locations %}
          {% if location.id == 'mus' %}
            <li>
              <a id="mwc" href="/mustang/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}" onclick="ga('send', 'event', 'Map', 'Click', 'Campus MUS');">
                <span class="marker">E</span>
                <h6><span class="prepend-connect">Connect with&nbsp;</span>Mustang, OK</h6>
                <p class="detail">{{ location.address }}</p>
              </a>
              {% include map-connect.html %}
            </li>
          {% endif %}
          {% endfor %}

          {% for location in site.data.locations %}
          {% if location.id == 'noc' %}
            <li>
              <a id="noc" href="/northwestokc/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}" onclick="ga('send', 'event', 'Map', 'Click', 'Campus NOC');">
                <span class="marker">F</span>
                <h6><span class="prepend-connect">Connect with&nbsp;</span>NW Oklahoma City, OK</h6>
                <p class="detail">{{ location.address }}</p>
              </a>
              {% include map-connect.html %}
            </li>
          {% endif %}
          {% endfor %}

          {% for location in site.data.locations %}
          {% if location.id == 'okc' %}
            <li>
              <a id="okc" href="/okc/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}" onclick="ga('send', 'event', 'Map', 'Click', 'Campus OKC');">
                <span class="marker">G</span>
                <h6><span class="prepend-connect">Connect with&nbsp;</span>Oklahoma City, OK</h6>
                <p class="detail">{{ location.address }}</p>
              </a>
              {% include map-connect.html %}
            </li>
          {% endif %}
          {% endfor %}

          {% for location in site.data.locations %}
          {% if location.id == 'soc' %}
            <li>
              <a id="soc" href="/southokc/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}" onclick="ga('send', 'event', 'Map', 'Click', 'Campus SOC');">
                <span class="marker">H</span>
                <h6><span class="prepend-connect">Connect with&nbsp;</span>South Oklahoma City, OK</h6>
                <p class="detail">{{ location.address }}</p>
              </a>
              {% include map-connect.html %}
            </li>
          {% endif %}
          {% endfor %}

          {% for location in site.data.locations %}
          {% if location.id == 'ykn' %}
            <li>
              <a id="ykn" href="/yukon/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}" onclick="ga('send', 'event', 'Map', 'Click', 'Campus YKN');">
                <span class="marker">I</span>
                <h6><span class="prepend-connect">Connect with&nbsp;</span>Yukon, OK</h6>
                <p class="detail">{{ location.address }}</p>
              </a>
              {% include map-connect.html %}
            </li>
          {% endif %}
          {% endfor %}
          </ul>
        </div>

        <div id="tulsa-metro" class="map-list">
          <h5>Tulsa Metro OK</h5>
          <ul>
          {% for location in site.data.locations %}
          {% if location.id == 'bao' %}
            <li>
              <a id="bao" href="/brokenarrow/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}" onclick="ga('send', 'event', 'Map', 'Click', 'Campus BAO');">
                <span class="marker">J</span>
                <h6><span class="prepend-connect">Connect with&nbsp;</span>Broken Arrow, OK</h6>
                <p class="detail">{{ location.address }}</p>
              </a>
              {% include map-connect.html %}
            </li>
          {% endif %}
          {% endfor %}

          {% for location in site.data.locations %}
          {% if location.id == 'jnk' %}
            <li>
              <a id="jnk" href="/jenks/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}" onclick="ga('send', 'event', 'Map', 'Click', 'Campus JNK');">
                <span class="marker">K</span>
                <h6><span class="prepend-connect">Connect with&nbsp;</span>Jenks, OK</h6>
                {% if location.id == 'jnk' %}<p class="detail">{{ location.address }}</p>{% endif %}
              </a>
              {% include map-connect.html %}
            </li>
          {% endif %}
          {% endfor %}

          {% for location in site.data.locations %}
          {% if location.id == 'ows' %}
            <li>
              <a id="ows" href="/owasso/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}" onclick="ga('send', 'event', 'Map', 'Click', 'Campus OWS');">
                <span class="marker">L</span>
                <h6><span class="prepend-connect">Connect with&nbsp;</span>Owasso, OK</h6>
                <p class="detail">{{ location.address }}</p>
              </a>
              {% include map-connect.html %}
            </li>
          {% endif %}
          {% endfor %}
          
          {% for location in site.data.locations %}
          {% if location.id == 'tul' %}
            <li>
              <a id="tul" href="/tulsa/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}" onclick="ga('send', 'event', 'Map', 'Click', 'Campus TUL');">
                <span class="marker">M</span>
                <h6><span class="prepend-connect">Connect with&nbsp;</span>Midtown Tulsa, OK</h6>
                <p class="detail">{{ location.address }}</p>
              </a>
              {% include map-connect.html %}
            </li>
          {% endif %}
          {% endfor %}

          {% for location in site.data.locations %}
          {% if location.id == 'sto' %}
            <li>
              <a id="sto" href="/southtulsa/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}" onclick="ga('send', 'event', 'Map', 'Click', 'Campus STO');">
                <span class="marker">N</span>
                <h6><span class="prepend-connect">Connect with&nbsp;</span>South Tulsa, OK</h6>
                <p class="detail">{{ location.address }}</p>
              </a>
              {% include map-connect.html %}
            </li>
          {% endif %}
          {% endfor %}

          {% for location in site.data.locations %}
          {% if location.id == 'sba' %}
            <li>
              <a id="sba" href="/southbrokenarrow/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}" onclick="ga('send', 'event', 'Map', 'Click', 'Campus STO');">
                <span class="marker">O</span>
                <h6><span class="prepend-connect">Connect with&nbsp;</span>South Broken Arrow, OK</h6>
                <p class="detail">{{ location.address }}</p>
              </a>
              {% include map-connect.html %}
            </li>
          {% endif %}
          {% endfor %}
          </ul>
        </div>

        <div id="stillwater" class="map-list">
          <h5>Stillwater OK</h5>
          <ul>
          {% for location in site.data.locations %}
          {% if location.id == 'stw' %}
            <li>
              <a id="stw" href="/stillwater/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}" onclick="ga('send', 'event', 'Map', 'Click', 'Campus STW');">
                <span class="marker">P</span>
                <h6><span class="prepend-connect">Connect with&nbsp;</span>Stillwater, OK</h6>
                {% if location.id == 'stw' %}<p class="detail">{{ location.address }}</p>{% endif %}
              </a>
              {% include map-connect.html %}
            </li>
          {% endif %}
          {% endfor %}
          </ul>
        </div>

        <div id="shawnee" class="map-list">
          <h5>Shawnee OK</h5>
          <ul>
            {% for location in site.data.locations %}
            {% if location.id == 'shw' %}
              <li>
                <a id="shw" href="/shawnee/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}" onclick="ga('send', 'event', 'Map', 'Click', 'Campus OKC');">
                  <span class="marker">Q</span>
                  <h6><span class="prepend-connect">Connect with&nbsp;</span>Shawnee, OK</h6>
                  <p class="detail">{{ location.address }}</p>
                </a>
                {% include map-connect.html %}
              </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>

      <div id="tennessee" class="location-state">
        <a class='view-all-states' href='javascript:void(0);'><i class="icon icon-up"></i> View all states</a>
        <h4 class="state-title"><a href="javascript:void(0);">Tennessee, US</a></h4>
        <ul class="map-list">
        {% for location in site.data.locations %}
        {% if location.id == 'hnv' %}
          <li>
            <a id="hnv" href="/hendersonville/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}" onclick="ga('send', 'event', 'Map', 'Click', 'Campus HNV');">
              <span class="marker">A</span>
              <h6><span class="prepend-connect">Connect with&nbsp;</span>Hendersonville, TN</h6>
              <p class="detail">{{ location.address }}</p>
            </a>
            {% include map-connect.html %}
          </li>
        {% endif %}
        {% endfor %}
        </ul>
      </div>

      <div id="texas" class="location-state">
        <a class='view-all-states' href='javascript:void(0);'><i class="icon icon-up"></i> View all states</a>
        <h4 class="state-title"><a href="javascript:void(0);" onclick="ga('send', 'event', 'Locations', 'Click', 'Zoom TX');">Texas, US</a></h4>
        <ul class="map-list">
        {% for location in site.data.locations %}
        {% if location.id == 'klr' %}
          <li>
            <a id="klr" href="/keller/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}" onclick="ga('send', 'event', 'Map', 'Click', 'Campus KLR');">
              <span class="marker">A</span>
              <h6><span class="prepend-connect">Connect with&nbsp;</span>Keller, TX</h6>
              <p class="detail">{{ location.address }}</p>
            </a>
            {% include map-connect.html %}
          </li>
        {% endif %}
        {% endfor %}

        {% for location in site.data.locations %}
        {% if location.id == 'ftw' %}
          <li>
            <a id="ftw" href="/fortworth/{% if include.for and include.for != '' and include.for != 'locations' %}#{{ include.for }}{% endif %}" onclick="ga('send', 'event', 'Map', 'Click', 'Campus FTW');">
              <span class="marker">B</span>
              <h6><span class="prepend-connect">Connect with&nbsp;</span>Fort Worth, TX</h6>
              <p class="detail">{{ location.address }}</p>
            </a>
            {% include map-connect.html %}
          </li>
        {% endif %}
        {% endfor %}
        </ul>
      </div>

      {% if include.for == 'locations' %}
      <div class="more-options">
        <a id="online" href="//live.life.church/" onclick="ga('send', 'event', 'Map', 'Click', 'Church Online');">
          <h6>Church Online</h6>
        </a>
        <a id="network" href="//www.network.church/locations" onclick="ga('send', 'event', 'Map', 'Click', 'Network Churches');">
          <h6>Network Churches</h6>
        </a>
      </div>
      {% endif %}

      {% if include.for == 'connect' %}
      <div class="more-options">
        <a id="online" href="/churchonline/" onclick="ga('send', 'event', 'Map', 'Click', 'Church Online');">
          <h6><span class="prepend-connect">Connect with&nbsp;</span>Church Online</h6>
        </a>

        <form class="form-contact-simple-hubspot" action="https://forms.hubspot.com/uploads/form/v2/449781/26849e7a-cafd-4de8-a6f8-6227530ba259" method="post">
          <input type="text" class="details" name="name" placeholder="Name" />
          <input type="text" class="details" name="email" placeholder="Email" />
          <textarea class="details" name="message" placeholder="Your Message"></textarea>
          <input type="submit"
                 class="button small submit-involved"
                 value="Send to Life.Church"
                 onclick="ga('send', 'event', 'Locations', 'Click', 'New Contact Campus');" />
        </form>

        <a id="network" href="//www.network.church/locations" onclick="ga('send', 'event', 'Map', 'Click', 'Network Churches');">
          <h6>Network Churches</h6>
        </a>
      </div>
      {% endif %}
    </div>
  </article>
</section>
