<section id="menu" name="menu" class="more-menu">
  <div class="more-inner">
    <div class="small-primary">
      <h5>Navigation</h5>
      <dl>
        <a class="nav-live" href="http://live.lifechurch.tv" onclick="ga('send', 'event', 'Global', 'Click', 'Navigation Live');">
          <dt>Watch Live<dt>
          <dd>Check out LifeChurch.tv Live online community.</dd>
        </a>
        <a class="nav-watch" href="/watch/" onclick="ga('send', 'event', 'Global', 'Click', 'Menu Watch (Small)');">
          <dt>Watch On Demand</dt>
          <dd>Check out a LifeChurch.tv message—live with our Church Online community or on demand.</dd>
        </a>
        <a href="/locations/" onclick="ga('send', 'event', 'Global', 'Click', 'Menu Locations (Small)');">
          <dt>Locations</dt>
          <dd>Find out more about our campuses located all over the US.</dd>
        </a>
        <a href="/giving/" onclick="ga('send', 'event', 'Global', 'Click', 'Menu Giving (Small)');">
          <dt>Give</dt>
          <dd>Taking action on your generosity is simple. Find out how to give at LifeChurch.tv.</dd>
        </a>
      </dl>
    </div>

    <h5>Ways to get involved</h5>
    <dl>
      <a href="/kids/" onclick="ga('send', 'event', 'Global', 'Click', 'Menu Kids & Youth');">
        <dt>Kids &amp; Youth</dt>
        <dd>Partner with us to engage the next generation of fully devoted followers of Christ.</dd>
      </a>

      <a href="/lifegroups/" onclick="ga('send', 'event', 'Global', 'Click', 'Menu LifeGroups');">
        <dt>LifeGroups</dt>
        <dd>Find out how you can grow, laugh, and serve with other believers through a LifeGroup.</dd>
      </a>

      <a href="/lifemissions/" onclick="ga('send', 'event', 'Global', 'Click', 'Menu LifeMissions');">
        <dt>LifeMissions</dt>
        <dd>Join us in building and supporting relationships that inspire change locally and around the world.</dd>
      </a>

      <a href="/serving/" onclick="ga('send', 'event', 'Global', 'Click', 'Menu Serving');">
        <dt>Serving Opportunities</dt>
        <dd>God can use your gifts and skills to make a difference in the lives of others at LifeChurch.tv.</dd>
      </a>

      <a href="/jobs/" onclick="ga('send', 'event', 'Global', 'Click', 'Menu Jobs');">
        <dt>Job Openings</dt>
        <dd>Some call it a job. We say it's a calling. Find out more about job opportunities at LifeChurch.tv.</dd>
      </a>

      <a href="/tools/" onclick="ga('send', 'event', 'Global', 'Click', 'Menu Tools');">
        <dt>Apps & Sites</dt>
        <dd>We want to equip you, your family and your LifeGroup.</dd>
      </a>
    </dl>

    <h5>A bit about us</h5>
    <dl>
      <a href="/who-we-are/" onclick="ga('send', 'event', 'Global', 'Click', 'Menu Who We Are');">
        <dt>Who We Are</dt>
        <dd>Find out how we want to make a lasting difference in your life, our community, and the world.</dd>
      </a>

      <a href="/beliefs/" onclick="ga('send', 'event', 'Global', 'Click', 'Menu Beliefs');">
        <dt>Our Beliefs</dt>
        <dd>Learn more about what we believe as fully devoted followers of Christ.</dd>
      </a>

      <a href="/what-to-expect/" onclick="ga('send', 'event', 'Global', 'Click', 'Menu What To Expect');">
        <dt>What to Expect</dt>
        <dd>Visiting for the first time? We want you to know what you'll find at LifeChurch.tv.</dd>
      </a>

      <a href="/churches/" onclick="ga('send', 'event', 'Global', 'Click', 'Menu Equipping Churches');">
        <dt>Equipping Churches</dt>
        <dd>Find free tools and resources created by LifeChurch.tv for churches around the world.</dd>
      </a>

      <a href="/contact/" onclick="ga('send', 'event', 'Global', 'Click', 'Menu Contact');">
        <dt>Contact Us</dt>
        <dd>We love to hear from the great people who visit and attend LifeChurch.tv.</dd>
      </a>
    </dl>
  </div>
</section>
