<section id="menu" class="more-menu">
  <div class="more-inner">
    <div class="small-primary">
      <h5>Navigation</h5>
      <dl>
        <a class="nav-watch" href="/watch/">
          <dt>Watch a Message<span class="live hide"> Live</span></dt>
          <dd>Check out a LifeChurch.tv message—live with our Church Online community or on demand.</dd>
        </a>
        <a href="/locations/">
          <dt>Locations</dt>
          <dd>Find out more about our campuses located all over the US.</dd>
        </a>
        <a href="/giving/">
          <dt>Give</dt>
          <dd>Taking action on your generosity is simple. Find out how to give at LifeChurch.tv.</dd>
        </a>
        <a href="/who-we-are/">
          <dt>New Here?</dt>
          <dd>Learn more about who we are, what we believe, and how we'd love to serve you.</dd>
        </a>
      </dl>
    </div>

    <h5>Ways to get involved</h5>
    <dl>
      <a href="/kids/">
        <dt>Kids &amp; Youth</dt>
        <dd>Partner with us to engage the next generation of fully devoted followers of Christ.</dd>
      </a>

      <a href="/lifegroups/">
        <dt>LifeGroups</dt>
        <dd>Find out how you can grow, laugh, and serve with other believers through a LifeGroup.</dd>
      </a>

      <a href="/lifemissions/">
        <dt>LifeMissions</dt>
        <dd>Join us in building and supporting relationships that inspire change locally and around the world.</dd>
      </a>

      <a href="/serving/">
        <dt>Serving Opportunities</dt>
        <dd>God can use your gifts and skills to make a difference in the lives of others at LifeChurch.tv.</dd>
      </a>

      <a href="/jobs/">
        <dt>Job Openings</dt>
        <dd>Some call it a job. We say it's a calling. Find out more about job opportunities at LifeChurch.tv.</dd>
      </a>

      <a href="/tools/">
        <dt>Apps & Sites</dt>
        <dd>We want to help equip you on your journey of growth.</dd>
      </a>
    </dl>

    <h5>A bit about us</h5>
    <dl>
      <a href="/who-we-are/">
        <dt>Who We Are</dt>
        <dd>Find out how we want to make a lasting difference in your life, our community, and the world.</dd>
      </a>

      <a href="/beliefs/">
        <dt>Our Beliefs</dt>
        <dd>Learn more about what we believe as fully devoted followers of Christ.</dd>
      </a>

      <a href="/what-to-expect/">
        <dt>What to Expect</dt>
        <dd>Visiting for the first time? We want you to know what you'll find at LifeChurch.tv.</dd>
      </a>

      <a href="/equipping-churches/">
        <dt>Equipping Churches</dt>
        <dd>Find free tools and resources created by LifeChurch.tv for churches around the world.</dd>
      </a>

      <a href="/contact/">
        <dt>Contact Us</dt>
        <dd>We love to hear from the great people who visit and attend LifeChurch.tv.</dd>
      </a>
    </dl>
  </div>
</section>
