<!-- Navigation -->
<div class="navigation-wrapper">
  <header id="navigation">
    <div class="container">
      <a id="header-logo" href="/" onclick="ga('send', 'event', 'Global', 'Click', 'Navigation Home');">LifeChurch.tv</a>
      {% unless page.section == 'landing' %}
      <nav>
        <a class="nav-live" href="http://live.lifechurch.tv" onclick="ga('send', 'event', 'Global', 'Click', 'Navigation Live');">Watch Live <span>Starts soon</span></a>
        <a class="nav-watch" href="/watch/" onclick="ga('send', 'event', 'Global', 'Click', 'Navigation Watch');">Watch On Demand</a>
        <a href="/locations" onclick="ga('send', 'event', 'Global', 'Click', 'Navigation Locations');">Locations</a>
        <a href="/giving/" onclick="ga('send', 'event', 'Global', 'Click', 'Navigation Give');">Give</a>
        <a href="/who-we-are/" onclick="ga('send', 'event', 'Global', 'Click', 'Navigation Who We Are');">Who We Are</a>
        <a href="#menu" class="js-more-trigger" onclick="ga('send', 'event', 'Global', 'Click', 'Navigation Menu');">Menu <span class="more-line-1"></span><span class="more-line-2"></span><span class="more-line-3"></span></a>
      </nav>
      {% endunless %}
    </div>
  </header>
</div>
