<!-- Navigation -->
<header id="navigation">
  <div class="container">
    <a id="header-logo" href="/">LifeChurch.tv</a>
    <nav>
      <a class="nav-watch" href="/watch/">Watch a Message<span class="live hide"> Live</span></a>
      <a href="/locations">Locations</a>
      <a href="/giving/">Give</a>
      <a href="/who-we-are/">New Here?</a>
      <a href="#menu" class="js-more-trigger">Menu <span class="more-line-1"></span><span class="more-line-2"></span><span class="more-line-3"></span></a>
    </nav>
  </div>
</header>
