<!-- Tertiary -->
<div class="container">
  <section id="tertiary">
    <nav class="breadcrumb">
      {% if page.section == "locations"       %}<a href="/locations/">Locations</a>{% endif %}
      {% if page.section == "locations-promo" %}<a href="/locations/">Locations</a>{% endif %}
      {% if page.section == "watch"           %}<a href="/watch/">Watch</a>{% endif %}
      {% if page.section == "watch archive"   %}<a href="/watch/">Watch</a>{% endif %}
      {% if page.section == "about"           %}<a href="/who-we-are/">About</a>{% endif %}
      {% if page.section == "giving"          %}<a href="/giving/">Giving</a>{% endif %}
      {% if page.section == "lifemissions"    %}<a href="/lifemissions/">LifeMissions</a>{% endif %}
      {% if page.section == "jobs"            %}<a href="/jobs/">Jobs</a>{% endif %}
      {% if page.section == "announcements"   %}<a href="/announcements/">Announcements</a>{% endif %}
      {% if page.section == "talkitover"      %}<a href="/watch">Watch</a><a href="{{ series.url }}">{{ data.title }}</a>{% endif %}
      <a class="current" href="#">{{ page.title }}</a>
    </nav>
    <div class="resources">
      {% if page.section == "watch" or page.section == "watch-promo" %}
      <div class="button-with-options">
        <a class="button secondary" href="#" onclick="ga('send', 'event', 'Series', 'Click', 'Resources Expand');">Downloads &amp; Resources</a>
        {% include watch-resources.html %}
      </div>
      {% endif %}

      {% if page.section == "locations" %}
      <div>
      <a href="#"
         data-set-campus="{{page.location-id}}"
         class="locations-mycampus button tiny"
         onclick="ga('send', 'event', 'Locations', 'Click', 'Campus Mine');">
         Save as your campus?
      </a>
      <a href="#"
         data-unset-campus
         class="locations-mycampus button tiny secondary"
         onclick="ga('send', 'event', 'Locations', 'Click', 'Campus Not Mine');">
         Not your campus?
      </a>
      </div>
      {% endif %}
    </div>
  </section>
</div> 

