<section id="video-{{include.id}}" class="video-player">
  <div class="close"><i class="icon icon-close"></i></div>
  <div class="video-player-inner">

      <div class="wistia-flex-video widescreen">
        <iframe src="//fast.wistia.net/embed/iframe/{{include.id}}?playerColor=B9252D&version=v1" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" width="640" height="360"></iframe>
      </div>
      <div class="social">

      </div>

  </div>
</section>
