// Who We Are
///////////////////////////////////////////////////////////////////////////////

.who-we-are {

  @media only screen and (max-width: $medium-screen) {
    h1 {
      margin-top: 15px;
    }

    .who-we-are-bg blockquote {
      margin-top: 70px;
    }
  }

  .who-we-are-bg {
    @include retina-image(/images/about/whoweare-bg-small, cover, jpg);
    background-position: center top;
    background-repeat: no-repeat;

    @include media($medium-screen) {
      @include retina-image(/images/about/whoweare-bg, 1500px 636px, jpg);
    }

    blockquote p {
      color: white;
    }
  }
}


// Jobs
///////////////////////////////////////////////////////////////////////////////

.jobs {

  .section-jobs-top { 
    @include retina-image(/images/jobs/jobs-bg-small, cover, jpg);
    min-height: 300px;


    h1 {
      margin-top: 10px;
    }

    @include media($medium-screen) {
      @include retina-image(/images/jobs/jobs-bg, 1500px auto, jpg);
      background-position: center top;
      background-repeat: no-repeat;
      height: 570px;

      h1 {
        margin-top: 230px;
      }
    }

    .lt-ie9 & {
      background: url('/images/jobs/jobs-bg.jpg') center top no-repeat;
    }
  }

  // Listings
  .job-title {
    list-style: none;
    margin-left: -1.1rem;
  }
}


// 404
///////////////////////////////////////////////////////////////////////////////

.page-404 {
  .page-tertiary {
    display: none;
  }
}


// Challenge
///////////////////////////////////////////////////////////////////////////////

.challenge-bg {
  @include retina-image(/images/about/challenge-bg-small, cover, jpg);
  background-position: center top;
  background-repeat: no-repeat;

  @include media($medium-screen) {
    @include retina-image(/images/about/challenge-bg, 1500px 701px, jpg);
    height: 700px;
  }
}


// Contact 
///////////////////////////////////////////////////////////////////////////////

.additional-contact-information {
  max-width: 37em;
  margin: 0 auto;
}

form .has-error {
  border-color: $red;
}


// About Live
///////////////////////////////////////////////////////////////////////////////

.live-about {
   .resources a {
     color: #444;
   }

  .hint-scroll .hint {
    bottom: 40em;
  }

  .hero.top {
    @include retina-image(/images/about/live-hero-bg-small, cover, jpg);
    background-position: center top;
    background-repeat: no-repeat;
    padding-bottom: 200px;

    @include media($medium-screen) {
      @include retina-image(/images/about/live-hero-bg, 1500px 911px, jpg);
      height: 911px;
      padding-bottom: 3em;
    }
  }

  .live-lifegroups {
    @include retina-image(/images/about/live-giving-bg-small, cover, jpg);
    background-position: center top;
    background-repeat: no-repeat;

    h2 {
      color: white;
    }

    @include media($medium-screen) {
      @include retina-image(/images/about/live-giving-bg, 1500px 845px, jpg);
      height: 845px;
    }
  }
}


// Connect
///////////////////////////////////////////////////////////////////////////////

.connect {
  background: black;

  .hero {
    @include retina-image(/images/connect/connect-bg-small, 559px auto, jpg);
    background-color: black;
    background-position: right top;

    @include media($medium-screen) {
      @include retina-image(/images/connect/connect-bg, cover, jpg);
      background-color: black;
      padding-bottom: 150px;
      background-position: center;
    }
  }

  h1 {
    color: white;

    @media screen and (max-width: 767px) {
      margin-top: 0;
    }
  }

  p {
    color: white;
    max-width: 25em;
  }

  form {
    max-width: 20em;
  }

  .field-location,
  .location-identifier {
    display: none;
  }
}

.connect-thankyou {
  .closing .container {
    border: none;
    padding-top: 0;
  }

  .hero-connect-thankyou {
    @include retina-image(/images/connect/connect-bg-2, cover, jpg);
    background-color: black;
  }

  .facebook-likebox {
    float: left;
    width: 49px;
    height: 23px;
    overflow: hidden;
    background: #3c56a1;
    border-radius: 2px;
    padding: 1px 1px 0;
    margin: -1px 12px 0 0;
  }

  .twitter-followbutton {
    float: left;
    margin: -1px 13px 0 0;
    height: 23px;
    background: #aaa;
    border-radius: 2px;
    padding: 1px 0 0 1px;
  }

  .pinterest-button {
    margin-top: -1px;
    margin-left: 15px !important;
    float: left;
    background: #bbb;
    width: 97px;
    height: 23px;
    padding-left: 2px;
    border-radius: 2px;
  }

  div#___ytsubscribe_0 {
    margin: -1px 0 0 15px !important;
  }

  .group.about-lctv {
    @include retina-image(/images/watch/landings/about-bg-small, cover, jpg);
    background-size: cover;
    background-position: center bottom;

    @include media($medium-screen) {
      @include retina-image(/images/watch/landings/about-bg, 1500px auto, jpg);
      background-size: 1500px auto;
    }
  }
}


// Whats Next
///////////////////////////////////////////////////////////////////////////////

.whatsnext {
  #accept-christ .hero-watch {
    @include retina-image(/images/whatsnext/whatsnext-bg-1, cover, jpg);
    background-position: center;
  }

  #basic-beliefs .hero-watch {
    @include retina-image(/images/whatsnext/whatsnext-bg-2, cover, jpg);
    background-position: center;
  }

  #grow-faith .hero-watch {
    @include retina-image(/images/whatsnext/whatsnext-bg-3, cover, jpg);
    background-position: center;
  }

  #next-steps .hero-watch {
    @include retina-image(/images/whatsnext/whatsnext-bg-4, cover, jpg);
    background-position: center;
  }

  #questions .single article:after {
    @include triangle(40px, #fdfdfd, down);
    content: "";
    display: block;
    margin: 0 auto;
    margin-bottom: -40px;
    position: relative;
    z-index: 6; 
  }
}


// Churches
///////////////////////////////////////////////////////////////////////////////

.equipping-churches {
  #bible-engagement h2,
  #partnered-products h2{
    margin-top: .35em;
  }

  .feature.padded {
    padding-top: 7em;
  }

  #bible-engagement article img {
    padding-top: 3em;
  }

  #partnered-products {
    margin-top: -7em;
    z-index: 2;
    position: relative;

    @include media($medium-screen) {
      margin-top: -10em;
    }
  }
}

.video-thumb {
  position: relative;
  width: 200px;
  height: 130px;
  display: block;
  padding-top: 25px;
  font-size: .8em;
  font-family: $sans-serif;
  background: #eee;
  display: block;
  margin: 0 auto 1em;
  border-radius: 4px;
  color: white;

  @include media($medium-screen) {
    display: inline-block;
    margin: .5em;
  }

  &:before {
    content: "";
    background: rgba(0,0,0,.15);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border-radius: 4px;
  }

  span {
    position: relative;
    z-index: 1;
  }

  &:hover {
    color: white;
  }

  &:hover .play-small {
    background-color: rgba(0,0,0,1);   
  }
}


.video-thumb .play-small {
  @include svg-image('/images/watch/watch-play-large');
  width: 44px;
  height: 53px;
  padding: 30px;
  background-size: 20px auto;
  background-position: center !important;
  background-repeat: no-repeat !important;
  border-radius: 100px;
  background-color: rgba(0,0,0,.6);
  display: block;
  margin: 0 auto 3px;
}

.video-thumb-network-1 {
  @include retina-image(/images/equipping-churches/ec-network-thumb-1, cover, jpg);
}

.video-thumb-network-2 {
  @include retina-image(/images/equipping-churches/ec-network-thumb-2, cover, jpg);
}


// Local Partners
///////////////////////////////////////////////////////////////////////////////

$connect-locally-orange: #ff4611;

.localpartners {
  #navigation .nav-live.is-live.alt {
    color: darken($connect-locally-orange, 25%) !important;
  }

  .connectlocally-logo {
    @include svg-image('../images/branding/connectlocally-white');
    width: 250px;
    height: 115px;
    margin: 0 auto;
  }

  .hero {
    background: $connect-locally-orange;

    .hero-inner .hero-copy.alt a {
      color: white;

      &:hover {
        color: darken($connect-locally-orange, 15%);
      }
    }
  }
}
