// Who We Are
///////////////////////////////////////////////////////////////////////////////

.who-we-are {
  @media only screen and (max-width: $medium-screen) {
    h1 {
      margin-top: 15px;
    }

    .who-we-are-bg blockquote {
      margin-top: 70px;
    }
  }

  .who-we-are-bg {
    @include retina-image(/images/about/whoweare-bg-small, cover, jpg);
    background-position: center top;
    background-repeat: no-repeat;

    @include media($medium-screen) {
      @include retina-image(/images/about/whoweare-bg, 1500px 636px, jpg);
    }

    blockquote p {
      color: white;
    }
  }
}

// 404
///////////////////////////////////////////////////////////////////////////////

.page-404 {
  .page-tertiary {
    display: none;
  }
}


// Challenge
///////////////////////////////////////////////////////////////////////////////

.challenge-bg {
  @include retina-image(/images/about/challenge-bg-small, cover, jpg);
  background-position: center top;
  background-repeat: no-repeat;

  @include media($medium-screen) {
    @include retina-image(/images/about/challenge-bg, 1500px 701px, jpg);
    height: 700px;
  }
}


// Contact 
///////////////////////////////////////////////////////////////////////////////

.additional-contact-information {
  max-width: 37em;
  margin: 0 auto;
}

form .has-error {
  border-color: $red;
}
