// LifeChurch.tv App
///////////////////////////////////////////////////////////////////////////////

.app {
  
  .hero-app {
    @include retina-image(/images/app/hero-bg, cover, jpg);
    min-height: 400px !important;
      h1 {
        font-size: 2.75em;
        margin: 85px auto 0;
      }
      p {
        max-width: 900px;
        margin: 1em auto;
        padding: 0 1em;
      }
    
      .icon-itunes {
      @include hide-text;
      @include retina-image(/images/app/itunes, contain);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 70px 70px;
      width: 200px;
      height: 55px;
    }
    
    .icon-google-play {
      @include hide-text;
      @include retina-image(/images/app/google-play, contain);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 70px 70px;
      width: 200px;
      height: 54px;
    }

    .icon-itunes:hover,
    .icon-google-play:hover{
      opacity: .75;
    }
    
  }
  
  .phones {
      max-height: 440px;
      text-align: center;
      margin: auto;
      display: table;
    }
  

  
  
  @media all and (max-width: 510px) {
    .hero-app {
      h1 {
        font-size: 2.5em;
        margin: 50px auto 0;
      }
      .icon-itunes {
        @include hide-text;
        @include retina-image(/images/app/itunes, contain);
        background-position: center;
        background-repeat: no-repeat;
        width: 125px;
      }

      .icon-google-play {
        @include hide-text;
        @include retina-image(/images/app/google-play, contain);
        background-position: center;
        background-repeat: no-repeat;
        width: 125px;
        margin-left: 10px;
      }
    }
  }
  
  .closing {
    background-color: #fff;
  }
}
