// Life.Church App
///////////////////////////////////////////////////////////////////////////////

.app {
  
  #persistent-navigation {
    li {
      margin: 1em 0 0;
      .active {
        background: none;
        color: $blue;
      }
      a {
      color: #111;
      font-size: 14px;
      font-weight: 600;
      vertical-align: top;
      line-height: 1.5em;
      padding: 0 15px 0 10px;
      &:hover {
        background: none;
        color: $blue;
        }
      }
    }
    .icon-smartphone {
      width: 13px;
    }
    .icon-tablet {
      width: 27px;
    }
    .icon-tv {
      width: 20px;
    }
  }
  
  .hero-app {
    height: 1060px;
    max-height: 1060px;
    min-height: 1060px;
    /* Fallback */
    background-image: url('https://s3.amazonaws.com/lctv-site/app/3D-iPhone.png');

    /* CSS gradients */
    background-image: url('https://s3.amazonaws.com/lctv-site/app/3D-iPhone.png'), 
                      -moz-linear-gradient(top, #fff 0%, #ddd 100%);
    background-image: url('https://s3.amazonaws.com/lctv-site/app/3D-iPhone.png'), 
                      -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #fff));
    background-image: url('https://s3.amazonaws.com/lctv-site/app/3D-iPhone.png'), 
                      linear-gradient(to bottom, #fff, #ddd);
    padding-top: 0;
    background-position: 100% 50%, 0px 0px;
    background-size: contain, auto;
    background-repeat: no-repeat, repeat;
    @media screen and (max-width: 660px) {
      background-position: 100% 80%, 0px 0px;
    }
    @media screen and (max-width: 600px) {
      height: 1000px;
      min-height: 800px;
    }
    .inner {
      width: 44%;
      text-align: left;
      h4 {
      color: #16a9d6;
      font-size: 18px;
      line-height: 24px;
      font-weight: 700;
      letter-spacing: -1px;
    }
    h1 {
      margin-bottom: 0px;
      color: #1e1f23;
      font-size: 72px;
      line-height: 70px;
      font-weight: 900;
      letter-spacing: -2px;
      margin-top: 0;
    }
    
      .icon-itunes {
        background-image: url(/images/app/itunes.png);
        background-repeat: no-repeat;
        background-size: 150px 50px;
        width: 150px;
        height: 50px;
        text-indent: -9999px;
        margin-top: 50px;
    }
    
    .icon-google-play {
      background-image: url(/images/app/google-play.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 150px 50px;
      width: 150px;
      height: 50px;
      text-indent: -9999px;
      margin-top: 50px;
    }

    .icon-itunes:hover,
    .icon-google-play:hover{
      opacity: .75;
    }
    }
    
  }
  
  .article-with-figure {
    background-color: transparent;
    background-image: -webkit-linear-gradient(270deg, #eee 33%, #fff);
    background-image: linear-gradient(180deg, #eee 33%, #fff);
    h4 {
      color: #16a9d6;
      font-size: 18px;
      line-height: 24px;
      font-weight: 700;
      letter-spacing: -1px;
    }
    h1 {
      display: block;
      margin: 0px auto 20px;
      float: left;
      color: #1e1f23;
      font-size: 48px;
      line-height: 60px;
      font-weight: 900;
      text-align: left;
      letter-spacing: -2px;
    }
    h5 {
      margin-top: 0px;
      float: left;
      font-family: proxima-nova, sans-serif;
      color: #1e1f23;
      font-size: 20px;
      line-height: 34px;
      font-style: normal;
      font-weight: 600;
      clear: both;
    }
    p {
      max-width: 400px;
      margin-bottom: 30px;
      float: left;
      color: #1e1f23;
      font-size: 18px;
      line-height: 25px;
      font-weight: 400;
      clear: both;
    }
    article {
      width: 48.636%;
      float: right;
      @media screen and (max-width: 660px) {
        width: 50.636%;
      }
      @media screen and (max-width: 600px) {
        float: left;
        width: 100%;
        padding: 0 10px;
        clear: both;
        text-align: left;
      }
    }
    figure {
      width: 47.291%;
      @media screen and (max-width: 660px) {
        width: 37.291%;
      }
      @media screen and (max-width: 600px) {
        display: block;
        margin: 0 auto 1em;
        width: 400px;
      }
    }
    .fadein { position:relative; max-width:326px; height:auto; }
    .fadein img { position:absolute; left:0; top:0; 
      @media screen and (max-width: 600px) {
        width: 400px;
      }
    }
  }
  
  .tablet {
    height: 1080px;
    max-height: 1200px;
    min-height: 1080px;
    padding-top: 50px;
    padding-right: 70px;
    background-color: #1e1f23;
    background-image: url('https://s3.amazonaws.com/lctv-site/app/ipad-landscape.png');
    background-position: -350px 42%;
    background-size: 95%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #1e1f23;
    @media screen and (max-width: 600px) {
      min-height: auto;
      height: auto;
      padding: 50px 0;
      background-image: none;
    }
    .copy {
      position: relative;
      left: 60%;
      margin-top: 15%;
      width: 400px;
      max-width: 400px;
      min-width: 400px;
      margin-right: 0px;
      float: left;
      @media screen and (max-width: 850px) {
        left: 45%;
      }
      @media screen and (max-width: 660px) {
        left: 36%;
        max-height: 800px;
      }
      @media screen and (max-width: 600px) {
        left: 0;
        width: 100%;
        text-align: center;
        padding: 50px 0px;
        margin-top: 0;
      }
      h4 {
      color: #16a9d6;
      font-size: 18px;
      line-height: 24px;
      font-weight: 700;
      letter-spacing: -1px;
    }
    h1 {
      color: #fff;
      font-size: 48px;
      line-height: 60px;
      font-weight: 900;
      letter-spacing: -2px;
      margin-top: 0;
    }
    p {
      color: #fff;
    }
    .mini-copy {
      font-size: 14px;
      font-style: italic;
      font-weight: 500;
      margin-top: 20px;
    }
  }
    .button {
      transition: all 500ms ease;
      font-size: 16px;
      font-weight: 700;
    }
}
  
  .tv {
    width: 100%;
    padding-bottom: 0;
    height: auto;
    background: #f7f6f2 url('https://s3.amazonaws.com/lctv-site/app/tv-bg.jpg') no-repeat top center;
    h1 {
      color: #1e1f23;
      font-size: 48px;
      line-height: 60px;
      letter-spacing: -2px;
      text-align: center;
      margin-bottom: 0;
    }
    h2 {
      width: 55%;
      margin: 0 auto;
      font-size: 18px;
      line-height: 32px;
      font-weight: 700;
      text-align: center;
      color: #1e1f23;
      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }
    .tv-slide { position:relative; width:100%; height:auto;
      padding-top: 100px;min-height: 812px;
      @media screen and (max-width: 850px) {
        min-height: 545px;
      }
      @media screen and (max-width: 660px) {
        min-height: 420px;
      }
      @media screen and (max-width: 600px) {
        min-height: 290px;
      }
    }
    .tv-slide img { position:absolute; left:0; top:0; }
  }
  
  .group.alt {
    text-align: center;
    h3 {
      font-size: 48px;
      line-height: 60px;
      font-weight: 900;
      letter-spacing: -2px;
      color: $red;
    }
    p {
      color: inherit;
    }
  }
  


}
