// Christmas
///////////////////////////////////////////////////////////////////////////////

.christmas {
  
  .hero {
    background-color: #fdfdfd;
    background-size: 1500px auto;
    min-height: 500px;
    height: auto;
    position: relative;
    display: block;
    padding: 0;
    h1 {
      @include hide-text;
      @include retina-image(/images/christmas/title, contain);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      max-width: 550px;
      height: 160px;
      position: absolute;
      margin: auto;
      top: 25%;
      left: 0;
      right: 0;
      display: none;
    }
  }
  
  #tertiary {
    display: none;
  }
  
  .fa-arrow-down {
    color: #fff;
    position: absolute;
    text-align: center;
    font-size: 2.25em;
    top: 485px;
    width: 100%;
    animation: blinker 2s linear infinite;
    @keyframes blinker {
      50% { opacity: 0.0; }
    }
    @media screen and (max-width: 640px) {
      top: 395px;
    }
  }

  .hero-christmas {
    @include retina-image(/images/christmas/christmas-hero, 1500px auto, jpg);
    max-width: 1500px;
    margin: auto;
    @media screen and (max-width: 640px) {
      @include retina-image(/images/christmas/christmas-hero-mobile, 640px auto, jpg);
    }
  }
  
  .hero-i-deserve-it {
    @include retina-image(/announcements/assets/2015-11-12-christmas, 1500px auto, jpg);
    min-height: 340px !important;
  }
  
  /* Video Header */

  .header-unit {
    border-width: 0px medium;
    border-style: solid none;
    border-color: #000 -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    background-size: cover;
    width: 100%;
    margin: 0px auto;
    overflow: visible;
    position: absolute;
    padding: 0px;
    height: 100%;
  }
  #video-container {
    position: relative;
  }
  #video-container {
    top: -32%;
    left: 0%;
    width: 100%;
    height: 132%;
    overflow: hidden;
    z-index: 0;
    background: url(/images/christmas/christmas-hero@2x.jpg) no-repeat center;
    background-size: cover;
    &:after {
      content: " ";
      z-index: 10;
      display: block;
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      background: rgba(157, 111, 95, 0.2);
      @media screen and (max-width: 640px) {
        background: url(/images/christmas/christmas-hero-mobile.jpg) no-repeat center;
        background-size: cover;
        }
      }
    }
  #video-container video {
    z-index:0;
    width: 100% !important;
    min-height: 100% !important;
    object-fit: cover;
    @media screen and (max-width: 640px) {
      background: url(/images/christmas/christmas-hero-mobile.jpg) no-repeat center;
      background-size: cover;
      visibility: hidden;
    }
  }
  video.fillWidth {
    min-width: 100%; 
    min-height: 100%; 
    width: auto; 
    height: auto;
  }
}

.group.about-lctv {
  @include retina-image(/images/watch/landings/about-bg-small, cover, jpg);
  background-size: cover;
  background-position: center bottom;

  @include media($medium-screen) {
    @include retina-image(/images/watch/landings/about-bg, 1500px auto, jpg);
    background-size: 1500px auto;
  }
}
