// Churches
///////////////////////////////////////////////////////////////////////////////

.equipping-churches {
  #bible-engagement h2,
  #partnered-products h2{
    margin-top: .35em;
  }

  .tio-video {
    max-width:100%; 
    width: 800px; 
    height: 450px; 
    padding-bottom: 0px;
    clear: both;
      @media screen and (max-width: 500px) {
        max-height:  280px;
        iframe {
          max-height: 270px;
        }
      }
  }

  .feature.padded {
    padding-top: 7em;
  }

  #bible-engagement article img {
    padding-top: 3em;
    height: auto;
  }

  #partnered-products {
    margin-top: 0em;
    z-index: 2;
    position: relative;

    @include media($medium-screen) {
      margin-top: 0em;
    }
  }

  #kindrid .article-with-figure {
    max-width: 610px;
    margin: 0 auto;
  }
  
  .bible-app {
    float: left;
    display: block;
    margin-right: 4.07256%;
    width: 44.6183%;
    font-size: 1em;
  }

  .yv-2column {
    max-width:300px;
  }
  .youversion-events {
    float: left;
    display: block;
    margin-right: 4.07256%;
    width: 44.6183%;
    font-size: 1.0em;
  }
  
  .bible-kids {
    float: left;
    display: block;
    margin-right: 4.07256%;
    width: 50.3092%;
    font-size: 0.8em;
  }
  .hbspt-form {
  max-width: 600px;
  margin: auto;
}

#hsForm_daa1d633-6e7a-4bd6-a83d-2d1c901b4630 {
  display: inline-flex;
}

.hs-form .actions {
    margin-top: -17px;
}

#hsForm_daa1d633-6e7a-4bd6-a83d-2d1c901b4630 > div.hs_submit > div.actions > input {
  border-radius: 0px 4px 4px 0px ;
  width: 90px;
  height: 20px;
  background: #0EA9D6;
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: bold;
  border: none;
}

.hs-form .hs-button:hover:not(.inactive) {
  background: #0b83a6;
  color: white;
}

#hsForm_daa1d633-6e7a-4bd6-a83d-2d1c901b4630 > div:nth-child(1) > div > label {
  display:none;
}

#hsForm_daa1d633-6e7a-4bd6-a83d-2d1c901b4630 > div:nth-child(1) > div > ul > li > label {
  color: #B9252D;
  font-weight: bold;
}
}

.yv-events-container {
    padding-top: 0;
}

@media (max-width: 600px) {
  .yv-events-container {
    display: inline-block;
    padding-left: 0px;
  }

  .bible-app {
  width: 100%!important;
  }
  .youversion-events {
  width: 100%!important;
  }
}

.video-thumb {
  position: relative;
  width: 230px;
  height: 130px;
  display: block;
  padding-top: 25px;
  font-size: .65em;
  font-family: $sans-serif;
  background: #eee;
  display: block;
  margin: 0 auto 1em;
  border-radius: 4px;
  color: white;

  @include media($medium-screen) {
    display: inline-block;
    margin: .5em;
  }

  &:before {
    content: "";
    background: rgba(0,0,0,.15);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border-radius: 4px;
  }

  span {
    position: relative;
    z-index: 1;
  }

  &:hover {
    color: white;
  }

  &:hover .play-small {
    background-color: rgba(0,0,0,1);   
  }
}

.video-thumb .play-small {
  @include svg-image('/images/watch/watch-play-large');
  width: 44px;
  height: 53px;
  padding: 30px;
  background-size: 20px auto;
  background-position: center ;
  background-repeat: no-repeat ;
  border-radius: 100px;
  background-color: rgba(0,0,0,.6);
  display: block;
  margin: 0 auto 3px;
}

.video-thumb-open-1 {
  @include retina-image(/images/equipping-churches/ec-open-thumb-1, cover, jpg);
  background-size: cover;
}

.video-thumb-open-2 {
  @include retina-image(/images/equipping-churches/ec-open-thumb-2, cover, jpg);
  background-size: cover;
}

.video-thumb-network-1 {
  @include retina-image(/images/equipping-churches/ec-network-thumb-1, cover, jpg);
  background-size: cover; 
}

.video-thumb-network-2 {
  @include retina-image(/images/equipping-churches/ec-network-thumb-2, cover, jpg);
  background-size: cover;
}

.digital-missions .digital-missions-bg {
   height: auto;
   background-image: none;
}

#email-daa1d633-6e7a-4bd6-a83d-2d1c901b4630 {
  max-width: none ;
  width: 95% ;
  min-width: 400px;
  height: 26px;
  border-radius: 4px 0px 0px 4px;
  border: none;
  font-size: 15px;
  padding-left: 7px;
}

@media (max-width: 600px) {
  #email-daa1d633-6e7a-4bd6-a83d-2d1c901b4630 {
    min-width: 200px;
  }
  .detail-link {
  text-align: center;
  }
}

@media only screen and (max-width: 40em) {
  .action i {
      float: none;
    }
  .action {
      text-align: center;
    }  
}

.email-signup {
  padding-top: 2em;
  padding-bottom: .75em;
  font-weight: 600;
  font-size: 1.35em;
  color: #B9252D;
}

.action:last-child {
  margin-bottom: 20px;
}

