// Easter
///////////////////////////////////////////////////////////////////////////////

.easter {
  
  .hero {
    background-color: #fdfdfd;
    background-size: 1500px auto;
    min-height: 300px;
  }

  .hero-easter {
    @include retina-image(/images/easter/easter-bg, 1500px auto, jpg);
  }
  
  .hero-i-deserve-it {
    @include retina-image(/images/easter/deserve-bg, 1500px auto, jpg);
  }
}

.group.about-lctv {
  @include retina-image(/images/watch/landings/about-bg-small, cover, jpg);
  background-size: cover;
  background-position: center bottom;

  @include media($medium-screen) {
    @include retina-image(/images/watch/landings/about-bg, 1500px auto, jpg);
    background-size: 1500px auto;
  }
}
