// Giving page section styles

  .giving-bg {
    @include retina-image(/images/giving/giving-bg-small, cover, jpg);
    background-position: center bottom;
    position: relative;

    @include media($medium-screen) {
      @include retina-image(/images/giving/giving-bg, 1500px 673px, jpg);
      background-repeat: no-repeat;

      .detail {
        padding-bottom: 120px;
      }
    }
  }

  .giving-ways .giving-bg p {
    @include media($medium-screen) {
      padding-bottom: 120px;
    }
  }

  .hero-giving-tithe {
    @include retina-image(/images/giving/giving-bg, cover);
    background-repeat: no-repeat;
    background-position: center;

    @include media($medium-screen) {
      background-size: 1500px 634px;
    }
  }

  .hero-giving-spacesplaces {
    @include retina-image(/images/giving/spaces-places, auto 100%, jpg);
    background-repeat: no-repeat;
    background-position: center;

    @include media($medium-screen) {
      background-size: 1500px 450px;
    }
  }

  .hero-giving-reliefrestoration {
    @include retina-image(/images/giving/relief-restoration, auto 100%, jpg);
    background-repeat: no-repeat;
    background-position: center;

    @include media($medium-screen) {
      background-size: 1500px 450px;
    }
  }

  .hero-giving-digitalmissions {
    @include retina-image(/images/giving/digital-missions, auto 100%, jpg);
    background-repeat: no-repeat;
    background-position: center;

    @include media($medium-screen) {
      background-size: 1500px 450px;
    }
  }

  .giving-main,
  .giving-ways {
    .button.inverse {
      border-color: rgba(255,255,255,.5);
      color: #fff;
    }
  }

  .giving-1 {
    width: 50px;
    height: 50px;
    border: 2px solid $red;
    color: $red;
    font-family: $helvetica;
    border-radius: 100px;
    text-align: center;
    font-size: rem-calc(23);
    padding-top: 10px;
    margin: 0 auto -15px;

    @include media($medium-screen) {
      margin: 0 auto -35px;
    }
  }

  .figure-spacesplaces {
    padding-top: 30px;
    margin: 0;

    @include media($medium-screen) {
      padding-top: 30px;
    }

    @include media($medium-screen) {
      border: 2px solid #ccc;
      border-radius: 2000px;
      width: 360px;
      height: 360px;
      padding: 90px 40px 0;
    }
  }

  .section-giving-numbers {
    background: #1e1e1e;
    padding-top: 3em;
    padding-bottom: 3em;
    color: white;

    @include media($medium-screen) {
      padding-top: 6em;
      padding-bottom: 6em;
    }
    
    img {
      width: 90px;
      height: 90px;
    }

    .number {
      @extend h2;
      font-size: 3em;
      color: $red;
      margin-bottom: 0;
      padding-bottom: 0;
      margin-top: 0 !important;
      
      @include media($medium-screen) {
        font-size: 5em;
      }
    }
  }

// Restore page section styles

  .restore {
    background: #1e1e1e;

    .primary-links .live {
      color: $light-red !important;
    }
  }

  .section-restore-1 {
    background: #000 url("/images/giving/restore-bg-1.jpg") center bottom no-repeat;
    background-size: cover;
    background-position: center;

    @include media($medium-screen) {
      padding-top: 250px;
      padding-bottom: 50px;

      h1 {
        margin-top: 6em;
      }
    }

    @media only screen and (min-height: 620px) {
      padding-top: 350px;
      padding-bottom: 80px;
    }
  }

  .section-restore-2 {
    background: #222;
  }

  .hero-restore {
    @include retina-image(/images/giving/restore-bg-2, 100% auto, jpg);
    background-repeat: no-repeat;
  }

  .section-restore-3 {
    background: #222;

    @include media($medium-screen) {
      padding-top: 5em;
      padding-bottom: 4em;
    }
  }


// Digital Missions page

  .digital-missions {
    .digital-missions-bg {
      height: 600px;
      @include retina-image(/images/digital-missions/dm-bg, 100% auto, jpg);
      background-color: #eaeae8;
      background-repeat: no-repeat;
      background-position: center bottom;

      @include media($medium-screen) {
        background-size: 1500px 450px;
      }
    }

    @include media(max-width $medium-screen) {
      .bible-app {
        margin-bottom: 2em;
      }
    }

    @include media($medium-screen) {
      .bible-app {
        @include span-columns(4);
      }

      .bible-kids {
        @include span-columns(8);

        .detail {
          @include span-columns(6);
        }

        p:not(.detail) {
          clear: both;
        }
      }
    }
  }


// LifeMissions page

  .hero-lifemissions  {
    @include retina-image(/images/lifemissions/lm-lifemissions, 650px auto, jpg);
    background-color: #F9F9F9;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 7em;

    @include media($medium-screen) {
      background-size: 1500px 315px;
      padding-bottom: 13em;
    }
  }

  .lifemissions-learnmore {
    padding-top: 1em;
  }

  .lifemissions {
    .tile-restore {
      @include retina-image(/images/lifemissions/lm-tile-restore, cover, jpg);
      background-position: center;
    }
    
    .tile-principles {
      @include retina-image(/images/lifemissions/lm-tile-principles, cover, jpg);
      background-position: center;
    }
  }

  .hero-lifemissions-2 {
    @include retina-image(/images/lifemissions/lm-bg-2, auto 100%, jpg);
    background-repeat: no-repeat;
    background-position: center;

    @include media($medium-screen) {
      background-size: 1500px 550px;
    }
  }

  .hero-lifemissions-3 {
    @include retina-image(/images/lifemissions/lm-bg-3, auto 100%, jpg);
    background-repeat: no-repeat;
    background-position: center;

    @include media($medium-screen) {
      background-size: 1500px 550px;
    }
  }


// Stat counter

[data-stat-count] {
  .stat {
    opacity: 0;
    height: 0;
    width: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;

    &:first-child {
      opacity: 1;
      height: auto;
      width: auto;
    }
  }
}

.lt-ie9 [data-stat-count] {
  display: none;
}

.infoicon {
  @include media($medium-screen) {
    margin-top: -30px !important;
  }
}


// Equipping Churches page

.equipping-churches {
  @media only screen and (min-width: $medium-screen) {
    .section-first {
      height: 670px;
    }
  }
}
