.home {
  
  .lead {
    color: white;
    font-size: 1.0em;
    width: 85%;
    max-width: 750px;
    margin: 2em auto;
    @media all and (max-width: 600px) {
      width: 95%;
    }
  }
  
  .large.action {
    color: white;
    font-size: 1.25em;
    font-weight: 600;
    @media all and (max-width: 600px) {
      text-align: left;
    }
  }

  .home-menu {
    background: white;
    padding: 0 1em;
    margin-bottom: 0px;

    @include media($medium-screen) {
      display: none;
    }
    
    a {
      @include transition (background .1s);
      @include row();
      padding: .8em 1em;
      margin: 0 -1em;
      border-bottom: 1px solid $medium-gray;
    }

    dl {
      margin-top: 0;
    }

    dt {
      @extend h4;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 0;
    }

    dd {
      color: $black;
    }
  }

  // Timer
  ///////////////////////////////////////////////////////////////////////////////

  .action-live {
    position: relative;
  }

  span[data-churchonline-counter] {
    font-size: 0.6em;
    display: block;
    position: absolute;
    margin-top: -2px;
  }

  // Feature 
  ///////////////////////////////////////////////////////////////////////////////

  &.generic {
    //@include retina-image(/images/home/generic-bg, 200px auto, jpg);
    background-position: top left;
    background-repeat: no-repeat;

    .hero {
      background: #d8452e;
      height: 100%;
    }
  }

  .hero {
    min-height: 200px;
    @include retina-image(/images/home/home-bg, cover, jpg);
    background-position: top center;
    background-color: #ecd0cf;
    position: relative;
    //padding-bottom: 150px;

    @include media($medium-screen) {
      @include retina-image(/images/home/home-bg, cover, jpg);
      height: auto;
      background-color: #ecd0cf;
      padding-bottom: 7em;
    }
    
    .hero-copy {
      margin: 3em auto 7em;
      max-width: 50em;
    }
    
    h1 {
      @include hide-text;
      @include retina-image(/images/home/home-title, contain);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      max-width: 1000px;
      height: 140px;
      margin: 0px auto 20px;
      
      @include media($medium-screen) {
        height: 140px;
        margin: 0px auto 0px;
      }
    }
  }

  // Closing
  ///////////////////////////////////////////////////////////////////////////////

  .closing {
    padding-top: 0;

    .container {
      border: none;
    }
  }

  .home-tile {
    @include retina-image(/images/home/next-week-small, cover, jpg);
    background-position: center bottom;
    text-indent: -999em;

    @media screen and (min-width: 750px) {
      @include retina-image(/images/home/next-week, 1500px auto, jpg);
    }
  }

  .home-tile-2 {
    @include retina-image(/images/home/next-week-small-2, cover, jpg);
    background-position: center bottom;
    text-indent: -999em;

    @media screen and (min-width: 750px) {
      @include retina-image(/images/home/next-week-2, 1500px auto, jpg);
    }
  }

  .home-nav-small {
    a {
      border-bottom: 1px solid #eee;
      display: block;
      padding: 3px 15px;
    }

    h4 {
      margin-bottom: 2px;
    }

    p {
      margin-bottom: 7px;
      font-size: .8em;
    }
  }
}

.lt-ie9 .home-menu {
  display: none !important;
}
