.home {

  .home-menu {
    background: white;
    padding: 0 1em;
    margin-bottom: -10px;

    @include media($medium-screen) {
      display: none;
    }
    
    a {
      @include transition (background .1s);
      @include row();
      padding: .8em 1em;
      margin: 0 -1em;
      border-bottom: 1px solid $medium-gray;
    }

    dl {
      margin-top: 0;
    }

    dt {
      @extend h4;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 0;
    }

    dd {
      color: $black;
    }
  }

  // Timer
  ///////////////////////////////////////////////////////////////////////////////

  .action-live {
    position: relative;
  }

  span[data-churchonline-counter] {
    font-size: 0.6em;
    display: block;
    position: absolute;
    margin-top: -2px;
  }

  // Feature 
  ///////////////////////////////////////////////////////////////////////////////

  &.generic {
    //@include retina-image(/images/home/generic-bg, 200px auto, jpg);
    //background-position: top left;
    //background-repeat: no-repeat;

    .hero {
      background: transparent;
    }
  }

  .hero {
    min-height: 200px;
    background-color: white;
    @include retina-image(/images/home/home-bg-small, 500px auto, jpg);
    background-position: bottom center;
    position: relative;
    padding-bottom: 140px;

    @include media(500px) {
      background-size: 1500px auto;
    }

    @include media($medium-screen) {
      @include retina-image(/images/home/home-bg, 1500px auto, jpg);
      height: 800px;
      padding-bottom: 0;
    }
    
    h1 {
      @include hide-text;
      @include retina-image(/images/home/home-title, contain);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      max-width: 490px;
      height: 250px;
      margin: -95px auto 10px;

      @include media($medium-screen) {
        height: 367px;
        margin: -130px auto 25px;
      }
    }
  }

  // Closing
  ///////////////////////////////////////////////////////////////////////////////

  .closing {
    padding-top: 0;

    .container {
      border: none;
    }
  }

  .home-tile {
    @include retina-image(/images/home/next-week-small, cover, jpg);
    background-position: center bottom;
    text-indent: -999em;

    @media screen and (min-width: 750px) {
      @include retina-image(/images/home/next-week, 1500px auto, jpg);
    }
  }

  .home-tile-2 {
    @include retina-image(/images/home/next-week-small-2, cover, jpg);
    background-position: center bottom;
    text-indent: -999em;

    @media screen and (min-width: 750px) {
      @include retina-image(/images/home/next-week-2, 1500px auto, jpg);
    }
  }

  .home-nav-small {
    a {
      border-bottom: 1px solid #eee;
      display: block;
      padding: 3px 15px;
    }

    h4 {
      margin-bottom: 2px;
    }

    p {
      margin-bottom: 7px;
      font-size: .8em;
    }
  }
}

.lt-ie9 .home-menu {
  display: none !important;
}
