.home {

  .home-menu {
    background: white;
    padding: 0 1em;
    margin-bottom: -10px;

    @include media($medium-screen) {
      display: none;
    }
    
    a {
      @include transition (background .1s);
      @include row();
      padding: .8em 1em;
      margin: 0 -1em;
      border-bottom: 1px solid $medium-gray;
    }

    dl {
      margin-top: 0;
    }

    dt {
      @extend h4;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 0;
    }

    dd {
      color: $black;
    }
  }

  // Timer
  ///////////////////////////////////////////////////////////////////////////////

  .action-live {
    position: relative;
  }

  span[data-churchonline-counter] {
    font-size: 0.6em;
    display: block;
    position: absolute;
    margin-top: -2px;
  }

  // Feature 
  ///////////////////////////////////////////////////////////////////////////////

  .hero {
    padding-bottom: 2em;
    background: #121920;
    @include retina-image(/images/home/home-bg-small, cover, jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    min-height: 200px;

    .hero-inner .hero-copy {
      margin-top: 20px;

      p {
        color: white;
      }

      @include media($large-screen) {
        margin-top: 80px;

        p {
          font-size: 1.7em;
          line-height: 1.3em;
        }
      }
    }
    
    @include media($medium-screen) {
      @include retina-image(/images/home/home-bg, 1500px auto, jpg);
      min-height: 650px;
    }

    @include media($large-screen) {
      background-size: 1500px auto;
      min-height: 750px;
    }

    h1 {
      @include hide-text;
      @include retina-image(/images/home/home-title, 264px 58px);
      width: 264px;
      height: 58px;
      margin: 0 auto 30px;
      display: block;
    }

    .struggles-figure {
      @include media($medium-screen) {
        opacity: .75;
        width: 299px;
        height: 94px;
        @include retina-image(/images/home/home-figure, 299px 94px);
        position: absolute;
        margin-top: 190px;

        span {
          background: white;
          width: 2px;
          height: 24px;
          display: block;
          position: absolute;
          right: 11px;
          top: 36px;
          opacity: 0;
          @include transition (all 0.4s ease-in-out);

          &.is-visible {
            opacity: 1;
          }
        }
      }

      @include media($large-screen) {
        margin-top: 150px;
      }
    }

    .hero-side {
      .action {
        color: #09708e;

        &:hover {
          color: darken(#09708e, 20%);
        }
      }
    }

  }

  // Closing
  ///////////////////////////////////////////////////////////////////////////////

  .closing {
    padding-top: 0;

    .container {
      border: none;
    }
  }

  .home-tile {
    @include retina-image(/images/home/next-week-small, cover, jpg);
    background-position: center bottom;
    text-indent: -999em;

    @media screen and (min-width: 750px) {
      @include retina-image(/images/home/next-week, 1500px auto, jpg);
    }
  }

  .home-nav-small {
    a {
      border-bottom: 1px solid #eee;
      display: block;
      padding: 3px 15px;
    }

    h4 {
      margin-bottom: 2px;
    }

    p {
      margin-bottom: 7px;
      font-size: .8em;
    }
  }
}

.lt-ie9 .home-menu {
  display: none !important;
}
