// Leadership Podcast
///////////////////////////////////////////////////////////////////////////////

.leadership {
  
  .hero-leadership {
    @include retina-image(/images/leadership/hero-bg, cover, jpg);
    min-height: 400px !important;
    .inner {
      max-width: 900px;
      h1 {
        @include hide-text;
        @include retina-image(/images/leadership/logo, contain);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left center;
        width: 100%;
        max-width: 600px;
        height: 85px;
        margin: 0px auto 0px;
      }
      h3 {
        font-size: 2.35em;
        margin: 40px auto 20px;
        max-width: 600px;
        font-weight: 100;
        text-align: left;
        .tweet-this {
          font-size: 0.6em;
        }
      }
      p {
        max-width: 600px;
        margin: 1em auto;
        text-align: left;
      }
    }
    
      .icon-itunes {
      @include hide-text;
      @include retina-image(/images/app/itunes, contain);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 130px 55px;
      width: 130px;
      height: 55px;
    }
    
    .icon-google-play {
      @include hide-text;
      @include retina-image(/images/app/google-play, contain);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 150px 54px;
      width: 150px;
      height: 54px;
    }

    .icon-itunes:hover,
    .icon-google-play:hover{
      opacity: .75;
    }
    
  }
  
  .episode {
    border-bottom: 2px solid $light-gray;
    padding: 1em 0;
  }
  
  div.week-1 {
	margin: auto;
	text-align: center;
	background: #fff;
  border: 0;
}
 
div.week-1 {
	width: 100%;
	height: auto;
  padding: 1em 0;
	display: none;
  max-width: 800px;
}
  

  
  
  @media all and (max-width: 510px) {
    .hero-leadership {
      h1 {
        font-size: 2.5em;
        margin: 90px auto 30;
        padding: 0 10px;
      }
      .icon-itunes {
        @include hide-text;
        @include retina-image(/images/app/itunes, contain);
        background-position: center;
        background-repeat: no-repeat;
        width: 125px;
      }

      .icon-google-play {
        @include hide-text;
        @include retina-image(/images/app/google-play, contain);
        background-position: center;
        background-repeat: no-repeat;
        width: 125px;
        margin-left: 10px;
      }
    }
  }
  
  .closing {
    background-color: #fff;
  }
}
