// Leadership Podcast
///////////////////////////////////////////////////////////////////////////////

.leadership {
  
  .hero-leadership {
    @include retina-image(/images/leadership/hero-bg, cover, jpg);
    min-height: 400px !important;
    .inner {
      text-align: left;
      h1 {
        @include hide-text;
        @include retina-image(/images/leadership/logo, contain);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        max-width: 500px;
        height: 80px;
        margin-top: 30px;
      }
      h3 {
        font-size: 2.25em;
        margin: 15px 0 0px;
        max-width: 550px;
        font-weight: 100;
        text-align: left;
        @media all and (max-width: 510px) {
          font-size: 1.75em;
        }
        .tweet-this {
          font-size: 0.6em;
        }
      }
      p {
        max-width: 550px;
        margin: 1em auto;
        text-align: left;
      }
    }
    
      .icon-itunes {
        @include hide-text;
        background: url('https://s3.amazonaws.com/lctv-site/worship/itunes.png');
        background-size: 50px 50px;
        width: 50px;
        height: 50px;
      }
    
    .icon-youtube {
      @include hide-text;
      @include svg-image('/images/tools/tools-social-youtube');
      background-size: cover;
      background-position: center;
      width: 65px;
      height: 65px;
      vertical-align: super;
    }
    
    .icon-google-play {
      @include hide-text;
      @include svg-image('/images/worship/icon-google-play');
      background-size: 65px 65px;
      width: 65px;
      height: 65px;
    }

    .icon-itunes:hover,
    .icon-youtube:hover,
    .icon-google-play:hover{
      opacity: .75;
    }
    
  }
  
  .episode {
    border-bottom: 2px solid $light-gray;
    padding: 1em 0;
  }
  
  h3 {
    font-weight: 600;
    font-size: 1.25em;
  }

  
  
  @media all and (max-width: 510px) {
    .hero-leadership {
      h1 {
        font-size: 1.75em;
        margin: 90px auto 30;
        padding: 0 10px;
      }
      h3 {
        font-size: 1.75em;
      }
      .icon-google-play {
        @include hide-text;
        @include retina-image(/images/app/google-play, contain);
        background-position: center;
        background-repeat: no-repeat;
        width: 125px;
        margin-left: 10px;
      }
    }
  }
  
  #hsForm_76a971af-d87a-4f27-b0a2-bd42f650cee1 {
    display: inline-flex;
    ul {
      li {
        list-style-type: none;
      }
    }
  }

  .hs-form .actions {
      margin-top: -17px;
  }

  #hsForm_76a971af-d87a-4f27-b0a2-bd42f650cee1 > div.hs_submit > div.actions > input {
      border-radius: 0px 4px 4px 0px;
      width: 90px;
      height: 37px;
      background: #0EA9D6;
      font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 17px;
      padding: 0em !important;
      font-weight: bold;
      border: none;
  }

  .hs-form .hs-button:hover:not(.inactive) {
    background: #0b83a6;
    color: white;
  }

  #hsForm_76a971af-d87a-4f27-b0a2-bd42f650cee1 > div:nth-child(1) > div > label {
    display:none;
  }

  #hsForm_76a971af-d87a-4f27-b0a2-bd42f650cee1 > div:nth-child(1) > div > ul > li > label {
    color: #B9252D;
    font-weight: bold;
  }

  #email-76a971af-d87a-4f27-b0a2-bd42f650cee1 {
    max-width: none ;
    width: 95% ;
    min-width: 400px;
    border-radius: 4px 0px 0px 4px;
    border: none;
    font-size: 15px;
    height: 37px;
  }

  @media (max-width: 600px) {
    #email-76a971af-d87a-4f27-b0a2-bd42f650cee1 {
      min-width: 200px;
    }
    .detail-link {
    text-align: center;
    }
  }

  @media only screen and (max-width: 40em) {
    .action i {
        float: none;
      }
    .action {
        text-align: center;
      }  
  }

  .email-signup {
    padding-top: 2em;
    padding-bottom: .75em;
    font-weight: 600;
    font-size: 1.35em;
    color: #B9252D;
  }

  .action:last-child {
    margin-bottom: 20px;
  }

  .hbspt-form {
      max-width: 600px;
      margin: auto;
  }

  .hs-form .actions {
      margin-top: 0px!important;
  }

  #hsForm_76a971af-d87a-4f27-b0a2-bd42f650cee1 > div.hs_email.field.hs-form-field > label {
    display:none!important;
  }
  
  .closing {
    background-color: #fff;
  }
}
