// Volunteer Live
///////////////////////////////////////////////////////////////////////////////

.live-volunteer {
   .up {
    position: absolute;
    left: 1%;
    bottom: 1%;
    position: fixed;
    img {
      max-width: 30px;
    }
  }
  
  #tertiary {
    padding-bottom: 0;
    margin-bottom: 0;
    .breadcrumb {
      width: 50%;
      @media all and (max-width: 860px) {
        width: 40%;
      }
      @media all and (max-width: 770px) {
        width: 30%;
      }
      @media all and (max-width: 641px) {
        width: 28%;
      }
      @media all and (max-width: 550px) {
        width: 100%;
      }
    }
    .resources {
      width: 45%;
      float: right;
      @media all and (max-width: 860px) {
        width: 50%;
        float: right;
      }
      @media all and (max-width: 770px) {
        width: 60%;
      }
      @media all and (max-width: 641px) {
        width: 67%;
      }
      @media all and (max-width: 641px) {
        display: none;
      }
      a {
        color: #fff;
      }
      .active {
        color: $blue;
      }
    }
  }
    
  #persistent-navigation.top {
    background: rgba(0,0,0,0.9);
    border-bottom: none;
  }
  .persistent-navigation-wrapper {
    float: right;
  }
  #persistent-navigation {
    line-height: 2em;
    z-index: 3;
    li {
      margin: 1em 0 0;
      .active {
        background: none;
        color: $blue;
      }
      a {
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      vertical-align: top;
      line-height: 1.5em;
      padding: 0 15px 0 5px;
      &:hover {
        background: none;
        color: $blue;
        }
      }
    }
  }
  
  .explore {
    position: absolute;
    top: 12%;
    text-align: center;
    margin: auto;
    width: 100%;
    z-index: 9999;
    @media all and (max-width: 770px) {
      top: 12%;
    }
    @media all and (max-width: 645px) {
      display: none;
    }
    img {
      max-width: 30px;
      margin-bottom: -5px;
    }
    span {
      color: $blue;
      text-transform: capitalize;
      font-size: 0.8em;
    }
  }
  
  .hero {
    top: -141px;
    height: 105vh;
    max-height: 105vh;
    padding: 32vh 30px;
    position: relative;
    background: url('https://s3.amazonaws.com/lctv-site/churchonline/serve/hero-bg.jpg') no-repeat center;
    background-size: cover;
    @media all and (max-width: 770px) {
      padding: 20vh 30px;
    }
    @media all and (max-width: 641px) {
      height: auto;
      max-height: none;
      padding: 20% 0;
    }
    @media all and (max-width: 500px) {
      display: inline-block;
    }
    #video-container {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      right: 0;
      video {
        width: 100%;
        min-height: 100%;
        z-index: 0;
        overflow: hidden;
        object-fit: cover;
        top: 0;
        left: 0;
        //visibility: hidden;
        @media all and (max-width: 770px) {
          visibility: hidden;
        }
      }
    }
    #video-container:after {
      content: " ";
      display: block;
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.35);
    }
    .copy {
      display: block;
      width: 100%;
      max-width: 1000px;
      position: relative;
      margin: -15px auto 0;
      padding: 0 20px;
      @media all and (max-width: 860px) {
        margin: 0 auto;
      }
      h1 {
        position: static;
        left: 0%;
        z-index: 2;
        display: block;
        width: 100%;
        max-width: 600px;
        margin: 0px auto 0px 0px;
        float: none;
        color: #fff;
        font-size: 68px;
        line-height: 72px;
        text-align: left;
        letter-spacing: -1px;
        @media all and (max-width: 1125px) { 
          margin-top: 20px;
        }
        @media all and (max-width: 860px) { 
          font-size: 52px;
          line-height: 56px;
          margin-top: 20px;
        }
        @media all and (max-width: 770px) {
          margin-top: 77px;
        }
        @media all and (max-width: 641px) {
          font-size: 42px;
          line-height: 46px;
          margin-top: 78px;
          max-width: 410px;
        }
        @media all and (max-width: 500px) {
          margin-top: 100px;
        }
      }
      p {
        color: #fff;
        max-width: 600px;
        text-align: left;
        font-size: 18px;
        margin-top: 20px;
        @media all and (max-width: 500px) {
          max-width: 500px;
        }
      }
      .button {
        display: block;
        width: auto;
        margin: 30px auto 0px;
        padding: 15px 20px;
        float: left;
        border: 2px solid $blue;
        border-radius: 8px;
        background-color: transparent;
        -webkit-transition: all 683ms ease;
        transition: all 683ms ease;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        &:hover {
          background: $blue;
          border: 2px solid $blue;
          color: #fff;
        }
      }
    }
  }
  
  // Host Team
  .host-team {
    position: relative;
    display: block;
    height: 100vh;
    max-height: 100vh;
    padding: 10% 0px;
    float: none;
    background-image: url('https://s3.amazonaws.com/lctv-site/churchonline/serve/host-team-bg.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    margin-top: -144px;
    @media all and (max-width: 770px) {
      height: auto;
      max-height: none;
    }
    .container {
      clear: both;
      article {
        width: 47.66666667%;
        float: left;
        @media all and (max-width: 641px) {
          width: 51%; 
        }
        @media all and (max-width: 500px) {
          width: 100%;
        }
        h3 {
          font-size: 18px;
          line-height: 28px;
          font-weight: 600;
          color: $blue;
        }
      h2 {
        display: block;
        width: 100%;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        float: left;
        line-height: 50px;
        font-size: 40px;
        color: #fff;
        font-weight: 600;
        margin-top: 0;
        @media all and (max-width: 860px) { 
          font-size: 38px;
          line-height: 50px;
        }
        @media all and (max-width: 641px) {
          font-size: 33px;
          line-height: 45px;
        }
        @media all and (max-width: 500px) {
          font-size: 28px;
          line-height: 38px;
        }
      }
    p {
      display: block;
      width: 100%;
      max-width: 100%;
      margin: 20px auto 0px;
      float: left;
      color: #fff;
      font-size: 19px;
      line-height: 26px;
      font-weight: 400;
      text-align: left;
      padding-bottom: 1em;
    }
  }
    figure {
      width: 41.33333333%;
      color: #fff;
      font-size: 25px;
      line-height: 33px;
      margin-top: 180px;
      font-weight: 200;
      float: right;
      p {
        font-size: 18px;
      }
      @media all and (max-width: 770px) {
        margin-top: 100px;
      }
      @media all and (max-width: 641px) {
        width: 43.3333%;
      }
      @media all and (max-width: 500px) {
        width: 100%;
      }
    }
    }
  }
  
  // LifeGroups
  .lifegroups {
    position: relative;
    display: block;
    height: 100vh;
    max-height: 100vh;
    padding: 10% 0px;
    float: none;
    background-image: url('https://s3.amazonaws.com/lctv-site/churchonline/serve/lifegroups-bg.jpg');
    background-position: left center;
    background-size: cover;
    background-attachment: fixed;
    @media all and (max-width: 770px) {
      height: auto;
      max-height: none;
    }
    .container {
      clear: both;
      article {
        width: 45.66666667%;
        float: right;
        @media all and (max-width: 641px) {
          width: 100%; 
        }
        @media all and (max-width: 500px) {
          width: 100%;
        }
        h3 {
          font-size: 18px;
          line-height: 28px;
          font-weight: 600;
          color: $blue;
        }
      h2 {
        display: block;
        width: 100%;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        float: left;
        line-height: 50px;
        font-size: 40px;
        color: #fff;
        font-weight: 600;
        margin-top: 0;
        @media all and (max-width: 860px) { 
          font-size: 38px;
          line-height: 50px;
        }
        @media all and (max-width: 641px) {
          font-size: 33px;
          line-height: 45px;
        }
        @media all and (max-width: 500px) {
          font-size: 28px;
          line-height: 38px;
        }
      }
    p {
      display: block;
      width: 100%;
      max-width: 100%;
      margin: 20px auto 0px;
      float: left;
      color: #fff;
      font-size: 19px;
      line-height: 26px;
      font-weight: 400;
      text-align: left;
      padding-bottom: 1em;
      }
    }
      figure {
        float: left;
      }
    }
  }
  
  // Prayer Team
  .prayer-team {
    position: relative;
    display: block;
    height: 100vh;
    max-height: 100vh;
    padding: 10% 0px;
    float: none;
    background-image: url('https://s3.amazonaws.com/lctv-site/churchonline/serve/prayer-team-bg.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    @media all and (max-width: 770px) {
      height: auto;
      max-height: none;
    }
    .container {
      clear: both;
      article {
        width: 47.66666667%;
        float: left;
        @media all and (max-width: 641px) {
          width: 51%; 
        }
        @media all and (max-width: 500px) {
          width: 100%;
        }
        h3 {
          font-size: 18px;
          line-height: 28px;
          font-weight: 600;
          color: $blue;
        }
      h2 {
        display: block;
        width: 100%;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        float: left;
        line-height: 50px;
        font-size: 40px;
        color: #fff;
        font-weight: 600;
        margin-top: 0;
        @media all and (max-width: 860px) { 
          font-size: 38px;
          line-height: 50px;
        }
        @media all and (max-width: 641px) {
          font-size: 33px;
          line-height: 45px;
        }
        @media all and (max-width: 500px) {
          font-size: 28px;
          line-height: 38px;
        }
      }
    p {
      display: block;
      width: 100%;
      max-width: 100%;
      margin: 20px auto 0px;
      float: left;
      color: #fff;
      font-size: 19px;
      line-height: 26px;
      font-weight: 400;
      text-align: left;
      padding-bottom: 1em;
    }
  }
    figure {
      width: 41.33333333%;
      color: #fff;
      font-size: 18px;
      line-height: 33px;
      margin-top: 100px;
      font-weight: 200;
      float: right;
      text-align: center;
      i {
        color: #fff;
        font-size: 130px;
        text-align: center;
        display: block;
        clear: both;
      }
      p {
        font-size: 18px;
      }
      @media all and (max-width: 770px) {
        margin-top: 100px;
      }
      @media all and (max-width: 641px) {
        width: 43.3333%;
      }
      @media all and (max-width: 500px) {
        width: 100%;
      }
    }
    }
  }
  
  // Social Media Team
  .social-media {
    position: relative;
    display: block;
    height: 100vh;
    max-height: 100vh;
    padding: 10% 0px;
    float: none;
    background-image: url('https://s3.amazonaws.com/lctv-site/churchonline/serve/social-media-bg.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    @media all and (max-width: 770px) {
      height: auto;
      max-height: none;
    }
    .container {
      clear: both;
      article {
        width: 47.66666667%;
        float: right;
        @media all and (max-width: 641px) {
          width: 51%; 
        }
        @media all and (max-width: 500px) {
          width: 100%;
          float: left;
        }
        h3 {
          font-size: 18px;
          line-height: 28px;
          font-weight: 600;
          color: $blue;
        }
      h2 {
        display: block;
        width: 100%;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        float: left;
        line-height: 50px;
        font-size: 40px;
        color: #fff;
        font-weight: 600;
        margin-top: 0;
        @media all and (max-width: 860px) { 
          font-size: 38px;
          line-height: 50px;
        }
        @media all and (max-width: 641px) {
          font-size: 33px;
          line-height: 45px;
        }
        @media all and (max-width: 500px) {
          font-size: 28px;
          line-height: 38px;
        }
      }
    p {
      display: block;
      width: 100%;
      max-width: 100%;
      margin: 20px auto 0px;
      float: left;
      color: #fff;
      font-size: 19px;
      line-height: 26px;
      font-weight: 400;
      text-align: left;
      padding-bottom: 1em;
    }
  }
    figure {
      width: 41.33333333%;
      color: #fff;
      font-size: 18px;
      line-height: 33px;
      margin-top: 100px;
      font-weight: 200;
      float: left;
      text-align: center;
      i {
        color: #fff;
        font-size: 130px;
        text-align: center;
        display: block;
        clear: both;
      }
      p {
        font-size: 18px;
      }
      @media all and (max-width: 770px) {
        margin-top: 100px;
      }
      @media all and (max-width: 641px) {
        width: 43.3333%;
      }
      @media all and (max-width: 500px) {
        width: 100%;
        float: right;
      }
    }
    }
  }
  
  // Operations Team
  .operations {
    position: relative;
    display: block;
    height: 100vh;
    max-height: 100vh;
    padding: 5% 0px;
    float: none;
    background-image: url('https://s3.amazonaws.com/lctv-site/churchonline/serve/operations-bg.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    @media all and (max-width: 770px) {
      height: auto;
      max-height: none;
    }
    .container {
      clear: both;
      article {
        width: 47.66666667%;
        float: left;
        @media all and (max-width: 641px) {
          width: 51%; 
        }
        @media all and (max-width: 500px) {
          width: 100%;
        }
        h3 {
          font-size: 18px;
          line-height: 28px;
          font-weight: 600;
          color: $blue;
        }
      h2 {
        display: block;
        width: 100%;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        float: left;
        line-height: 50px;
        font-size: 40px;
        color: #fff;
        font-weight: 600;
        margin-top: 0;
        @media all and (max-width: 860px) { 
          font-size: 38px;
          line-height: 50px;
        }
        @media all and (max-width: 641px) {
          font-size: 33px;
          line-height: 45px;
        }
        @media all and (max-width: 500px) {
          font-size: 28px;
          line-height: 38px;
        }
      }
    p {
      display: block;
      width: 100%;
      max-width: 100%;
      margin: 20px auto 0px;
      float: left;
      color: #fff;
      font-size: 19px;
      line-height: 26px;
      font-weight: 400;
      text-align: left;
      padding-bottom: 1em;
    }
  }
    figure {
      width: 41.33333333%;
      color: #fff;
      font-size: 18px;
      line-height: 33px;
      margin-top: 100px;
      font-weight: 200;
      float: right;
      text-align: center;
      i {
        color: #fff;
        font-size: 130px;
        text-align: center;
        display: block;
        clear: both;
      }
      p {
        font-size: 18px;
      }
      @media all and (max-width: 770px) {
        margin-top: 100px;
      }
      @media all and (max-width: 641px) {
        width: 43.3333%;
      }
      @media all and (max-width: 500px) {
        width: 100%;
      }
    }
    }
  }
  
}