// Locations Global
///////////////////////////////////////////////////////////////////////////////

.pin {
@include svg-image('/locations/assets/pin');
background-repeat: no-repeat;
background-position: center top;
color: #ada5a5;
font-family: $sans-serif;
font-size: 9px;
text-align: center;
text-indent: 6px;
text-transform: uppercase;
width: 44px;
height: 33px;
padding-top: 28px;
}

.pin-state.pin-ok,
.pin-state.pin-tx {
@include svg-image('/locations/assets/pin2');
}

// Locations Overview
///////////////////////////////////////////////////////////////////////////////

.page-locations {

  // Wrapper around all the large screen location content
  .map-wrapper {
    background: #A4DDF4;
    width: 100%;
    height: 400px;
    position: relative;
    top: -145px;
  }

  &.has-alerts .map-wrapper {
    top: 43px;
  }

  // Page title links
  .main-copy {
    margin-top: -160px;

    a {
      color: $black;
    }

    .action.small {
      padding-top: 1em;
      display: inline-block;
    }
  }

  .closing .container {
    border: none;
  }

  // Hide tertiary links
  .page-tertiary {
    @include media($medium-screen) {
      visibility: hidden;
    }
  }

  // Small screen hero

  .hero-small-locations {
    @media only screen and (max-width: $medium-screen) {
      @include svg-image('/locations/assets/map');
      background-color: #a2ddf5;
      background-repeat: no-repeat;
      background-position: center top;
      background-size: auto 100%;
      min-height: 200px;
      margin-top: -130px;
      margin-bottom: 1em;
    }
  }

  // Make locations top section even shorter on small landscape screens
  @media only screen and (max-width: $medium-screen) and (orientation: landscape) {
    .hero-small-locations {
      height: 70px;
    }
  }

  // The map itself
  .map {
    @include svg-image('/locations/assets/map');
    background-color: #a2ddf5;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: 550px;
    position: absolute;
    top: 0;
    background-size: auto 620px;
    @include transition-property(all);
    @include transition-duration(.5s);
  }

  // Map when zoomed into Oklahoma
  .map-ok {
    background-size: auto 2400px;
    background-position: center -1050px;
  }

  // Map when zoomed into Texas
  .map-tx {
    background-size: auto 2400px;
    background-position: center -1250px;
  }

  // US Map fallback for CSS3-less users
  .no-backgroundsize .map {
    background: url('/locations/assets/map-1.jpg') center top no-repeat !important;
  }

  // Oklahoma Map fallback for CSS3-less users
  .no-backgroundsize .map-ok {
    background: url('/locations/assets/map-2.jpg') center top no-repeat !important;
  }

  // Texas Map fallback for CSS3-less users
  .no-backgroundsize .map-tx {
    background: url('/locations/assets/map-3.jpg') center top no-repeat !important;
  }

  // Back button when zoomed in on the map
  .map-back {
    position: relative;
    z-index: 6;
    top: 80px;
  }

  // List box styles
  .map-list {
    background: #fff;
    position: absolute;
    z-index: 6;
    list-style: none;
    padding: 5px 10px;
    box-shadow: rgba(0,0,0,.1) 0 2px 0;
    border-radius: 3px;
    @include transition-property(margin-left);
    @include transition-duration(1s);
  }

  // List box styles for OKC
  .map-list-okc {
    left: 50%;
    top: 140px;
    margin-left: -240px;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50px;
      right: -10px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid #fff;
    }
  }

  // List box styles for Tulsa
  .map-list-tulsa {
    left: 50%;
    top: 140px;
    margin-left: 80px;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 20px;
      left: -10px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid #fff;
    }
  }

  // List box styles for Stillwater
  .map-list-stillwater {
    left: 50%;
    top: 210px;
    margin-left: -40px;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: -20px;
      left: 30px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      border-bottom: 10px solid #fff;
    }
  }

  // Page-specific pin styles
  .pin {
    left: 50%;
    right: 0;
    position: absolute;
    z-index: 3;
    @include transition-property(background-position);
    @include transition-duration(.2s);
  }

  // Recolor pin text for Wellington, since it's on the water
  .pin-fl {
    color: #4ea6c9;
  }

  // Pin-push animation where pins are clickable
  .pin-state:hover,
  .pin-keller:hover,
  .pin-fortworth:hover {
    background-position: center 5px;
  }

  // Pin positioning

  .pin-ok {
    margin-left: -40px;
    top: 300px;
  }

  .pin-tx {
    margin-left: -60px;
    top: 360px;
  }

  .pin-tn {
    margin-left: 150px;
    top: 285px;
  }

  .pin-fl {
    margin-left: 235px;
    top: 465px;
  }

  .pin-ny {
    margin-left: 335px;
    top: 160px;
  }

  .pin-ks {
    margin-left: -35px;
    top: 245px;
  }

  .pin-okc {
    margin-left: -75px;
    top: 190px;
  }

  .pin-tulsa {
    margin-left: 35px;
    top: 160px;
  }

  .pin-stillwater {
    margin-left: -22px;
    top: 160px;
  }

  .pin-keller {
    margin-left: -40px;
    top: 200px;
  }

  .pin-fortworth {
    margin-left: -70px;
    top: 240px;
  }
}

// Campus page
///////////////////////////////////////////////////////////////////////////////

// "My Campus" buttons

[data-unset-campus] {
  display: none;
}

.my-campus {
  [data-unset-campus] {
    display: inline-block;
  }

  [data-set-campus] {
    display: none;
  }
}


// Patch
#location.group {
  @media only screen and (max-width: $medium-screen) {
    padding-bottom: 140px;
  }
}

// Page hero section

.locations-hero {
  background-position: center top;
  background-repeat: no-repeat;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  min-height: 150px;

  @include media($medium-screen) {
    min-height: 300px;
  }
}

.locations-hero-promo {
  background-color: #f9f5ed;
}

.location-promo .closing {
  padding-top: 0;

  .container {
    border: none;
  }
}

.section-locations {
  .tile-lifegroups {
    @include retina-image(/locations/assets/campus-tile-lifegroups, cover, jpg);
    background-position: center;
  }

  .tile-what-to-expect {
    @include retina-image(/locations/assets/campus-tile-what-to-expect, cover, jpg);
    background-position: center;
  }
}

// Hide Local Partner images
#localpartners img {
  display: none;
}

// Map
.locations-map {
  background-color: #fff;
  background-position: left top;
  background-repeat: no-repeat;
  height: 170px;
  border: 1px solid #ddd;
  position: relative;

  @media only screen and (max-width: $medium-screen) {
    background-size: 800px auto;
    background-position: 0 -100px;
    margin-bottom: 150px;
  }

  @include media($medium-screen) {
    height: 400px;
  }

  .pin {
    top: 80px;
    left: 110px;
    position: absolute;

    @include media($medium-screen) {
      top: 180px;
      left: 110px;
    }
  }

  .address {
    background: transparent;
    padding: 15px 0;
    width: 100%;
    top: 172px;
    position: relative;

    a {
      margin-right: 0;
    }

    @include media($medium-screen) {
      padding: 15px;
      position: absolute;
      color: #fff;
      width: 250px;
      top: 165px;
      left: 160px;
      background: rgba(0,0,0,.8);
      border-radius: 6px;

      a {
        color: #86def7;
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 14px;
        left: -10px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid rgba(0,0,0,.8);
      }
    }
  }
}


// Experience Calendar

  // Calendar Key

    .calendar-key {

      // Keep the links in the key on the same line as the colors
      a {
        float: left;
      }

      figure {
        width: 20px;
        height: 20px;
        float: left;
        margin: 2px 7px 0 0;
        border-radius: 3px;
      }

      &.key-service-time figure {
        background: lighten($red, 30%);
        border: 1px solid lighten($red, 20%);
      }

      &.key-switch figure {
        background: $blue;
        border: 1px solid darken($blue, 10%);
      }

      &.key-lifekids figure {
        background: #69d166;
        border: 1px solid darken(#69d166, 10%);
      }

      &.key-roots figure {
        background: #f0d700;
        border: 1px solid darken(#f0d700, 10%);
      }
    }


// New Experience Calendar

@include media($medium-screen) {
  .times-legend {
    text-align: center;
  }

  .times-legend li {
    display: inline-block;
    margin: 1em .5em;
  }
}

.times {
  list-style: none;
  margin-left: 0;

  label {
    margin-top: .3em;
    display: inline-block;
  }
}

.time,
.calendar-key {
  clear: both;
}

@include media($medium-screen) {
  .days-times {
    border: 1px solid #bbb;
    background: #fff;
    position: relative;
    width: 100%;

    h4 {
      display: none;
    }

    // Day wrapper
    .day {
      height: 40px;
      width: 100%;
      background: #fff;

      &:nth-child(even) {
        background: #f9f9f9 !important;
      }
    }

    // Entry wrapper
    .times {
      padding: 0;
      margin: 0;
      position: relative;

      // Day title
      label {
        margin-left: 10px;
      }
    }

    // Entry
    .time {
      height: 40px;
      width: 5%; // default time 1 hour
      position: absolute;
      overflow: hidden;

      label span {
        display: none;
      }

      .time-box {
        display: block;
        width: 100%;
        height: 40px;
        font-family: $helvetica;
        font-size: 10px;
        background: #aaa;
        border-radius: 2px;
        border: 1px solid #999;
        font-size: rem-calc(11);

        .time-box-time-label,
        .time-box-duration,
        .time-box-duration-label {
          display: none;
        }

        .time-box-time {
          margin: 0px 0 0 3px;
        }
      }

      &.type-service-time .time-box {
        background: lighten($red, 30%);
        border: 1px solid lighten($red, 20%);
        color: $red;
      }

      &.type-switch .time-box {
        background: $blue;
        border: 1px solid darken($blue, 10%);
        color: darken($blue, 20%);
      }

      &.type-lifekids .time-box {
        background: #69d166;
        border: 1px solid darken(#69d166, 10%);
        color: darken(#69d166, 40%);
      }

      &.type-roots .time-box {
        background: #f0d700;
        border: 1px solid darken(#f0d700, 10%);
        color: darken(#f0d700, 20%);
      }
    }

    .time-07-00 { left: 20%; }
    .time-07-30 { left: 22.5%; }
    .time-08-00 { left: 25%; }
    .time-08-30 { left: 27.5%; }
    .time-09-00 { left: 30%; }
    .time-09-30 { left: 32.5%; }
    .time-10-00 { left: 35%; }
    .time-10-30 { left: 37.5%; }
    .time-11-00 { left: 40%; }
    .time-11-30 { left: 42.5%; }
    .time-12-00 { left: 45%; }
    .time-12-30 { left: 47.5%; }
    .time-13-00 { left: 50%; }
    .time-13-30 { left: 52.5%; }
    .time-14-00 { left: 55%; }
    .time-14-30 { left: 57.5%; }
    .time-15-00 { left: 60%; }
    .time-15-30 { left: 62.5%; }
    .time-16-00 { left: 65%; }
    .time-16-30 { left: 67.5%; }
    .time-17-00 { left: 70%; }
    .time-17-30 { left: 72.5%; }
    .time-18-00 { left: 75%; }
    .time-18-30 { left: 77.5%; }
    .time-19-00 { left: 80%; }
    .time-19-30 { left: 82.5%; }
    .time-20-00 { left: 85%; }
    .time-20-30 { left: 87.5%; }
    .time-21-00 { left: 90%; }
    .time-21-30 { left: 92.5%; }
    .time-22-00 { left: 95%; }

    .overlap {
      margin-top: 40px;
    }

    .overlap-2 {
      margin-top: 80px;
    }

    .rows-2 {
      height: 80px;
    }

    .rows-3 {
      height: 120px;
    }

    // 1 hour entry
    .duration-60 {
      width: 5%;
    }

    // 2 hour entry
    .duration-120 {
      width: 10%
    }

    // 3 hour entry
    .duration-180 {
      width: 15%;
    }

    // 4 hour entry
    .duration-240 {
      width: 20%;
    }

    .time-lines .time {
      height: 100%;

      .time-line {
        margin-top: 40px;
        border-left: 1px solid #ccc;
        height: 100%;
      }

      label {
        margin: 0;
        width: 100%;
        height: 30px;
        overflow: hidden;
        position: absolute;
        top: 11px;
        font-size: rem-calc(13);
      }
    }

  }

}

@include media($large-screen) {
  // Day title
  .days-times .time label span {
    display: inline;
  }
}

// Campus contact forms
.form-contact {
  max-width: 600px;
  margin: 0 auto;
}

// ~4 Specific Campus Pages ***************************************

$campuses: alb, bao, bnb, edm, ftw, hnv, jnk, klr, mor, mwc, noc, okc, ows, soc, sto, stw, tul, wel, wch, ykn;

@each $campus in $campuses {
  .location-#{$campus} {
    .locations-hero {
      @include retina-image(/locations/assets/campus/#{$campus}-bg, 1500px 350px, jpg);
    }

    .locations-map {
      @include retina-image(/locations/assets/campus/#{$campus}-map, 1196px 398px, jpg);
    }
  }
}

.group.before-spreadtheword {
  padding-bottom: 2em;
}

.spreadtheword {
  padding-top: 3em;
}

.location-wch #navigation .nav-live {
  color: #8ca7b6;
  
  &:hover {
    color: darken(#8ca7b6, 15%);
  }
}



// Swipe test

.calendar {
  height: 420px; 
  margin-bottom: 3em;
  position: relative;
  width: 100%;
  overflow: hidden;

  .day header,
  .calendar-left,
  .calendar-right {
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
  }

  .calendar-left,
  .calendar-right {
    z-index: 4;
    position: absolute;
    
    i {
      font-size: 13px;
    }

    @include media($medium-screen) {
      display: none;
    }
  }

  .calendar-right {
    right: 0;
  }

  &.showing-saturday .calendar-left,
  &.showing-wednesday .calendar-right {
    opacity: 0 !important;
  }

  time {
    display: none;
  }

  b {
    display: block;
    width: 100%;
    height: 30px;
    border-top: 1px solid #e0e4e5;
    font-size: 11px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 10px;

    span {
      top: -6px;
      position: relative;
      background: $off-white;
      width: 20px;
      display: block;
    }
  }

  b.first {
    margin-top: 30px;
  }

  .icon-arrow-left {
    @include transform(rotate(180deg));
    margin-left: 2px;
  }

  .saturday,
  .sunday,
  .wednesday {
    height: 320px;
    width: 100%;
    float: left;
    position: absolute;
    top: 0;

    @include media($medium-screen) {
      width: 33%;
    }
  }

  .sunday {
    left: 100%;

    @include media($medium-screen) {
      left: 33%;
    }
  }

  .wednesday {
    left: 200%;

    @include media($medium-screen) {
      left: 66%;
    }
  }

  

  .event {
    height: 20px;
    padding: 6px 9px;
    font-size: 11px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 18px;
    border-radius: 3px;
    margin-left: 10%;
    position: absolute;
    width: 90%;
    color: white;
    font-weight: bold;

    &.is-service-time {
      background: #e98f93;
    }

    &.is-switch {
      background: #0ea9d6;
    }

    &.is-lifekids {
      background: #69d166;
    }

    &.is-roots {
      color: #8a7c00;
      background: #f0d700;
      border: 1px solid #bda900;
    }
  }

  .time-08-00 { top: 30px; }
  .time-08-30 { top: 45px; }
  .time-09-00 { top: 60px; }
  .time-09-30 { top: 75px; }
  .time-10-00 { top: 90px; }
  .time-10-30 { top: 105px; }
  .time-11-00 { top: 120px; }
  .time-11-30 { top: 135px; }
  .time-12-00 { top: 150px; }
  .time-12-30 { top: 165px; }
  .time-13-00 { top: 180px; }
  .time-13-30 { top: 195px; }
  .time-14-00 { top: 210px; }
  .time-14-30 { top: 225px; }
  .time-15-00 { top: 240px; }
  .time-15-30 { top: 255px; }
  .time-16-00 { top: 270px; }
  .time-16-30 { top: 285px; }
  .time-17-00 { top: 300px; }
  .time-17-30 { top: 315px; }
  .time-18-00 { top: 330px; }
  .time-18-30 { top: 345px; }
  .time-19-00 { top: 360px; }
  .time-19-30 { top: 375px; }
  .time-20-00 { top: 390px; }

  .duration-30  { height: 16px; }
  .duration-60  { height: 30px; }
  .duration-120 { height: 61px; }
}
