// Local Partners
///////////////////////////////////////////////////////////////////////////////

$connect-locally-orange: #ff4611;

.localpartners {
  #navigation .nav-live.is-live.alt {
    color: darken($connect-locally-orange, 25%) !important;
  }

  .connectlocally-logo {
    @include svg-image('../images/branding/connectlocally-white');
    width: 250px;
    height: 115px;
    margin: 0 auto;
  }

  .hero {
    background: $connect-locally-orange;

    .hero-inner .hero-copy.alt a {
      color: white;

      &:hover {
        color: darken($connect-locally-orange, 15%);
      }
    }
  }
}
