// Worship
///////////////////////////////////////////////////////////////////////////////

.worship {
  .up {
    position: absolute;
    left: 1%;
    bottom: 1%;
    position: fixed;
    img {
      max-width: 30px;
    }
  }
  
  #tertiary {
    padding-bottom: 0;
    margin-bottom: 0;
    .breadcrumb {
      width: 50%;
      @media all and (max-width: 860px) {
        width: 40%;
      }
      @media all and (max-width: 770px) {
        width: 30%;
      }
      @media all and (max-width: 641px) {
        width: 25%;
      }
    }
    .resources {
      width: 45%;
      float: right;
      @media all and (max-width: 860px) {
        width: 50%;
        float: right;
      }
      @media all and (max-width: 770px) {
        width: 60%;
      }
      @media all and (max-width: 641px) {
        width: 67%;
      }
    }
    .breadcrumb a {
    line-height: 55px;
      @media all and (max-width: 500px) {
        line-height: auto;
      }
    }
  }
  #persistent-navigation.top {
    background: rgba(0,0,0,0.9);
    border-bottom: none;
  }
  .persistent-navigation-wrapper {
    float: right;
  }
  #persistent-navigation {
    line-height: 2em;
    z-index: 3;
    li {
      margin: 1em 0 0;
      .active {
        background: none;
        color: $blue;
      }
      a {
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      vertical-align: top;
      line-height: 1.5em;
      padding: 0 15px 0 5px;
      &:hover {
        background: none;
        color: $blue;
        }
      }
    }
  }

  .hero {
    top: -141px;
    height: 105vh;
    max-height: 105vh;
    padding: 32vh 30px;
    position: relative;
    background: url('https://s3.amazonaws.com/lctv-site/worship/hero-bg.jpg') no-repeat center;
    background-size: cover;
    @media all and (max-width: 770px) {
      padding: 20vh 30px;
    }
    @media all and (max-width: 641px) {
      height: auto;
      max-height: none;
      padding: 20% 0;
    }
    @media all and (max-width: 500px) {
      display: inline-block;
    }
    #video-container {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      right: 0;
      video {
        width: 100%;
        min-height: 100%;
        z-index: 0;
        overflow: hidden;
        object-fit: cover;
        top: 0;
        left: 0;
        //visibility: hidden;
        @media all and (max-width: 770px) {
          visibility: hidden;
        }
      }
    }
    #video-container:after {
      content: " ";
      display: block;
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.35);
    }
    .copy {
      display: block;
      width: 100%;
      max-width: 1000px;
      position: relative;
      margin: -35px auto 0;
      padding: 0 20px;
      @media all and (max-width: 860px) {
        margin: 0 auto;
      }
      h1 {
        position: static;
        left: 0%;
        z-index: 2;
        display: block;
        width: 100%;
        max-width: 600px;
        margin: 0px auto 0px 0px;
        float: none;
        color: #fff;
        font-size: 68px;
        line-height: 72px;
        text-align: left;
        letter-spacing: -1px;
        @media all and (max-width: 1125px) { 
          margin-top: 20px;
        }
        @media all and (max-width: 860px) { 
          font-size: 52px;
          line-height: 56px;
          margin-top: 20px;
        }
        @media all and (max-width: 770px) {
          margin-top: 77px;
        }
        @media all and (max-width: 641px) {
          font-size: 42px;
          line-height: 46px;
          margin-top: 78px;
          max-width: 410px;
        }
        @media all and (max-width: 500px) {
          margin-top: 100px;
        }
      }
      .button {
        display: block;
        width: auto;
        margin: 30px auto 0px;
        padding: 15px 20px;
        float: left;
        border: 2px solid $blue;
        border-radius: 8px;
        background-color: transparent;
        -webkit-transition: all 683ms ease;
        transition: all 683ms ease;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        &:hover {
          background: $blue;
          border: 2px solid $blue;
          color: #fff;
        }
      }
    }
  }
  .get-music {
    position: relative;
    display: block;
    height: 100vh;
    max-height: 100vh;
    margin-top: -144px;
    padding: 10% 30px;
    float: none;
    background-image: url('https://s3.amazonaws.com/lctv-site/worship/get-music-bg.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-attachment: scroll, fixed;
    @media all and (max-width: 770px) {
      height: auto;
      max-height: none;
    }
    .container {
      clear: both;
      article {
        width: 44.66666667%;
        @media all and (max-width: 641px) {
          width: 51%; 
        }
        @media all and (max-width: 500px) {
          width: 100%;
        }
      h2 {
        display: block;
        width: 100%;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        float: left;
        line-height: 50px;
        font-size: 40px;
        color: #fff;
        font-weight: 600;
        @media all and (max-width: 860px) { 
          font-size: 38px;
          line-height: 50px;
        }
        @media all and (max-width: 641px) {
          font-size: 33px;
          line-height: 45px;
        }
        @media all and (max-width: 500px) {
          font-size: 28px;
          line-height: 38px;
        }
    }
    p {
      display: block;
      width: 100%;
      max-width: 100%;
      margin: 20px auto 0px;
      float: left;
      color: #fff;
      font-size: 19px;
      line-height: 26px;
      font-weight: 400;
      text-align: left;
      padding-bottom: 1em;
      }
      .grid-four {
        @media all and (max-width: 500px) {
          clear: both;
        }
        .grid-item {
          width: 20%;
          @media all and (max-width: 500px) {
            width: 25%;
            float: left;
          }
        }
      }
      .spotify {
        background-image: url('https://s3.amazonaws.com/lctv-site/worship/spotify.png');
        background-repeat: no-repeat;
        background-size: 50px;
        background-position: center;
        height: 50px;
        margin: auto;
        display: block;
        text-indent: -9999px;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
      }
      .soundcloud {
        background-image: url('https://s3.amazonaws.com/lctv-site/worship/soundcloud.png');
        background-repeat: no-repeat;
        background-size: 50px;
        background-position: center;
        height: 50px;
        margin: auto;
        display: block;
        text-indent: -9999px;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
      }
      .google-play {
        background-image: url('https://s3.amazonaws.com/lctv-site/worship/google-play.png');
        background-repeat: no-repeat;
        background-size: 50px;
        background-position: center;
        height: 50px;
        margin: auto;
        display: block;
        text-indent: -9999px;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
      }
      .itunes {
        background-image: url('https://s3.amazonaws.com/lctv-site/worship/itunes.png');
        background-repeat: no-repeat;
        background-size: 50px;
        background-position: center;
        height: 50px;
        margin: auto;
        display: block;
        text-indent: -9999px;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
      }
      .soundcloud, .itunes, .google-play, .spotify {
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    figure {
      width: 48.33333333%;
      @media all and (max-width: 770px) {
        margin-top: 100px;
      }
      @media all and (max-width: 641px) {
        width: 43.3333%;
      }
      @media all and (max-width: 500px) {
        width: 100%;
      }
    }
    }
  }
  
  .get-resources {
    background: #1e1f23;
    position: relative;
    height: 100vh;
    max-height: 100vh;
    padding-top: 5%;
    padding-bottom: 0%;
    @media all and (max-width: 770px) {
      height: auto;
      max-height: none;
      padding-bottom: 5%;
    }
    .container {
      width: 100%;
      max-width: 1100px;
      article {
      width: 38.66666667%;
        float: right;
        @media all and (max-width: 641px) {
          width: 100%;
          float: none;
        }
      h2 {
        display: block;
        width: 100%;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        float: left;
        line-height: 50px;
        font-size: 40px;
        color: #fff;
        font-weight: 600;
        @media all and (max-width: 500px) {
          font-size: 32px;
          line-height: 42px;
        }
      }
      p {
        display: block;
        width: 100%;
        max-width: 100%;
        margin: 20px auto 0px;
        float: left;
        color: #fff;
        font-size: 19px;
        line-height: 26px;
        font-weight: 400;
        text-align: left;
      }
      .button {
        display: block;
        width: auto;
        margin: 30px auto 0px;
        padding: 15px 20px;
        float: left;
        background: $blue;
        border: 2px solid $blue;
        border-radius: 8px;
        -webkit-transition: all 683ms ease;
        transition: all 683ms ease;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        text-transform: capitalize;
        &:hover {
          background: none;
          border: 2px solid $blue;
          color: #fff;
        }
      }
    }
    figure {
      width: 54.33333333%;
      @media all and (max-width: 770px) {
        margin-top: 100px;
      }
      @media all and (max-width: 641px) {
          width: 100%;
          float: none;
        }
      .large {
        width: 50%;
        max-width: 50%;
        float: left;
        -webkit-transition: all 683ms ease;
        transition: all 683ms ease;
        &:hover {
          opacity: 0.5;
          border: 0;
        }
      }
      .thumb {
        width: 33.3%;
        max-width: 33.3%;
        float: left;
        -webkit-transition: all 683ms ease;
        transition: all 683ms ease;
        &:hover {
          opacity: 0.5;
          border: 0;
        }
      }
    }
  }
  }
  .join {
    height: 100vh;
    max-height: 100vh;
    padding: 5% 30px;
    background-image: url('https://s3.amazonaws.com/lctv-site/worship/join-hero.jpg');
    background-position: 0px 0px, 50% 120%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll, fixed;
    @media all and (max-width: 770px) {
      height: auto;
      max-height: none;
    }
    .container {
      text-align: center;
      h2 {
        display: block;
        width: 100%;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        line-height: 50px;
        font-size: 40px;
        color: #fff;
        font-weight: 600;
      }
      p {
        display: block;
        width: 100%;
        max-width: 100%;
        margin: 20px auto 0px;
        color: #fff;
        font-size: 19px;
        line-height: 26px;
        font-weight: 400;
        width: 70%;
        max-width: 90%;
        @media all and (max-width: 641px) {
          width: 90%;
        }
        @media all and (max-width: 500px) {
          width: 90%;
        }
      }
      .circle {
        display: block;
        width: 200px;
        height: 200px;
        padding-top: 70px;
        border-radius: 150px;
        background-color: $blue;
        opacity: 0.8;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        font-size: 25px;
        line-height: 34px;
        text-align: center;
        color: #fff;
        margin: auto;
        @media all and (max-width: 641px) {
          width: 150px;
          height: 150px;
          font-size: 22px;
          line-height: 31px;
          padding-top: 50px;
        }
        strong {
          font-weight: 800;
        }
        &:hover {
          opacity: 1;
          transform: scale(1.2);
          color: #fff;
        }
      }
    }
  }
  .get-social {
    height: 100vh;
    max-height: 100vh;
    margin-top: 0px;
    padding-top: 15%;
    padding-bottom: 5%;
    background: linear-gradient(180deg, rgba(0, 0, 0, .5), #000), url("https://s3.amazonaws.com/lctv-site/worship/social-hero.jpg");
    background: -moz-linear-gradient(270deg, rgba(0, 0, 0, .5), #000), url("https://s3.amazonaws.com/lctv-site/worship/social-hero.jpg");
    background: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), #000), url("https://s3.amazonaws.com/lctv-site/worship/social-hero.jpg");
    background-position: 0px 0px, 50% 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @media all and (max-width: 770px) {
      height: auto;
      max-height: none;
      padding-bottom: 15%;
    }
    .container {
      text-align: center;
      @media all and (max-width: 500px) {
        .grid-item {
          display: inline-block;
        }
      }
      h2 {
        display: block;
        width: 100%;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        line-height: 50px;
        font-size: 40px;
        color: #fff;
        font-weight: 600;
      }
      p {
        display: block;
        width: 100%;
        max-width: 100%;
        margin: 20px auto 0px;
        color: #fff;
        font-size: 19px;
        line-height: 26px;
        font-weight: 400;
        width: 70%;
        max-width: 90%;
        @media all and (max-width: 500px) {
          width: 90%;
        }
      }
      .social {
        color: #fff;
        font-size: 23px;
        line-height: 25px;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        @media all and (max-width: 500px) {
          span {
            display: none;
          }
        }
        img {
          max-width: 50px;
          vertical-align: middle;
          margin-right: 5px;
        }
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
