.chazown {
  .chazown-bg {
    @include retina-image(/images/chazown/chazown-bg, 500px auto, jpg);
    background-color: white;
    background-repeat: repeat-x;
    background-position: center bottom;
    border-bottom: 1px solid #eee;
    margin-bottom: 25px;
    padding-bottom: 130px;

    @include media($medium-screen) {
      background-size: 1255px auto;
      padding-bottom: 340px;
    }

    @media only screen and (max-width: $medium-screen) {
      h1 { margin-top: 0; }
    }
  }
}
