.home {

background-color: black;

.action {
  color: #86def7;
}

.home-menu {
  background: white;
  padding: 0 1em;
  margin-bottom: -10px;

  @include media($medium-screen) {
    display: none;
  }
  
  a {
    @include transition (background .1s);
    @include row();
    padding: .8em 1em;
    margin: 0 -1em;
    border-bottom: 1px solid $medium-gray;
  }

  dl {
    margin-top: 0;
  }

  dt {
    @extend h4;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
  }

  dd {
    color: $black;
  }
}

// Timer
///////////////////////////////////////////////////////////////////////////////

.action-live {
  position: relative;
}

span[data-churchonline-counter] {
  font-size: 0.6em;
  display: block;
  position: absolute;
  margin-top: -2px;
}

// Feature 
///////////////////////////////////////////////////////////////////////////////

.hero.top {
  @include retina-image(/images/home/home-bg-small, cover, jpg);
  background-color: #000;
  background-position: top center;
  background-repeat: no-repeat;
  border-bottom: 1px solid #444;
  min-height: 300px;
  
  @include media($medium-screen) {
    @include retina-image(/images/home/home-bg, 1500px 931px, jpg);
    min-height: 670px;
    background-position: center -80px;
  }

  h1 {
    @include hide-text;
  }

  .hero-copy {
    color: white;
    margin-top: 100px;
    
    @include media($medium-screen) {
      margin-top: 360px;
    }
  }
}

// Closing
///////////////////////////////////////////////////////////////////////////////

.closing {
  background: black;
  padding-top: 0;

  .container {
    border: none;
  }
}

// Next Week

.coming-up {
  max-width: 1500px;
  margin: 0 auto;
  height: 140px;

  @media screen and (min-width: 750px) {
    height: 320px;
  }
}

.next-week {
  @include retina-image(/images/home/next-week-small, 355px auto);
  background-position: center !important;
  background-repeat: no-repeat !important;
  background: #f0f0f0;
  height: 140px;
  display: block;
  position: relative;
  text-indent: -999em;
  width: 100%;
  height: 190px;
  background-size: 80% autox;

  @media screen and (min-width: 750px) {
    @include retina-image(/images/home/next-week, 748px auto);
    height: 320px;
  }
}

.easter {
  @include retina-image(/images/home-easter-small, 355px 140px);
  background-position: center top;
  background-repeat: no-repeat;
  height: 140px;
  display: block;
  text-indent: -999em;
  position: relative;
  float: left;
  width: 50%;
  
  @media screen and (min-width: 750px) {
    @include retina-image(/images/home/easter, 750px 327px);
    height: 320px;
    background-size: 750px 327px;
    border: 2px solid white;
    
    &:after {
      @include transition-property(background);
      @include transition-duration(.25s);
      content: "";
      width: 100%;
      height: 316px;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0,0,0,0);
    }

    // Tile hover action
    &:hover:after {
      background: rgba(0,0,0,.3);
    } 
  }  
}

.home-nav-small {
  a {
    border-bottom: 1px solid #eee;
    display: block;
    padding: 3px 15px;
  }

  h4 {
    margin-bottom: 2px;
  }

  p {
    margin-bottom: 7px;
    font-size: .8em;
  }
}

}


.lt-ie9 .home-menu {
  display: none !important;
}
