.home {

  .home-menu {
    background: white;
    padding: 0 1em;
    margin-bottom: -10px;

    @include media($medium-screen) {
      display: none;
    }
    
    a {
      @include transition (background .1s);
      @include row();
      padding: .8em 1em;
      margin: 0 -1em;
      border-bottom: 1px solid $medium-gray;
    }

    dl {
      margin-top: 0;
    }

    dt {
      @extend h4;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 0;
    }

    dd {
      color: $black;
    }
  }

  // Timer
  ///////////////////////////////////////////////////////////////////////////////

  .action-live {
    position: relative;
  }

  span[data-churchonline-counter] {
    font-size: 0.6em;
    display: block;
    position: absolute;
    margin-top: -2px;
  }

  // Feature 
  ///////////////////////////////////////////////////////////////////////////////

  .hero {
    background: #f0f0f0;
  }

  .hero .hero-inner {
    @include retina-image(/images/home/home-bg-small, auto 150px);
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 300px;

    blockquote {
      margin-top: 12em;
    }
    
    @include media($medium-screen) {
      @include retina-image(/images/home/home-bg, 370px auto);
      min-height: 470px;
      background-position: right top;
    }

    @include media($large-screen) {
      background-size: 570px auto;
      min-height: 600px;
    }

    h1 {
      @include hide-text;
    }

    blockquote {
      margin-bottom: 2em;
    }

    .hero-copy {
      @include media($medium-screen) {
        @include span-columns(5);
        text-align: left;
        margin-top: 0;

        blockquote {
          margin-top: 0;
        }
      }

      @include media($large-screen) {
        @include span-columns(4);
        margin-top: 5em;
      }
    }
  }

  // Closing
  ///////////////////////////////////////////////////////////////////////////////

  .closing {
    padding-top: 0;

    .container {
      border: none;
    }
  }

  .next-week {
    @include retina-image(/images/home/next-week-small, cover);
    background-position: center !important;
    background-repeat: no-repeat !important;
    background: #f0f0f0;
    height: 140px;
    display: block;
    position: relative;
    text-indent: -999em;
    width: 100%;
    height: 190px;
    background-size: 80% autox;

    @media screen and (min-width: 750px) {
      @include retina-image(/images/home/next-week, 1500px auto);
      height: 320px;
      border-top: 2px solid white;
    }
  }

  .home-nav-small {
    a {
      border-bottom: 1px solid #eee;
      display: block;
      padding: 3px 15px;
    }

    h4 {
      margin-bottom: 2px;
    }

    p {
      margin-bottom: 7px;
      font-size: .8em;
    }
  }
}

.lt-ie9 .home-menu {
  display: none !important;
}
