.kids {
  .grade {
    border: 2px solid $red;
    background: transparent;
    color: $red;
    text-align: center;
    font-size: em(16);
    margin: 0 auto;
    position: relative;
    bottom: -30px;
    font-family: $sans-serif;

    &:hover {
      border: 2px solid $red;
      background: transparent;
      color: $red;
      cursor: initial;
    }

    @include media($medium-screen) {
      font-size: em(20);
    }
  }

  .kids-bg {
    @include retina-image(/images/kids/kids-bg-small, 472px 408px, jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #eadcbf;

    @include media($medium-screen) {
      @include retina-image(/images/kids/kids-bg-large, 1500px 876px, jpg);

      h1 {
        margin-top: 410px;
      }
    }

    @media only screen and (max-width: $medium-screen) {
      h1 { margin-top: 0; }
    }
  }

  .the-loop-logo {
    color: $black;

    img {
      margin-bottom: -16px;
    }
  }

  #switch {
    @include retina-image(/images/kids/switch-bg-small, 506px 403px, jpg);
    background-color: #191913;
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 180px;
    padding-bottom: 40px;
    
    @include media($medium-screen) {
      @include retina-image(/images/kids/switch-bg, 1500px 403px, jpg);
    }

    .grade {
      color: lighten($red, 20%);
      border-color: lighten($red, 20%); 
    }
  }
}
