.involved-list {

  .cta {
    position: relative;
    height: 40px;
    @include transition-property(height);
    @include transition-duration(.5s);

    &.open {
      height: 300px;

      @media #{$medium-up} {
        height: 360px;
      }

      @media #{$large-up} {
        height: 310px;
      }  
    }

    &.sent {
      height: 80px;
    }
  }

  form {
    position: absolute;
    top: -15px;
    width: 100%;

    &.validation {
      input[type="text"] {
        border-color: red;
      }
    }
  }

}
