@import "../../bourbon/bourbon";
@import "../../neat/neat";
@import "../../bitters/bitters";

.hero {
  background-color: black;
  @include retina-image(/images/watch/landings/atthemovies/hero-bg, cover, jpg)!important;
  background-size: cover;
  background-position: center bottom;
  height: 620px;
  color: white;
  position: relative;

  @include media($medium-screen) {
    @include retina-image(/images/watch/landings/atthemovies/hero-bg, cover, jpg)!important;
    background-size: cover;
    height: 600px;
  }
  
  .hero-inner,
  .hero-closing {
    text-shadow: 1px 0 10px #000;
  }

  h1 {
    color: white;
    //padding-top: 1.5em;
    font-weight: 300;
    text-transform: uppercase; 
  }

  .action {
    color: $dark-red;

    &:hover {
      color: $blue;
    }
  }

  .hero-closing {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 1em;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    
    .lead {
      font-size: 1.25em !important;
    }

    .action {
      color: $medium-gray;

      &:hover {
        color: white;
      }
    }
  }
}

.group.about-lctv {
  @include retina-image(/images/watch/landings/about-bg-small, cover, jpg);
  background-size: cover;
  background-position: center bottom;

  @include media($medium-screen) {
    @include retina-image(/images/watch/landings/about-bg, 1500px auto, jpg);
    background-size: 1500px auto;
  }
}

.closing {
  .container {
    border: none;
    padding-top: 0;
  }
}
