// Panel - Bordered box of content
///////////////////////////////////////////////////////////////////////////////

.panel {
  border: 1px solid $base-border-color;
  background: white;
  padding: 1em;
  position: relative;
  max-width: 40em;

  p {
    @extend .detail;
  }

  h3 {
    margin-top: 0;
  }

  a:hover & {
    border-color: $blue;
  }
}
