.persistent-navigation-wrapper {
  min-height: 60px;
}

#persistent-navigation {
  @include transition(top .25s ease-in-out);
  width: 100%;
  min-height: 60px;

  &.top {
    background: rgba(255, 255, 255, .97);
    border-bottom: 1px solid $medium-gray;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }

  li {
    display: inline-block;
    margin: .7em 0;
  }

  a {
    @extend .button;
    background: transparent;
    color: $dark-gray;
    font-size: 15px;
  }
  
  .active {
    background: $blue;
    color: white;
  }
}

#persistent-navigation.excuse-me {
  top: 79px !important;
} 
