---
layout: default
title: Watch a Message
class: header-light section-watch page-watch logo-red-white
hero: watch-hero
---

  <div class="hero-inner">
    <div class="hero-side alt">
      <h1 class="h2">View a message on demand or <a href="http://live.lifechurch.tv" onclick="ga('send', 'event', 'Watch', 'Click', 'Live');">visit a live experience <span data-churchonline-counter></span> <i class="icon-arrow"></i></a></h1>
    </div>
  </div>
</section>

<div class="group of-grid-items">
  <!-- Archive Grid -->
  <div class="container">
    <div class="grid-items grid-three">
      {% for post in site.categories.watch limit:9 %}
      {% for series in site.data.watch %}
      {% if series.id == post.series-id %}

      <!-- Archive Item -->
      <div class="grid-item watch-item">
        <a href="{{ post.url }}">
          <div class="panel">
            {% if post.live == true %}
            <div class="ribbon-wrapper"><div class="ribbon">LIVE</div></div>
            {% endif %}

            <img src="{{ series.image_small }}" data-retina="{{ series.image_medium }}" />
            <h6>{{ series.title }}</h6>
          </div>
        </a>
      </div>

      {% endif %}
      {% endfor %}
      {% endfor %}
    </div>
  </div>

  <!-- Archive list link -->
  <section class="single text-center padded">
    <p>
      <a href="/watch/archive/"
         class="action large"
         onclick="ga('send', 'event', 'Watch', 'Click', 'View Archives');">
         View more archives <i class="icon icon-play"></i>
      </a>
    </p>
  </section>
</div>
