---
layout: default
title: Watch a Message
class: header-light section-watch page-watch
---

<!-- Live -->

{% assign latest = site.data.watch | first %}

<section class="section-watch-bg section-light page-section section-first">
  <div class="row">
    <div class="medium-7 columns">
      <h1 class="h2 text-white">Some text goes here that introduces watching messages.</h1>
    </div>
  </div>
</section>

<!-- Archive Grid -->
<div class="row">
  <div class="large-12 columns">
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
      {% for post in site.categories.watch limit:9 %}
      {% for series in site.data.watch %}
      {% if series.id == post.series-id %}

      <!-- Archive Item -->
      <li class="watch-item">
        <a href="{{ post.url }}">
          <div class="panel">
            {% if post.live == true %}
            <div class="ribbon-wrapper"><div class="ribbon">LIVE</div></div>
            {% endif %}

            <img src="{{ series.image_small }}" data-interchange="[{{ series.image_small }}, (default)], [{{ series.image_medium }}, (medium)]" alt="{{ series.title }}" src="{{series.image_small}}" />
            <noscript><img src="{{ series.image_small }}" alt="{{ series.title }}"></noscript>

            <h6>{{ series.title }}</h6>
          </div>
        </a>
      </li>

      {% endif %}
      {% endfor %}
      {% endfor %}
    </ul>
  </div>
</div>

<!-- Archive list link -->
<section class="page-section section-last">
<div class="row">
  <div class="large-12 large-centered columns text-center">
    <a href="/watch/archive/"
       class="action large text-black"
       onclick="ga('send', 'event', 'Watch', 'Click', 'View Archives');">
       View more archives <i class="icon icon-play"></i>
    </a>
  </div>
</div>
</section>
