---
layout: default
title: Serve At Church Online
permalink: /online/volunteer/
class: live live-volunteer header-light logo-red-white
section: live
skrollable: true
---

  <div class="explore">
    <a href="#host-team">
      <img src="https://s3.amazonaws.com/lctv-site/churchonline/volunteer/explore.png" /><br />
      <span>Explore Volunteering at Church Online</span>
    </a>
  </div>

  <!-- Tertiary -->
  <div class="container">
    <section id="tertiary">
      <nav class="breadcrumb">
        <a href="//live.life.church">Church Online</a>
        <a class="current" href="#">Serve</a>
      </nav>

      <div class="resources"> 
        <a href="/online/" class="action">About</a> 
        <a href="#" class="action active">Serve</a>
        <a href="//live.life.church" class="action">Live</a> 
        <a href="//churchonline.life.church" class="action">Blog</a> 
      </div>
    </section>
  </div>

<!-- Fixed scrolling nav -->
<div class="persistent-navigation-wrapper large-element text-center">
  <ul id="persistent-navigation" class="large-element">
    <li><a href="#host-team">Host Team</a></li>
    <li><a href="#lifegroups">LifeGroups</a></li>
    <li><a href="#prayer-team">Prayer Team</a></li>
    <li><a href="#social-media">Social Media</a></li>
    <li><a href="#operations">Operations</a></li>
  </ul>
</div>

<!-- Video Header -->
<section class="hero" id="hero">
  <div id="video-container">
    <video style="" loop="loop" autoplay="autoplay"><source data-wf-ignore="" src="https://daks2k3a4ib2z.cloudfront.net/56e2eec322a68dcf7164922f/56e2f473f5174c4a5517c8b8_PC-Typing-transcode.webm"><source data-wf-ignore="" src="https://daks2k3a4ib2z.cloudfront.net/56e2eec322a68dcf7164922f/56e2f473f5174c4a5517c8b8_PC-Typing-transcode.webm,https://daks2k3a4ib2z.cloudfront.net/56e2eec322a68dcf7164922f/56e2f473f5174c4a5517c8b8_PC-Typing-transcode.mp4"></video>
  </div>
    <div class="copy">
      <h1>Come change the world with us!</h1>
      <p>Whether you prefer to stay behind the scenes of if you're excited to build new relationships, you'll find the perfect way to volunteer at Church Online.</p>
      <a href="#get-started" class="button">Get Started</a>
    </div>
</section>

<!-- Host Team -->
<section class="host-team" id="host-team">
  <div class="container">
    <article>
      <h3>Host Team</h3>
      <h2>The Church Online Host Team sets the stage for life change.</h2>
      <p>As a Host Team member, you’ll hang out in the chat window and facilitate discussion, pray with attenders, and show the love of Jesus to people who haven’t heard His name yet. If that sounds like you, we’ve got a Host Team spot with your screen name on it.</p>
      <p><a href="#get-started">Join the Host Team <i class="icon-arrow"></i></a></p>
    </article>
    <figure>
    </figure>
  </div>
</section>

<!-- LifeGroups -->
<section class="lifegroups" id="lifegroups">
  <div class="container">
    <figure>&nbsp;</figure>
    <article>
      <h3>LifeGroups</h3>
      <h2>Grow, laugh, and serve together.</h2>
      <p>At Church Online, there are several groups that meet face-to-face or online via video, chat, or phone. Ready to leverage technology to lead people to become fully devoted followers of Christ? Leading a LifeGroup is a great first step.</p>
      <p><a href="#get-started">Learn more about LifeGroups <i class="icon-arrow"></i></a></p>
    </article>
  </div>
</section>

<!-- Prayer Team -->
<section class="prayer-team" id="prayer-team">
  <div class="container">
    <article>
      <h3>Prayer Team</h3>
      <h2>Broken. Angry. Alone.</h2>
      <p>These are just some of the words that flood the Prayer Team request inbox every single day. The Prayer Team accepts requests from every corner of the world, and takes time to offer a prayerful response to the people who need it most. Spend some time with the Prayer Team and you’ll see how powerful prayer has no limits.</p>
      <p><a href="#get-started">Join the Prayer Team <i class="icon-arrow"></i></a></p>
    </article>
    <figure>
      <a href="https://www.youtube.com/watch?v=mQuPZklS25A" target="_blank">
        <i class="fa fa-play-circle"></i>
        Watch Ira's Story
      </a>
    </figure>
  </div>
</section>

<!-- Social Media Team -->
<section class="social-media" id="social-media">
  <div class="container">
    <figure>
      <a href="https://www.youtube.com/watch?v=obo4kiMhsG4" target="_blank">
        <i class="fa fa-play-circle"></i>
        Watch Chelcie's Story
      </a>
    </figure>
    <article>
      <h3>Social Media Team</h3>
      <h2>A light in the darkness.</h2>
      <p>Social media can be filled with despair, emptiness, and hopelessness. The Social Media Team is called to be a light in that darkness. A simple comment or bit of encouragement can change the course of someone’s day—maybe even their future. Got a phone and 15 minutes a week? You already have what you need to join the Social Media Team.</p>
      <p><a href="#get-started">Join the Social Media Team <i class="icon-arrow"></i></a></p>
    </article>
  </div>
</section>

<!-- Operations Team -->
<section class="operations" id="operations">
  <div class="container">
    <article>
      <h3>Operations Team</h3>
      <h2>Extend the reach of Church Online.</h2>
      <p>The Operations Team deploys data analysis and marketing strategy. This team is also passionate about communication, story telling and keeping things organized. If you dream in charts and graphs, and there’s no number large enough to express your love for the global community, you might find a home volunteering on the Church Online Operations Team.</p>
      <p><a href="#get-started">Join the Operations Team <i class="icon-arrow"></i></a></p>
    </article>
    <figure></figure>
  </div>
</section>

<div class="container text-left padded" id="get-started"> 
  <div class="grid-items grid-four involved-list">
      {% for item in site.data.serving %}
      {% if item.location == "Online" %}
      {% include involved-item.html for='hubspot' %}
      {% endif %}
      {% endfor %}
  </div> 
</div>

<div class="up"><a href="#hero"><img src="https://s3.amazonaws.com/lctv-site/worship/Up-Arrow-White.png" /></a></div>

<!-- JS -->
<script>
  $(document).scroll(function() {
  var y = $(this).scrollTop();
  if (y > 500) {
    $('.up').fadeIn();
  } else {
    $('.up').fadeOut();
  }
});
  $(document).scroll(function() {
  var y = $(this).scrollTop();
  if (y > 500) {
    $('.persistent-navigation-wrapper').fadeIn();
  } else {
    $('.persistent-navigation-wrapper').fadeOut();
  }
});
</script>