---
layout: default
title: Digital Missions
permalink: /digital-missions/
class: digital-missions header-red
hero: digital-missions-bg
---

  <div class="hero-inner">
    <div class="hero-copy">
      <h1>Leveraging technology for Christ.</h1>
      <p class="lead">We can accomplish infinitely more together than apart and we're dedicated to sharing the resources God has entrusted to us. That's why Life.Church digital resources are available for free to churches all around the world.</p>
    </div>
  </div>
</section>

<section class="group" id="individuals">
  <div class="single text-center">
    <header>
      <h2>Increasing Bible engagement.</h2>
    </header>
    <article>
      <p>YouVersion is helping millions around the world change the way they read and share the Bible. Through the free Bible App, people are making God’s Word a part of their daily life.</p>
    </article>
  </div>

  <div class="container padded">
    <div class="bible-app">
      <figure class="bible-app-image">
        <img class="large-element" src="/images/digital-missions/dm-iphone-bible.svg" alt="" />
        <img class="small-element" src="/images/digital-missions/dm-iphone-bible-small.svg" alt="" />
      </figure>
      <h4 class="header-with-inline-icon"><img src="/images/digital-missions/dm-bible.png" width="60" height="60" alt="" />  Bible App</h4>
      <p class="detail">Enjoy hundreds of Bible versions and languages, along with a wide selection of plans that help you develop a daily Bible reading habit.</p>
      <a href="https://www.bible.com/"
         class="action"
         onclick="ga('send', 'event', 'Digital Missions', 'Click', 'Bible Site');">
         Visit site <i class="icon icon-play"></i>
      </a> 
      <a href="javascript:void(0);"
         data-video-player="R4Gu_ac72NUz"
         class="action"
         onclick="_gaq.push(['_trackEvent', 'Digital Missions', 'Watch', 'Bible Video']);">
         Watch video <i class="icon icon-arrow"></i>
      </a>
    </div>
    <div class="bible-kids">
      <figure class="bible-kids-image">
        <img class="large-element" src="/images/digital-missions/dm-iphone-biblekids2.svg" alt="" />
        <img class="small-element" src="/images/digital-missions/dm-iphone-biblekids-small.svg" alt="" />
      </figure>
      <h4 class="header-with-inline-icon"><img src="/images/digital-missions/dm-biblekids.svg" width="60" height="60" alt="" />  Bible App for Kids</h4>
      <p class="detail">A free Bible experience for your kids with colorful illustrations and touch-activated animations. Games and activities will help kids remember what they learn.</p>
      <p>
        <a href="https://www.bible.com/kids"
           class="action small"
           onclick="ga('send', 'event', 'Digital Missions', 'Click', 'Bible Kids Site');">
           Visit site <i class="icon icon-arrow"></i>
        </a>
        <a href="javascript:void(0);"
           data-video-player="mVlPSc9rrrdD"
           class="action small"
           onclick="_gaq.push(['_trackEvent', 'Digital MIssions', 'Watch', 'Bible Kids Video']);">
           Watch video <i class="icon icon-arrow"></i>
        </a>
       </p>
    </div>
  </div>
</section>

{% include haivision-video-player.html id='R4Gu_ac72NUz' %}
{% include haivision-video-player.html id='mVlPSc9rrrdD' %}

<div class="group alt">
  <div class="single text-center">
    <header>
      <h2>Church Online at Life.Church.</h2>
    </header>

    <article>
      <p>For people who can’t or won’t walk through the doors of a church building, Church Online offers a welcoming environment where they can seek God and explore their questions. More than 100,000 people from over 224 countries and territories log in to more than 60 experiences at Church Online each week.</p>
      <p>
        <a href="http://live.life.church"
           class="action"
           onclick="ga('send', 'event', 'Digital Missions', 'Click', 'Church Online Site');">
           Visit Church Online <i class="icon icon-arrow"></i>
        </a>
      </p>
    </article>

    <figure class="container padded">
      <img src="/images/digital-missions/dm-chop-image.jpg" data-retina="/images/digital-missions/dm-chop-image@2x.jpg" alt="Church Online" />
    </figure>
  </div>

  <blockquote class="container">
    <p>"God sent Life.Church Church Online to my browser. It has unity, generosity, biblical teaching, outreach, and Jesus! It is the answer to reach people no one is really reaching."</p>
    <cite>Danny, Indonesia &nbsp;
      <a class="tweet-this"
         href="http://twitter.com/home/?status=“God sent Life.Church Church Online to my browser …” http://www.life.church/digital-missions/"
         onclick="ga('send', 'event', 'Digital Missions', 'Click', 'Tweet Quote');">
         <i class="icon icon-social-twitter"></i> tweet this quote
      </a>
    </cite>
  </blockquote>
</div>

<section class="group" id="churches">
  <div class="single text-center">
    <header>
      <h2>Resourcing the capital “C” Church.</h2>
    </header>
    <article>
      <p>We believe in being irrationally generous and that the local church is the hope of the world. These core values fuel our passion for equipping pastors and church leaders around the world with the best tools, resources, and support – completely free of charge.</p>
    </article>
  </div>

  <div class="container">
    <div class="grid-items grid-two">
      <div class="grid-item padded">
        <img src="/images/digital-missions/dm-screen-chop.png" data-retina="/images/digital-missions/dm-screen-chop@2x.png" alt="Product screenshot" /> 
        <h4 class="header-with-inline-icon"><img src="/images/digital-missions/dm-chop.svg" width="60" height="60" alt="" /> Church Online Platform</h4>
        <p class="detail">The Church Online Platform is a free tool to help churches launch online ministries and reach the people they are uniquely equipped to reach.</p>

        <p>
          <a href="http://churchonlineplatform.com/"
             class="action small"
             onclick="ga('send', 'event', 'Digital Missions', 'Click', 'Church Online Site');">
             Visit site <i class="icon icon-arrow"></i>
          </a>
        </p>
      </div>

      <div class="grid-item padded">
        <img src="/images/digital-missions/dm-screen-open.png" data-retina="/images/digital-missions/dm-screen-open@2x.png" alt="Product screenshot" /> 
        <h4 class="header-with-inline-icon"><img src="/images/digital-missions/dm-open.svg" width="60" height="60" alt="" /> Open</h4>
        <p class="detail">Open gives pastors and church leaders free access to sermons, videos, editable graphics, children's lessons, and more from the Life.Church library of resources.</p>

        <p>
          <a href="http://open.church/"
             class="action small"
             onclick="ga('send', 'event', 'Digital Missions', 'Click', 'OPEN Site');">
             Visit site <i class="icon icon-arrow"></i>
           </a>
          <a href="#"
             class="action small"
             data-video-player="obn3bdsgx1"
             onclick="ga('send', 'event', 'Digital Missions', 'Click', 'OPEN Video');">
             Watch video <i class="icon icon-play"></i>
          </a>
        </p>
      </div>

      <div class="grid-item padded">
        <img src="/images/digital-missions/dm-screen-cmetrics.png" data-retina="/images/digital-missions/dm-screen-cmetrics@2x.png" alt="Product screenshot" /> 
        <h4 class="header-with-inline-icon"><img src="/images/digital-missions/dm-churchmetrics.svg" width="60" height="60" alt="" /> Church Metrics</h4>
        <p class="detail">Church Metrics is the leading tool for tracking church attendance, giving, salvations, baptisms, and more.</p>

        <p>
          <a href="https://www.churchmetrics.com/"
             class="action small"
             onclick="ga('send', 'event', 'Digital Missions', 'Click', 'Church Metrics Site');">
             Visit site <i class="icon icon-arrow"></i>
          </a>
          <a href="javascript:void(0)"
             class="action small"
             data-video-player="EN1bLwioEKgG"
             onclick="ga('send', 'event', 'Digital Missions', 'Click', 'Church Metrics Video');">
             Watch video <i class="icon icon-play"></i>
          </a>
        </p>
      </div>

      <div class="grid-item padded">
        <img src="/images/digital-missions/dm-screen-developme.png" data-retina="/images/digital-missions/dm-screen-developme@2x.png" alt="Product screenshot" /> 
        <h4 class="header-with-inline-icon"><img src="/images/digital-missions/dm-developme.svg" width="60" height="60" alt="" /> Develop.Me</h4>
        <p class="detail">Develop.Me is a performance review tool designed specifically to help church staffs reach their goals in the body of Christ.</p>

        <p>
          <a href="https://www.develop.me/"
             class="action small"
             onclick="ga('send', 'event', 'Digital Missions', 'Click', 'Develop.Me Site');">
             Visit site <i class="icon icon-arrow"></i>
          </a>

          <a href="javascript:viod(0)"
             class="action small"
             data-video-player="6Aq7KQtKIB45"
             onclick="ga('send', 'event', 'Digital Missions', 'Click', 'Develop.Me Video');">
             Watch video <i class="icon icon-play"></i>
           </a>
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <blockquote class="large">
      <p>"I’m telling you: we’ll do video church, we’ll take church online, we’ll leverage technology. We will do anything short of sin to reach people who do not know Christ."</p>
      <cite>Craig Groeschel, Senior Pastor &nbsp;
        <a class="tweet-this"
           href="http://twitter.com/home/?status=“We will do anything short of sin to reach people who do not know Christ.” http://www.life.church/digital-missions/"
           onclick="ga('send', 'event', 'Digital Missions', 'Click', 'Tweet Quote');">
           <i class="icon icon-social-twitter"></i> tweet this quote
        </a>
      </cite>
    </blockquote>
  </div>
</section>

<section class="section-giving-numbers text-center section-light">  
  {% include stat-counter.html page="digital-missions" %}
</section>

<section class="group">
  <div class="container text-center">
    <p>
      <a href="https://giving.life.church/portal/give?fund=Digital+Missions"
         class="action text-black large"
         onclick="ga('send', 'event', 'Digital Missions', 'Click', 'Give');">
         Give to Digital Missions <i class="icon icon-arrow"></i>
      </a>
      <a href="/serving/#digital-missions"
         class="action text-black large"
         onclick="ga('send', 'event', 'Digital Missions', 'Click', 'Serve');">
         Serve with us <i class="icon icon-arrow"></i>
      </a>
    </p>
  </div>
</section>

{% include haivision-video-player.html id='EN1bLwioEKgG' %}
{% include haivision-video-player.html id='6Aq7KQtKIB45' %}
{% include video-player.html id='obn3bdsgx1' %}
