---
layout: watch-landing
title: Easter 2016 at Life.Church
permalink: /easter/
class: section-watch-landing header-light logo-white-white easter
image_social: /images/easter/easter-share.jpg
description: 'The deepest love poured out of the greatest sacrifice in history. A love that heals. A love that forgives. A love that welcomes. Join us this Easter as we celebrate the power of Christ’s resurrection.'
---

{% include easter-slideout.html %}

<div class="hero-inner">
    <h1>Easter</h1>
    <a class="cta" id="close-2" href="#sidr">Get Service Times</a>
  </div>

<i class="fa fa-arrow-down"></i>

</section>


<div class="group">
  <div class="container">
    <section class="feature">
      <article>
        <h2>What To Expect</h2>
        <p>At Life.Church, you’ll be welcomed into a friendly, casual environment by people who are excited to see you – both at <a href="http://www.live.life.church" target="_blank">Life.Church Church Online</a> and <a href="/locations/" target="_blank">in person</a>. At each service, you can expect a thought-provoking and engaging message based on the Bible, high-energy music, and more!</p>

        <p><a id="simple-menu" href="#sidr">Get Easter service times
          <i class="icon-arrow"></i></a></p>
        <p><a href="/locations/">Find a location near you
          <i class="icon-arrow"></i></a> </p>
      </article>
      <figure>
        <img src="/images/easter/easter.jpg" data-retina="/images/easter/easter@2x.jpg" alt="Easter at Life.Church" />
      </figure>
    </section>
  </div>
  <div class="container">
    <p class="text-center" style="margin-top: 2em;">
        <a href="http://twitter.com/home/?status=This Easter, you can experience the most powerful love of all. Join me at @lifechurch! www.life.church/easter"
       class="action"
       onclick="return popitup('http://twitter.com/home/?status=This Easter, you can experience the most powerful love of all. Join me at @lifechurch! www.life.church/easter');
                ga('send', 'event', 'Watch Landing', 'Click', 'Share Twitter');">
       Share on Twitter <i class="icon icon-social-twitter"></i>
        </a>
        <a href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.life.church/easter/"
       class="action"
       onclick="return popitup('http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.life.church/easter/');
                ga('send', 'event', 'Watch Landing', 'Click', 'Share Facebook');">
       Share on Facebook <i class="icon icon-social-facebook"></i>
        </a>
      </p>
  </div>
</div>

<figure class="hero hero-like-jesus large-element" data-stellar-background-ratio="0.9"></figure>


<section class="group">
  <div class="single">
    <header class="text-center">
      <h2>Celebrate Easter at Life.Church</h2>
    </header>
    <article>
      <p>The deepest love poured out of the greatest sacrifice in history. A love that heals. A love that forgives. A love that welcomes. Join us this Easter as we celebrate the power of Christ’s resurrection.</p>
      
      <p class="text-center"><a href="javascript:void(0);"
         data-video-player="fIGiblvxefW2"
         class="action large"
         onclick="ga('send', 'event', 'Giving', 'Click', 'Easter 2016');">
         Watch promo <i class="icon icon-play"></i>
      </a></p>

    </article>
  </div>
</section>

{% include haivision-video-player.html id='fIGiblvxefW2' %}

