---
layout: default
title: Equipping Churches
permalink: /churches/
class: header-red equipping-churches digital-missions
hero: digital-missions-bg
---

  <div class="hero-inner">
    <div class="hero-copy">
      <h1>Equipping Churches Everywhere.</h1>
      <p>The local church is the hope of the world. That's why everything LifeChurch.tv creates is made for the "capital C" Church, too. We hope these resources, partnerships, and products help churches everywhere lead people to become fully devoted followers of Christ.</p>
    </div>
  </div>
</section>

<section class="single group alt text-center">
  <header class="header-with-icon">
    <a href="http://www.open.church" target="_blank"><img src="/images/equipping-churches/ec-open-icon.png" alt="OPEN icon" height="60" /></a>
    <h2>Explore Free Resources with Open</h2>
  </header>

  <article>
    <p>We're committed to maximizing the resources God has entrusted to us, so we've made the entire library of LifeChurch.tv resources and ideas available for free.</p>
    <p>Explore nearly 30,000 sermons, children’s materials, creative resources, and leadership ideas to support every part of your ministry. And they're all 100% free.</p>
    <p>
      <a href="http://open.church/"
         class="action"
         onclick="ga('send', 'event', 'Equipping Churches', 'Click', 'OPEN Site');">
         Visit open.church <i class="icon icon-arrow"></i>
      </a>
    </p>
    
    <p><a class="video-thumb video-thumb-open-1" href="javascript:void(0);" data-video-player="obn3bdsgx1"><span class="play-small"></span><span></span></a></p>
  </article>

  <figure class="container padded">
    <img src="/images/equipping-churches/ec-open.jpg" data-retina="/images/equipping-churches/ec-open@2x.jpg" alt="OPEN" />
  </figure>
</section>

{% include video-player.html id='obn3bdsgx1' %}

<section class="single group text-center">
  <header class="header-with-icon">
    <a href="http://www.networkchurches.tv" target="_blank"><img src="/images/equipping-churches/ec-network-icon.svg" alt="NetworkChurches.tv icon" width="60" /></a>
    <h2>Partner Through Network Churches</h2>
  </header>

  <article>
    <p>Network Churches partner with LifeChurch.tv and each other in mission, content, and relationship to reach people for Christ throughout their communities. </p>
    <p>When you become part of Network Churches, you'll find resources and relationships that can help your ministry grow.</p>

    <p>
      <a href="http://networkchurches.tv"
         onclick="ga('send', 'event', 'Equipping Churches', 'Click', 'NetworkChurches Site');">
         Learn more at networkchurches.tv <i class="icon icon-arrow"></i>
      </a>
    </p>

    <p><a class="video-thumb video-thumb-network-1" href="javascript:void(0);" data-video-player="3wk9pl02k7"><span class="play-small"></span><span>thebod.tv</span></a> <a class="video-thumb video-thumb-network-2" href="javascript:void(0);" data-video-player="pgy1se42fv"><span class="play-small"></span><span>The Edge Church</span></a></p>
  </article>

  {% include video-player.html id='3wk9pl02k7' %}
  {% include video-player.html id='pgy1se42fv' %}

  <figure class="container padded">
    <a href="http://www.networkchurches.tv" target="_blank"><img src="/images/equipping-churches/ec-network.png" data-retina="/images/equipping-churches/ec-network@2x.png" alt="NetworkChurches.tv" /></a>
  </figure>
</section>

<div class="group alt">
  <section class="single text-center">
    <header>
      <h2>Free Products</h2>
    </header>
    <article>
      <p>We truly believe it’s better to give than to receive, so all our ministry tools are available for free to the “capital C” Church.</p>
    </article>
  </section>

  <div class="container padded">
    <section class="feature">
      <article>
        <a href="http://churchonlineplatform.com/" target="_blank"><img src="/images/equipping-churches/ec-chop-icon.png" alt="Church Online Platform icon" height="47" /></a>
        <p class="detail">The world is more connected than ever—connect it with Christ.</p>
        <p class="detail">Launch an online ministry complete with video, chat, social media, and live prayer.</p>
        <p class="detail">
          <a href="http://churchonlineplatform.com"
             target="_blank" 
             onclick="ga('send', 'event', 'Equipping Churches', 'Click', 'CHOP Site');">
             Visit churchonlineplatform.com <i class="icon icon-window"></i>
          </a>
        </p>
      </article>
      
      <figure>
        <img src="/images/equipping-churches/ec-chop.png" data-retina="/images/equipping-churches/ec-chop@2x.png" alt="Church Online Platform" />
      </figure>
    </section>

    <section class="feature reverse padded">
      <article>
        <a href="http://churchmetrics.com/" target="_blank"><img src="/images/equipping-churches/ec-churchmetrics.png" alt="Church Metrics icon" height="50" /></a>
        <p class="detail">What story will your numbers tell?</p>
        <p class="detail">Church Metrics is the leading free tool for tracking church data like attendance, salvations, giving, and more.</p>
        <p class="detail">
          <a href="http://churchmetrics.com"
             target="_blank" 
             onclick="ga('send', 'event', 'Equipping Churches', 'Click', 'ChurchMetrics Site');">
             Visit churchmetrics.com <i class="icon icon-window"></i></a>
        </p>
      </article>
      
      <figure>
        <img src="/images/equipping-churches/ec-cmetrics.png" data-retina="/images/equipping-churches/ec-cmetrics@2x.png" alt="Church Metrics" />
      </figure>
    </section>

    <section class="feature padded">
      <article>
        <a href="http://develop.me/" target="_blank"><img src="/images/equipping-churches/ec-developme-icon.png" alt="Develop.Me icon" height="50" /></a>
        <p class="detail">Create a culture of development.</p>
        <p class="detail">Transform your annual performance reviews into year-round growth and collaboration with this free tool built just for church staffs.</p>
        <p class="detail">
          <a href="http://develop.me/"
             target="_blank" 
             onclick="ga('send', 'event', 'Equipping Churches', 'Click', 'DevelopMe Site');">
             Visit develop.me <i class="icon icon-window"></i>
          </a>
        </p>
      </article>
      
      <figure>
        <img src="/images/equipping-churches/ec-developme.png" data-retina="/images/equipping-churches/ec-developme@2x.png" alt="Develop.Me" />
      </figure>
    </section>
  </div>
</div>

<div class="group" id="bible-engagement">
  <section class="single">
    <header class="text-center">
      <h2>Increase Bible Engagement</h2>
    </header>

    <article class="text-center">
      <p>YouVersion’s mission is to help people fully engage with the Bible. The free YouVersion Bible App equips people to connect with God’s Word and biblical community daily. And the free Bible App for Kids is an animated, interactive Bible experience designed specifically to engage children.</p>
      <img src="/images/equipping-churches/bible-products.png" height="450" alt="Bible App for Kids" />
      </article>
  
    <div class="container padded">
      <div class="bible-app">
          <h3 class="header-with-inline-icon"><a href="http://bible.com/" target="_blank"><img src="/images/digital-missions/dm-bible.png" alt="Bible App icon" width="60" /></a> Bible App</h3>
          <p>By far the most downloaded app featuring Bible content in the world, the free Bible App offers more than 1,000 Bible versions, hundreds of languages, and more than 1,000 Bible Plans to help people engage daily with God's Word.</p>
          <p>
          <a href="http://bible.com/"
             class="action"
             target="_blank" 
             onclick="ga('send', 'event', 'Equipping Churches', 'Click', 'Bible App Site');">
             Visit bible.com <i class="icon icon-window"></i>
          </a>
          </p>
        </div>

      <div class="bible-kids">
          <h3 class="header-with-inline-icon"><a href="http://bibleappforkids.com/" target="_blank"><img src="/images/equipping-churches/ec-biblekids.svg" alt="Bible App for Kids icon" width="60" /></a> Bible App for Kids</h3>
          <p>Developed in partnership with OneHope, the free Bible App for Kids gives children a delight-filled Bible experience all their own. The Bible App for Kids is available in English, Spanish, Chinese, Korean, Russian, Dutch, and Brazilian Portuguese, with more languages and Bible stories still to come.</p>
          <p>
          <a href="http://bible.com/kids"
             class="action"
             target="_blank" 
             onclick="ga('send', 'event', 'Equipping Churches', 'Click', 'Bible App Kids Site');">
             Visit bible.com/kids <i class="icon icon-window"></i>
          </a>
        </p>
      </div>
    </div>

  </section>
</div>

<div id="partnered-products" class="group alt">
  <section class="single text-center">
    <header>
      <h2>Partnered Products</h2>
    </header>
    <article>
      <p>We truly believe we're better when we're together, so LifeChurch.tv has partnered with OneHope to bring the "capital C" Church a simple, cost effective mobile giving tool.</p>
    </article>
  </section>

  <div id="kindrid" class="container padded">
    <div class="feature">
      <article>
        <a href="http://kindrid.com/" target="_blank"><img src="/images/equipping-churches/ec-kindrid-icon.svg" alt="Kindrid App icon" width="60" /></a>
        <h3>Kindrid</h3>
        <p class="detail">Kindrid Smart Giving offers competitive rates, integrates with many church management programs, and helps unleash generosity in your church all through a sleek mobile giving interface.</p>
        <p class="detail">
          <a href="http://kindrid.com"
             target="_blank" 
             onclick="ga('send', 'event', 'Equipping Churches', 'Click', 'Kindred Smart Giving');">
             Visit kindrid.com <i class="icon icon-window"></i>
          </a>
        </p>
      </article>

      <figure class="large-element">
        <img src="/images/equipping-churches/ec-kindrid.png" data-retina="/images/equipping-churches/ec-kindrid@2x.png" alt="Kindrid" />
      </figure>
    </div>
  </div>
</div>

<section id="stay-connected" class="group text-center">
  <div class="single">
    <header>
      <h2>Stay Connected</h2>
    </header>

    <article>
      <p>We are irrationally generous. We also move fast and follow momentum. That means there are always new, innovative resources available to you and other churches around the world. To stay in the loop on free tools, new releases, and ministry news, sign up for our newsletter.</p>
      <p><a
        href="https://app.e2ma.net/app2/audience/signup/1745803/1727206/?v=a"
        class="action"
        onclick="ga('send', 'event', 'Equipping Churches', 'Click', 'Future Apps');">
        Subscribe to our Digital Missions mailing list <i class="icon icon-arrow"></i>
      </a></p>
    </article>
  </div>
</section>
