---
layout: default
title: Equipping Churches
permalink: /churches/
class: header-red equipping-churches digital-missions
hero: digital-missions-bg
---

  <div class="hero-inner">
    <div class="hero-copy">
      <h1>Equipping Churches Everywhere.</h1>
      <p>We believe the local church is the hope of the world, and we’re honored to serve churches worldwide through free resources, partnerships, and products. Hear more from our senior pastor, Craig Groeschel, about our heart to serve the local church.</p>
      <div class="tio-video"><iframe src="http://player.theplatform.com/p/IfSiAC/generalplayer/embed/select/media/_UktE7NX_Wm4?form=html" width="800" height="450" frameBorder="0" seamless="seamless" allowFullScreen></iframe></div>
    <h3 class="email-signup">Sign up to receive our email updates for pastors and church leaders.</h2>
          <!--[if lte IE 8]>
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif]-->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({ 
              portalId: '1715485',
              formId: 'daa1d633-6e7a-4bd6-a83d-2d1c901b4630'
            });
          </script>
    </div>
  </div>
</section>

<section class="single group alt text-center">
  <header class="header-with-icon">
    <a href="http://www.open.church" target="_blank"><img src="/images/equipping-churches/ec-open-icon.png" alt="OPEN icon" height="60" /></a>
    <h2>Explore Free Resources with Open</h2>
  </header>

  <article>
    <p>We're committed to maximizing the resources God has entrusted to us, so we've made the entire library of Life.Church resources and ideas available for free.</p>
    <p>Explore more than 30,000 sermons, children’s materials, creative resources, leadership principles, and ministry ideas to support every part of your ministry. And they're all 100% free.</p>
    <p>
      <a href="http://open.life.church/"
         class="action"
         onclick="ga('send', 'event', 'Equipping Churches', 'Click', 'OPEN Site');">
         Visit open.life.church <i class="icon icon-arrow"></i>
      </a>
    </p>
    
    <p><a class="video-thumb video-thumb-open-1" href="javascript:void(0);" data-video-player="nTR3xUbvryhV"><span class="play-small"></span><span>Open for Discussion</span></a>
    <a class="video-thumb video-thumb-open-2" href="javascript:void(0);" data-video-player="S9FMwmwsC3_w"><span class="play-small"></span><span>Resourcing the "Capital C" Church</span></a>
    </p>
  </article>

  <figure class="container padded">
    <a href="http://www.open.church" target="_blank"><img src="/images/equipping-churches/ec-open.jpg" data-retina="/images/equipping-churches/ec-open@2x.jpg" alt="OPEN" /></a>
  </figure>
</section>

{% include haivision-video-player.html id='nTR3xUbvryhV' %}
{% include haivision-video-player.html id='S9FMwmwsC3_w' %}

<section class="single group text-center">
  <header class="header-with-icon">
    <a href="http://www.network.church" target="_blank"><img src="/images/equipping-churches/ec-network-icon.svg" alt="Network.Church icon" width="60" /></a>
    <h2>Partner Through Network Churches</h2>
  </header>

  <article>
    <p>Network Churches partner with Life.Church and each other in mission, content, and relationship to reach people for Christ throughout their communities. </p>
    <p>When you become part of Network Churches, you'll find resources and relationships that can help your ministry grow.</p>

    <p>
      <a href="http://www.network.church"
         onclick="ga('send', 'event', 'Equipping Churches', 'Click', 'NetworkChurches Site');">
         Learn more at www.network.church <i class="icon icon-arrow"></i>
      </a>
    </p>

    <p><a class="video-thumb video-thumb-network-1" href="javascript:void(0);" data-video-player="HjaZln7f8d3J"><span class="play-small"></span><span>The Freedom of Belonging</span></a> <a class="video-thumb video-thumb-network-2" href="javascript:void(0);" data-video-player="zt3tPvres3YK"><span class="play-small"></span><span>Reaching the Unchurched Together</span></a></p>
  </article>

  {% include haivision-video-player.html id='HjaZln7f8d3J' %}
  {% include haivision-video-player.html id='zt3tPvres3YK' %}

<figure class="container padded">
    <a href="http://www.network.church" target="_blank"><img src="/images/equipping-churches/ec-network.jpg" data-retina="/images/equipping-churches/ec-network@2x.jpg" alt="Network.Church" /></a>
  </figure>
</section>

<div class="group alt">
  <section class="single text-center">
    <header>
      <h2>Free Products</h2>
    </header>
    <article>
      <p>We truly believe it’s better to give than to receive, so all our ministry tools are available for free to the “capital C” Church.</p>
    </article>
  </section>

  <div class="container padded">
    <section class="feature">
      <article>
        <a href="http://churchonlineplatform.com/" target="_blank"><img src="/images/equipping-churches/ec-chop-icon.png" alt="Church Online Platform icon" height="47" /></a>
        <p class="detail">The world is more connected than ever—connect it with Christ.</p>
        <p class="detail">Launch an online ministry complete with video, chat, social media, and live prayer.</p>
        <p class="detail-link">
          <a href="http://churchonlineplatform.com"
             target="_blank" 
             onclick="ga('send', 'event', 'Equipping Churches', 'Click', 'CHOP Site');">
             Visit churchonlineplatform.com <i class="icon icon-arrow"></i>
          </a>
        </p>
      </article>
      
      <figure>
        <img src="/images/equipping-churches/ec-chop.png" data-retina="/images/equipping-churches/ec-chop@2x.png" alt="Church Online Platform" />
      </figure>
    </section>

    <section class="feature reverse padded">
      <article>
        <a href="http://churchmetrics.com/" target="_blank"><img src="/images/equipping-churches/ec-churchmetrics.png" alt="Church Metrics icon" height="50" /></a>
        <p class="detail">What story will your numbers tell?</p>
        <p class="detail">Church Metrics is the leading free tool for tracking church data like attendance, salvations, giving, and more.</p>
        <p class="detail-link">
          <a href="http://churchmetrics.com"
             target="_blank" 
             onclick="ga('send', 'event', 'Equipping Churches', 'Click', 'ChurchMetrics Site');">
             Visit churchmetrics.com <i class="icon icon-arrow"></i>
        </p>
      </article>
      
      <figure>
        <img src="/images/equipping-churches/ec-cmetrics.png" data-retina="/images/equipping-churches/ec-cmetrics@2x.png" alt="Church Metrics" />
      </figure>
    </section>

    <section class="feature padded">
      <article>
        <a href="http://develop.me/" target="_blank"><img src="/images/equipping-churches/ec-developme-icon.png" alt="Develop.Me icon" height="50" /></a>
        <p class="detail">Create a culture of development.</p>
        <p class="detail">Transform your annual performance reviews into year-round growth and collaboration with this free tool built just for churches.</p>
        <p class="detail-link">
          <a href="http://develop.me/"
             target="_blank" 
             onclick="ga('send', 'event', 'Equipping Churches', 'Click', 'DevelopMe Site');">
             Visit develop.me <i class="icon icon-arrow"></i>
          </a>
        </p>
      </article>
      
      <figure>
        <img src="/images/equipping-churches/ec-developme.png" data-retina="/images/equipping-churches/ec-developme@2x.png" alt="Develop.Me" />
      </figure>
    </section>
  </div>
</div>

<div class="group" id="bible-engagement">
  <section class="single">
    <header class="text-center">
      <h2>Increase Bible Engagement</h2>
    </header>

    <article class="text-center">
      <p>YouVersion’s mission is to help people fully engage with the Bible. The free YouVersion Bible App equips people to connect with God’s Word and biblical community daily. And the free Bible App for Kids is an animated, interactive Bible experience designed specifically to engage children.</p>
      <img src="/images/equipping-churches/bible-products.jpg" data-retina="/images/equipping-churches/bible-products@2x.jpg" alt="Bible App for Kids" />
      </article>
  
    <div class="container padded">
      <div class="bible-app">
      <h2 class="yv-2column">For You</h2>
          <a href="http://bible.com/" target="_blank"><img src="/images/digital-missions/dm-bible.png" alt="Bible App icon" width="60" /></a>
          <h3>Bible App</h3>
          <p>By far the most downloaded app featuring Bible content in the world, the free Bible App offers more than 1,000 Bible versions, hundreds of languages, and more than 1,000 Bible Plans to help people engage daily with God's Word.</p>
          <p>
          <a href="http://bible.com/"
             class="action"
             target="_blank" 
             onclick="ga('send', 'event', 'Equipping Churches', 'Click', 'Bible App Site');">
             Visit bible.com <i class="icon icon-arrow"></i>
          </a>
          </p>
          <a href="http://bibleappforkids.com/" target="_blank"><img src="/images/equipping-churches/ec-biblekids.svg" alt="Bible App for Kids icon" width="60" /></a><h3>Bible App for Kids</h3>
          <p>Developed in partnership with OneHope, the free Bible App for Kids gives children a delight-filled Bible experience all their own. The Bible App for Kids is available in English, Spanish, Chinese, Korean, Russian, Dutch, and Brazilian Portuguese, with more languages and Bible stories still to come.</p>
          <p>
          <a href="http://bible.com/kids"
             class="action"
             target="_blank" 
             onclick="ga('send', 'event', 'Equipping Churches', 'Click', 'Bible App Kids Site');">
             Visit bible.com/kids <i class="icon icon-arrow"></i>
          </a>
        </p>
        </div>
      <div class="container padded yv-events-container">
      <div class="youversion-events">
      <h2 class="yv-2column">For Your Church</h2>
      <a href="http://bible.com/events" target="_blank"><img src="/images/digital-missions/dm-bible.png" alt="Bible App icon" width="60" /></a> 
          <h3>YouVersion Events</h3>
          <p>Your church can host live Events with notes, scriptures, recommended reading plans, and announcements in your own custom tab in the Bible App.</p>
          <p>
          <a href="http://bible.com/events"
             class="action"
             target="_blank" 
             onclick="ga('send', 'event', 'Equipping Churches', 'Click', 'YouVersion Events');">
             Visit bible.com/events <i class="icon icon-arrow"></i>
          </a>
        </p>
        <a href="http://bibleappforkids.com/" target="_blank"><img src="/images/equipping-churches/ec-biblekids.svg" alt="Bible App for Kids icon" width="60" /></a>
          <h3>Bible App for Kids Curriculum</h3>
          <p>This free curriculum, for ages 2-5, is fully integrated with YouVersion's Bible App for Kids, allowing your little ones to fall in love with Jesus in church and at home. Download  all support materials in one convenient place.</p>
          <p>
          <a href="http://open.church/preschool"
             class="action"
             target="_blank" 
             onclick="ga('send', 'event', 'Equipping Churches', 'Click', 'Bible App for Kids Curriculum');">
             Visit open.church/preschool <i class="icon icon-arrow"></i>
          </a>
        </p>
      </div>
    </div>
    </div>

  </section>
</div>

<div id="partnered-products" class="group alt">
  <section class="single text-center">
    <header>
      <h2>Partnered Products</h2>
    </header>
    <article>
      <p>We truly believe we're better when we're together, so Life.Church has partnered with OneHope to bring the "capital C" Church a simple, cost effective mobile giving tool.</p>
    </article>
  </section>

  <div id="kindrid" class="container padded">
    <div class="feature">
      <article>
        <a href="http://kindrid.com/" target="_blank"><img src="/images/equipping-churches/ec-kindrid-icon.svg" alt="Kindrid App icon" width="60" /></a>
        <h3>Kindrid</h3>
        <p class="detail">Kindrid Smart Giving is a uniquely structured approach to giving that equips your church to experience mobile and online giving in a simple way.</p>
        <p class="detail-link">
          <a href="http://kindrid.com"
             target="_blank" 
             onclick="ga('send', 'event', 'Equipping Churches', 'Click', 'Kindred Smart Giving');">
             Visit kindrid.com <i class="icon icon-arrow"></i>
          </a>
        </p>
      </article>

      <figure class="large-element">
        <img src="/images/equipping-churches/ec-kindrid.png" data-retina="/images/equipping-churches/ec-kindrid@2x.png" alt="Kindrid" />
      </figure>
    </div>
  </div>
</div>

<section id="stay-connected" class="group text-center">
  <div class="single">
    <header>
      <h2>Have a Question?</h2>
    </header>

    <article>
      <p>We love partnering with churches to reach people for Christ. If you have any questions about Life.Church, we’d love to hear from you. Visit Open.Church to ask your ministry-related question.</p>
      <p><a
        href="https://open.church/ask"
        class="action"
        onclick="ga('send', 'event', 'Ask Life.Church', 'Click', 'Ask Life.Church');">
        Ask Life.Church <i class="icon icon-arrow"></i>
      </a></p>
    </article>
  </div>
</section>
