---
layout: default
section: jobs
title: Jobs
permalink: /jobs/
class: jobs logo-white-white header-light
hero: section-jobs-top
---

  <div class="hero-inner">
    <div class="hero-copy alt">
      <h1>It's more than a job.<br />It's a calling.</h1>
      <p>
        <a href="//jobs.life.church"
           class="action text-white"
           onclick="ga('send', 'event', 'Jobs', 'Click', 'All Openings');">
           View job openings <i class="icon icon-arrow"></i>
        </a>
        <a href="javascript:void(0);"
           data-video-player="mS3jj6wIHlH0"
           class="action text-white"
           onclick="_gaq.push(['_trackEvent', 'Jobs', 'Watch', 'Video Overview']);">
           Watch video <i class="icon icon-arrow"></i>
        </a>
      </p>
    </div>
  </div>
</section>

<div class="group alt">
  <section class="single text-center">
    <article>
      <p class="lead">When you ask us what we do at Life.Church, you won’t just get a job description &mdash; you’ll hear a story.</p>
      <p>We are passionate about using our talents for God’s purposes and that’s why we’ve dedicated our careers to a ministry, not a job title.</p>
    </article>
  </section>

  <div class="container padded">
    <div class="grid-items grid-three">
      <div class="grid-item">
        <img src="/images/about/jobs-campus.jpg" data-retina="/images/about/jobs-campus@2x.jpg" alt="Campus Jobs" />

        <h4>Campus</h4>
        <p class="detail">Life.Church is a multi-site church with locations, or campuses, all over the United States. Each campus has a dedicated team of pastors, administrators, and leaders who minister directly to the people who attend our church.</p>
        <a href="//jobs.life.church"
           class="action"
           onclick="ga('send', 'event', 'Jobs', 'Click', 'Campus');">
           View campus openings <i class="icon icon-arrow"></i>
        </a><br class="large-element" />
        <a href="javascript:void(0);"
           data-video-player="saJHFpa3D01R"
           class="action"
           onclick="ga('send', 'event', 'Jobs', 'Watch', 'Video Campus');">
           Watch video <i class="icon icon-play"></i>
        </a>
      </div>

      <div class="grid-item">
        <img src="/images/about/jobs-central.jpg" data-retina="/images/about/jobs-central@2x.jpg" alt="Central Jobs" />

        <h4>Central</h4>
        <p class="detail">Based in Edmond, Oklahoma, Central Support teams offer support and resources for all Life.Church locations. Through teams like LifeKids, LifeGroups &amp; LifeMissions, IT, Finance, Creative Media, and Digerati you can be a part of ministries making a difference around the world.</p>
        <a href="//jobs.life.church"
           class="action"
           onclick="ga('send', 'event', 'Jobs', 'Click', 'Central');">
           View Central openings <i class="icon icon-arrow"></i>
        </a><br class="large-element" />
        <!-- <a href="javascript:void(0);"
           data-video-player="0augyfzmnz"
           class="action"
           onclick="ga('send', 'event', 'Jobs', 'Watch', 'Video Central');">
           Watch video <i class="icon icon-play"></i>
        </a>-->
      </div>

      <div class="grid-item">
        <img src="/images/about/jobs-leaders.jpg" data-retina="/images/about/jobs-leaders@2x.jpg" alt="Leaders Jobs" />

        <h4>Leadership XP</h4>
        <p class="detail">LeadershipXP is an internship program, and then some. You won’t be asked to get coffee or to do busy work. This is about growing into the person God created you to be. </p>
        <a href="//jobs.life.church"
           class="action"
           onclick="ga('send', 'event', 'Jobs', 'Click', 'Leadership XP');">
           View LeadershipXP openings <i class="icon icon-arrow"></i>
        </a><br class="large-element" />
        <a href="javascript:void(0);"
           data-video-player="GQYY1ACCC_By"
           class="action"
           onclick="ga('send', 'event', 'Jobs', 'Watch', 'Video LeadershipXP');">
           Watch video <i class="icon icon-play"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="group">
  <section class="single text-center">
    <header>
      <h2>Way more than a paycheck.</h2>
    </header>

    <article>
      <p>So, you’ve been called to ministry. You’ve learned a little more about us – our values and our stories. There’s an opening that seems just right for you. But it’s so much more than that. There’s no such thing as a cushy job at Life.Church, so we go the extra mile to support you. We’ve listed our favorite perks below or you can <a href="https://s3.amazonaws.com/lctv-site/downloads/jobs/Jobs-Benefits.pdf" target="_blank">download a copy <i class="icon icon-download"></i></a> for more details.</p>
    </article>
  </section>

  <div class="container">
    <section class="grid-items grid-two padded">
      <div class="grid-item">
        <img src="/images/jobs/icon-jobs-meta-devculture.svg" width="60" alt="Jobs icon" />
        <h3>Development Culture</h3>
         <p class="detail">When you get better, we get better. So instead of a development program, we have a development culture. Continual learning and growth are part of being on the team, and you’ll have opportunities, support, and plenty of feedback to help you grow professionally and spiritually.</p>
      </div>

      <div class="grid-item">
        <img src="/images/jobs/icon-jobs-meta-team.svg" width="60" alt="Jobs icon" />
        <h3>Team Appreciation Events &amp; Retreats</h3>
         <p class="detail">We believe in expressing gratitude for a job well done. We also think it’s important for teams to be on the same page. Many teams take time together away from the office to learn, get to know each other better, celebrate, and share ideas for what’s ahead.</p>
      </div>

      <div class="grid-item">
        <img src="/images/jobs/icon-jobs-meta-401k.svg" width="60" alt="Jobs icon" />
        <h3>Competitive 401K</h3>
        <p class="detail">We want to manage money well, both as a church and on our own. We have a matching 401K plan and make contributions on your behalf even if you don’t pay in.</p>
      </div>

      <div class="grid-item">
        <img src="/images/jobs/icon-jobs-meta-dress.svg" width="60" alt="Jobs icon" />
        <h3>Dress Code: Come Dressed</h3>
        <p class="detail">Just like our church services, our dress code is simple: please do! Wear whatever makes you (and the people around you) ready to get the job done.</p>
      </div>

      <div class="grid-item">
        <img src="/images/jobs/icon-jobs-meta-phone.svg" width="60" alt="Jobs icon" />
        <h3>Mobile Phone Allowance</h3>
        <p class="detail">You make and take calls for work on your mobile phone, so, we reimburse staff for expenses incurred as part of your role at Life.Church.</p>
      </div>

      <div class="grid-item">
        <img src="/images/jobs/icon-jobs-meta-technology.svg" width="60" alt="Jobs icon" />
        <h3>Technology That Works as Hard as You</h3>
         <p class="detail">You’ll have the tools you need to do your job with excellence. Just like we use technology in our efforts to reach people for Christ, you’ll be well equipped for your role.</p>
      </div>

      <div class="grid-item">
        <img src="/images/jobs/icon-jobs-meta-staffdev.svg" width="60" alt="Jobs icon" />
        <h3>Staff Development Dollars</h3>
        <p class="detail">We expect you to learn, but you know how you learn best. Each team member has a personal budget to use toward resources like books, training seminars, and workshops.</p>
      </div>

      <div class="grid-item">
        <img src="/images/jobs/icon-jobs-meta-vacation.svg" width="60" alt="Jobs icon" />
        <h3>Flexible Vacation/Leave Plans</h3>
        <p class="detail">Working hard for something you believe in is incredibly rewarding. It also takes a lot of energy, so you’ll have plenty of time off for relaxing and recharging.</p>
      </div>

      <div class="grid-item">
        <img src="/images/jobs/icon-jobs-meta-wellness.svg" width="60" alt="Jobs icon" />
        <h3>Wellness Reimbursement</h3>
        <p class="detail">We care about your well-being, so you’ll receive quarterly reimbursements for gym memberships, sporting fees, fitness equipment and more.</p>
      </div>

      <div class="grid-item">
        <img src="/images/jobs/icon-jobs-meta-workhard.svg" width="60" alt="Jobs icon" />
        <h3>Work Hard - Have Fun</h3>
        <p class="detail">There’s a time to work hard, then there’s a time to play hard. And we like doing both with our Life.Church family. We learn, play, and laugh together on a regular basis.</p>
      </div>
    </section>
  </div>

  <section class="single text-center padded">
    <article>
      <p class="lead">The perk that can’t be beat: Leading People to Become Fully Devoted Followers of Christ.</p>
      <p>
        <a href="//jobs.life.church"
           class="action large"
           onclick="ga('send', 'event', 'Jobs', 'Click', 'All Openings');">
           View all openings <i class="icon icon-arrow"></i>
        </a>
      </p>
    </div>
  </section>
</div>

{% include haivision-video-player.html id='mS3jj6wIHlH0' %}
{% include haivision-video-player.html id='saJHFpa3D01R' %}
{% include haivision-video-player.html id='GQYY1ACCC_By' %}
