---
layout: default
title: Talk It Over (Latest)
section: talkitover
permalink: /talkitover/
class: section-talkitover header-red
---

{% for series in site.categories.watch limit:1 %}
{% for tio in site.categories.talkitover limit:1 %}

{% for data in site.data.watch %}
{% if data.id == series.series-id %}

{% include tertiary.html %}

<div {% if data.image_banner_archive == '' %}
   style="background-image: url('{{ data.image_large }}')"
   {% else %}
   style="background-image: url('{{ data.image_banner_archive_small_2x }}')" 
   data-banner-archive-2x="background-image: url('{{ data.image_banner_archive_small_2x }}')"
   data-banner-archive-large="background-image: url('{{ data.image_banner_archive }}')"
   data-banner-archive-large-2x="background-image: url('{{ data.image_banner_archive_2x }}')"
   {% endif %}
   class="hero section-light hero-watch-archive hero-tio">
   
  <div class="inner">
    <span class="logo-talkitover">Talk it over</span>
  </div>
</div>

<section class="single padded">
  <header>
    <h1>{{ data.title }} {{ tio.title }}</h1>
  </header>
  <article>
    {{ tio.content }}
  </article>
</section>

{% endif %}
{% endfor %}

{% endfor %}
{% endfor %}
