---
layout: default
title: What's Next?
permalink: /whatsnext/
class: header-red whatsnext
hero: hero-whatsnext
---

  <div class="hero-inner">
    <div class="hero-copy">
      <h1>What’s Next?</h1>
      <p>Congratulations! You have decided to dedicate your life to following Jesus. You may be wondering what the next steps are on this new journey. We want to help!</p>
    </div>
  </div>
</section>

<section id="accept-christ">
  <a href="javascript:void(0)"  
     class="hero section-light hero-watch"
     data-video-player="7cbcg2tnp5"
     onclick="ga('send', 'event', 'Whats Next', 'Click', 'Play Video Accept Christ');">
    <div class="inner">
      <span class="play-large"></span>
      <h1>What Does It Mean to Follow Christ?</h1>
      Watch video
    </div>
  </a>

  <div class="group">
    <div class="container">
      <blockquote>
        <p>“Your life is no longer your own. You exist for the glory of God.”</p>
        <cite>Craig Groeschel, Senior Pastor &nbsp; <a class="tweet-this" href="http://twitter.com/home/?status=“Your life is no longer your own. You exist for the glory of God.” http://www.lifechurch.tv/whatsnext/"><i class="icon icon-social-twitter"></i> tweet this quote</a></cite>
      </blockquote>
    </div>

    <section class="single">
      <article>
        <h3>Our Sin</h3>
        <p>We are all born with a sin nature. Because of our sin, we are unable to have a relationship with God without forgiveness. <em>“For everyone has sinned; we all fall short of God’s glorious standard.” &mdash; Romans 3:23 NLT</em></p>

        <h3>God's Gift</h3>
        <p>We can’t earn God’s forgiveness – it must be given. Jesus gave His life as a sacrifice so that we could be forgiven. <em>“But God showed his great love for us by sending Christ to die for us while we were still sinners.” &mdash; Romans 5:8 NLT</em></p>

        <p><em>“For the wages of sin is death, but the free gift of God is eternal life through Christ Jesus our Lord.” &mdash; Romans 6:23 NLT</em></p>
        
        <h3>Our Response</h3>
        <p>We must accept this free gift from God by committing our lives and heart to Jesus. <em>“If you openly declare that Jesus is Lord and believe in your heart that God raised him from the dead, you will be saved.” &mdash; Romans 10:9 NLT</em></p>
        
        <h3>A Symbol of Your Faith</h3>
        <p>Baptism shows others that you have been made new. It represents your old sinful life being washed clean because of your faith in Jesus. <em>“For we died and were buried with Christ by baptism. And just as Christ was raised from the dead by the glorious power of the Father, now we also may live new lives.” &mdash; Romans 6:4 NLT</em></p>
        
        <h3>Celebrate Your Faith</h3>
        <p>If you’ve made the decision to follow Christ, baptism is one of the most meaningful next steps you can take. Baptism is a public celebration of your decision to follow Christ.</p>
        
        <p>Let your campus team know you are interested in being baptized!</p>
      </article>
    </section>
  </div>
</section>

<section id="basic-beliefs">
  <a href="javascript:void(0)"  
     class="hero section-light hero-watch"
     data-video-player="jhxev5fcba"
     onclick="ga('send', 'event', 'Whats Next', 'Click', 'Play Video Basic Beliefs');">
    <div class="inner">
      <span class="play-large"></span>
      <h1>Basic Beliefs</h1>
      Watch video
    </div>
  </a>

  <div class="group">
    <div class="container">
      <blockquote>
        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor ante sed varius aliquet. Ut ut molestie neque, quis viverra enim.”</p>
        <cite>Craig Groeschel, Senior Pastor &nbsp; <a class="tweet-this" href="http://twitter.com/home/?status=“Quote goes here” http://www.lifechurch.tv/whatsnext/"><i class="icon icon-social-twitter"></i>tweet this quote</a></cite>
      </blockquote>
    </div>

    <section class="single">
      <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras facilisis felis commodo, luctus neque sed, congue velit. Cras volutpat vehicula pretium. Pellentesque non consectetur augue.</p>
        <p>Vestibulum et elementum turpis. Curabitur tempor neque varius, consequat lorem id, feugiat sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </article>
    </section>
  </div>
</section>

<section id="grow-faith">
  <a href="javascript:void(0)"  
     data-video-player="9mspbhik10"
     class="hero section-light hero-watch"
     onclick="ga('send', 'event', 'Whats Next', 'Click', 'Play Video Grow Faith');">
    <div class="inner">
      <span class="play-large"></span>
      <h1>Grow in your Faith</h1>
      Watch video
    </div>
  </a>

  <div class="group">
    <div class="container">
      <blockquote>
        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor ante sed varius aliquet. Ut ut molestie neque, quis viverra enim.”</p>
        <cite>Craig Groeschel, Senior Pastor &nbsp; <a class="tweet-this" href="http://twitter.com/home/?status=“Quote goes here” http://www.lifechurch.tv/whatsnext/"><i class="icon icon-social-twitter"></i>tweet this quote</a></cite>
      </blockquote>
    </div>

    <section class="single">
      <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras facilisis felis commodo, luctus neque sed, congue velit. Cras volutpat vehicula pretium. Pellentesque non consectetur augue.</p>
        <p>Vestibulum et elementum turpis. Curabitur tempor neque varius, consequat lorem id, feugiat sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </article>
    </section>
  </div>
</section>

<section id="next-steps">
  <a href="javascript:void(0)"  
     data-video-player="uk7ub2id4c"
     class="hero section-light hero-watch"
     onclick="ga('send', 'event', 'Whats Next', 'Click', 'Play Video Next Steps');">
    <div class="inner">
      <span class="play-large"></span>
      <h1>Next Steps</h1>
      Watch video
    </div>
  </a>

  <div class="group">
    <div class="container">
      <blockquote>
        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor ante sed varius aliquet. Ut ut molestie neque, quis viverra enim.”</p>
        <cite>Craig Groeschel, Senior Pastor &nbsp; <a class="tweet-this" href="http://twitter.com/home/?status=“Quote goes here” http://www.lifechurch.tv/whatsnext/"><i class="icon icon-social-twitter"></i>tweet this quote</a></cite>
      </blockquote>
    </div>

    <section class="single">
      <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras facilisis felis commodo, luctus neque sed, congue velit. Cras volutpat vehicula pretium. Pellentesque non consectetur augue.</p>
        <p>Vestibulum et elementum turpis. Curabitur tempor neque varius, consequat lorem id, feugiat sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <p class="padded text-center">
          <a href="javascript:void(0);" class="action text-black large">Closing CTA <i class="icon icon-arrow"></i></a>
        </p>
      </article>
    </section>
  </div>
</section>

{% include video-player.html id='7cbcg2tnp5' %}
{% include video-player.html id='jhxev5fcba' %}
{% include video-player.html id='9mspbhik10' %}
{% include video-player.html id='uk7ub2id4c' %}
