---
layout: default
title: What's Next?
permalink: /next/
class: header-red whatsnext
hero: hero-whatsnext
---

  <div class="hero-inner">
    <div class="hero-copy">
      <h1>What’s Next?</h1>
      <p>Congratulations! You have decided to dedicate your life to following Jesus. You may be wondering what's next on your journey. We want to help! Join us as we guide you toward the next steps in your walk with Christ.</p>
    </div>
  </div>
</section>

<div class="persistent-navigation-wrapper large-element text-center">
  <ul id="persistent-navigation" class="large-element">
    <li><a href="#accept-christ">Following Christ</a></li>
    <li><a href="#basic-beliefs">Basic Beliefs</a></li>
    <li><a href="#grow-faith">Growing My Faith</a></li>
    <li><a href="#next-steps">Next Steps</a></li>
    <li><a href="#questions">Questions</a></li>
  </ul>
</div>

<section id="accept-christ">
  <a href="javascript:void(0)"
     class="hero section-light hero-watch"
     data-video-player="ZLJc5kOarklm"
     onclick="ga('send', 'event', 'Whats Next', 'Click', 'Play Video Accept Christ');">
    <div class="inner">
      <span class="play-large"></span>
      <h1>What Does It Mean to Follow Christ?</h1>
      Watch video
    </div>
  </a>

  <div class="group">
    <div class="container">
      {% include tweet-quote.html quote='Your life is no longer your own. You exist for the glory of God.' cite='Craig Groeschel, Senior Pastor' %}
    </div>

    <section class="single">
      <article>
        <h3>Our Sin</h3>
        <p>We are all born with a sin nature. Because of our sin, we are unable to have a relationship with God without forgiveness.</p>
        <p><a class="bible-quote" href="https://bible.com/116/rom.3.23.nlt" target="_blank">For everyone has sinned; we all fall short of God’s glorious standard. <cite>Romans 3:23 NLT</cite></a></p>

        <h3>God's Gift</h3>
        <p>We can’t earn God’s forgiveness – it must be given. Jesus gave His life as a sacrifice so that we could be forgiven.</p>
        <p class="bible-quotes">
          <a class="bible-quote" href="https://bible.com/116/rom.5.8.nlt" target="_blank">But God showed his great love for us by sending Christ to die for us while we were still sinners. <cite>Romans 5:8 NLT</cite></a> 
          <a class="bible-quote" href="https://bible.com/116/rom.6.23.nlt" target="_blank">For the wages of sin is death, but the free gift of God is eternal life through Christ Jesus our Lord. <cite>Romans 6:23 NLT</cite></a>
        </p>

        <h3>Our Response</h3>
        <p>We must accept this free gift from God by committing our lives and heart to Jesus.</p>
        <p><a class="bible-quote" href="https://bible.com/116/rom.10.9.nlt" target="_blank">If you openly declare that Jesus is Lord and believe in your heart that God raised him from the dead, you will be saved. <cite>Romans 10:9 NLT</cite></a></p>

        <h3>A Symbol of Your Faith</h3>
        <p>Baptism shows others that you have been made new. It represents your old sinful life being washed clean because of your faith in Jesus.</p>
        <p><a class="bible-quote" href="https://bible.com/116/rom.6.4.nlt" target="_blank">For we died and were buried with Christ by baptism. And just as Christ was raised from the dead by the glorious power of the Father, now we also may live new lives. <cite>Romans 6:4 NLT</cite></a></p>

        <h3>Celebrate Your Faith</h3>
        <p>If you’ve made the decision to follow Christ, baptism is one of the most meaningful next steps you can take. Baptism is a public celebration of your decision to follow Christ.</p>

        <p><a class="action" href="http://www.life.church/locations">Let your campus team know you are interested in being baptized! <i class="icon icon-arrow"></i></a></p>
      </article>
    </section>
  </div>
</section>

<section id="basic-beliefs">
  <a href="javascript:void(0)"
     class="hero section-light hero-watch"
     data-video-player="Imiqz66ZRhFJ"
     onclick="ga('send', 'event', 'Whats Next', 'Click', 'Play Video Basic Beliefs');">
    <div class="inner">
      <span class="play-large"></span>
      <h1>What Do Followers of Christ Believe?</h1>
      Watch video
    </div>
  </a>

  <div class="group">
    <div class="container">
      {% include tweet-quote.html quote='This is absolutely foundational in your growth as a follower of Jesus.' cite='Craig Groeschel, Senior Pastor' %}
    </div>

    <section class="single">
      <article>
        <p>We believe in God as the Father, Son, and the Holy Spirit. They are all one God and are joined together into what we call the Trinity. As a fully devoted follower of Christ, you are a new creation made to live for Him.</p>

           <h3>God the Father</h3>
           <p>God is the creator of the world and calls us His children.</p>
           <p><a class="bible-quote" href="https://bible.com/116/1jn.3.1.nlt" target="_blank">See how very much our Father loves us, for he calls us his children, and that is what we are! <cite>1 John 3:1 NLT</cite></a></p>

           <h3>The Son</h3>
           <p>Jesus is fully God and fully man and is alive today in Heaven.</p>
           <p><a class="bible-quote" href="https://bible.com/116/jhn.20.31.nlt" target="_blank">But these are written so that you may continue to believe that Jesus is the Messiah, the Son of God, and that by believing in him you will have life by the power of his name. <cite>John 20:31 NLT</cite></a></p>

           <h3>The Holy Spirit</h3>
           <p>The power of God is alive in us through the Holy Spirit.</p>
           <p><a class="bible-quote" href="https://bible.com/116/1co.2.12.nlt" target="_blank">And we have received God’s Spirit (not the world’s spirit), so we can know the wonderful things God has freely given us. <cite>1 Corinthians 2:12 NLT</cite></a></p>

           <p><a class="action" href="/beliefs/">Learn more about what Life.Church believes <i class="icon icon-arrow"></i></a></p>
      </article>
    </section>
  </div>
</section>

<section id="grow-faith">
  <a href="javascript:void(0)"
     data-video-player="kxI8eeqGBSUl"
     class="hero section-light hero-watch"
     onclick="ga('send', 'event', 'Whats Next', 'Click', 'Play Video Grow Faith');">
    <div class="inner">
      <span class="play-large"></span>
      <h1>How Do I Grow My Faith</h1>
      Watch video
    </div>
  </a>

  <div class="group">
    <div class="container">
      {% include tweet-quote.html quote='The reality is - it is never going to happen by accident. Spiritual growth is intentional.' cite='Craig Groeschel, Senior Pastor' %}
    </div>

    <section class="single">
      <article>
        <p>God wants to have a relationship with us and He’s given us ways to know Him better. As we get to know God, we better understand His plan for us and we can strive to be more like Jesus.</p>

          <h3>Read the Bible</h3>
          <p>The Bible is the supreme source of truth for Christian beliefs about living. It’s God’s Word written specifically to guide us through life.</p>

          <p><a href="http://www.bible.com/app">Download the Bible App<i class="icon icon-window"></i></a> and find a Bible reading plan to help you make the Bible part of your everyday life.</p>

          <p>You can also dig deeper into God’s word with <a href="http://www.biblex.com" target="_blank">BibleX<i class="icon icon-window"></i></a></p>

          <p class="bible-quotes"><a class="bible-quote" href="https://bible.com/116/psa.119.105.nlt" target="_blank">Your word is a lamp to guide my feet and a light for my path. <cite>Psalms 119:105 NLT</cite></a>
          <a class="bible-quote" href="https://bible.com/116/2ti.3.16.nlt" target="_blank">All Scripture is inspired by God and is useful to teach us what is true and to make us realize what is wrong in our lives. It corrects us when we are wrong and teaches us to do what is right. <cite>2 Timothy 3:16 NLT</cite></a></p>

          <h3>Make Prayer Part of Your Day</h3>
          <p>Prayer is talking to God, and there’s nothing more powerful than asking for God’s help.</p>
          <p><a class="bible-quote" href="https://bible.com/116/php.4.6.nlt" target="_blank">Don’t worry about anything; instead, pray about everything. Tell God what you need, and thank him for all he has done. <cite>Philippians 4:6 NLT</cite></a></p>

          <h3>Listen</h3>
          <p>Talking to God isn’t a one-way street – He wants to talk to us, too. Take time to learn His voice and listen to His direction for you.</p>
          <p><a class="bible-quote" href="https://bible.com/116/jhn.10.27.nlt" target="_blank">My sheep listen to my voice; I know them, and they follow me. <cite>John 10:27 NLT</cite></a></p>

          <h3>Worship</h3>
          <p>Any time we give God credit for His goodness, we are worshipping Him. When we pray, serve, or help others in their faith, we are following God’s will and showing our gratitude for who He is.</p>
          <p><a class="bible-quote" href="https://bible.com/116/psa.29.2.nlt" target="_blank">Honor the lord for the glory of his name. Worship the lord in the splendor of his holiness. <cite>Psalms 29:2 NLT</cite></a></p>

          <p>Worship through music with <a href="https://soundcloud.com/lifechurch_worship" target="_blank">Life.Church SoundCloud<i class="icon icon-window"></i></a></p>
      </article>
    </section>
  </div>
</section>

<section id="next-steps">
  <a href="javascript:void(0)"
     data-video-player="xlGpGFjsbpJR"
     class="hero section-light hero-watch"
     onclick="ga('send', 'event', 'Whats Next', 'Click', 'Play Video Next Steps');">
    <div class="inner">
      <span class="play-large"></span>
      <h1>What’s My Next Step?</h1>
      Watch video
    </div>
  </a>

  <div class="group">
    <div class="container">
      {% include tweet-quote.html quote='If simply going to church is your plan, you are missing out on the best that the church has to offer.' cite='Craig Groeschel, Senior Pastor' %}
    </div>

    <section class="single">
      <article>
        <p>Just like any other relationship, we need to invest time and effort into getting to know who God is and what He wants for us.</p>

        <h3>Connect</h3>
        <p>Life is better together. When we interact with other followers of Christ we find support and encouragement to continue in our faith. <a href="http://www.findalifegroup.tv" target="_blank">Find the LifeGroup that’s right for you<i class="icon icon-window"></i></a></p>
        <p><a class="bible-quote" href="https://bible.com/116/act.2.42.nlt" target="_blank">All the believers devoted themselves to the apostles’ teaching, and to fellowship, and to sharing in meals, and to prayer. <cite>Acts 2:42 NLT</cite></a></p>

        <h3>Give</h3>
        <p>When we give our time, talents, or financial gifts, we give God the chance to prove His faithfulness. Learn more about giving and the <a href="http://www.life.church/giving/challenge/" target="_blank">Three-Month Tithe Challenge<i class="icon icon-window"></i></a></p>
        <p><a class="bible-quote" href="https://bible.com/116/mal.3.10.nlt" target="_blank">Bring all the tithes into the storehouse so there will be enough food in my Temple. If you do…I will open the windows of heaven for you. I will pour out a blessing so great you won’t have enough room to take it in! Try it! Put me to the test! <cite>Malachi 3:10 NLT</cite></a></p>

        <h3>Serve</h3>
        <p>God gave us all passions and gifts that He wants us to use. When we follow God with our actions, we point others toward Him. Life.Church has plenty of <a href="http://www.life.church/serving/" target="_blank">opportunities for you to serve<i class="icon icon-window"></i></a></p>
        <p><a class="bible-quote" href="https://bible.com/116/1pe.4.10.nlt" target="_blank">God has given each of you a gift from his great variety of spiritual gifts. Use them well to serve one another. <cite>1 Peter 4:10 NLT</cite></a></p>

        <h3>Share</h3>
        <p>When you experience something as good as God’s love, you want to share it with the people in your life! Talk about how God has changed your life, build relationships, and invite someone to come to church with you.</p>
        <p><a class="bible-quote" href="https://bible.com/116/mat.28.19.nlt" target="_blank">Therefore, go and make disciples of all the nations, baptizing them in the name of the Father and the Son and the Holy Spirit. <cite>Matthew 28:19 NLT</cite></a></p>
      </article>
    </section>
  </div>
</section>

<div id="questions">
  <section class="single text-center">
    <header><h2>Got questions? Prayer needs?</h2></header>
    <article><p class="lead">We'd love to connect with you! Select the location nearest you and let us know how we can help.</p></article>
  </section>

  {% include map.html for='connect' %}
</div>

{% include haivision-video-player.html id='ZLJc5kOarklm' %}
{% include haivision-video-player.html id='Imiqz66ZRhFJ' %}
{% include haivision-video-player.html id='kxI8eeqGBSUl' %}
{% include haivision-video-player.html id='xlGpGFjsbpJR' %}
