---
layout: default
section: locations-promo
hero: locations-hero locations-hero-promo
---

{% for location in site.data.locations %}
{% if location.id == page.location-id %}

  <div class="hero-inner">
    <div class="hero-copy">
      <h1>{{ location.title }}</h1>
      <p>The new {{ location.title }} is coming soon! Follow us on Facebook to get up-to-date information about the building progress, launch dates, and how you can get involved.</p>

      <a class="button large" href="http://www.facebook.com/{{ location.facebook }}">Visit our Facebook Page </a>
    </div>
  </div>
</section>

{% endif %}
{% endfor %}
