---
layout: default
section: locations
hero: locations-hero
---

</section>

{% for location in site.data.locations %}
{% if location.id == page.location-id %}

{% if page.spreadtheword == true %}
<div class="group before-spreadtheword">
{% else %}
<div class="group">
{% endif %}

  <!-- Location Header -->
  <section class="single text-center">
    <header>
      <h1>{{ location.title }}</h1>
      {% include locations-nav.html %}
    </header>
  </section>

{% if page.spreadtheword == true %}
</div>
{% endif %}

{% if page.spreadtheword == true and page.mailer %}
<!-- Spread the Word with Mailer -->
<div class="group alt spreadtheword">
  <div class="container">
    <section id="spreadtheword" class="article-with-figure">
      <article>
        <h2>Spread the Word</h2>
        {% include locations-spreadtheword.html %}
      </article>

      <figure>
        {% include locations-mailer.html %}
      </figure>
    </section>
  </div>
</div>
{% elsif page.spreadtheword == true %}
<!-- Spread the Word without Mailer -->
<div class="group alt">
  <section class="single">
    <header class="text-center">
      <h2>Spread the Word</h2>
    </header>
    <article>
      {% include locations-spreadtheword.html %}
    </article>
  </section>
</div>
{% endif %}

{% if page.location == true %}
{% if page.spreadtheword == true %}
<div id="location" class="group">
{% else %}
<div id="location">
{% endif %}
  <!-- Location Map -->
  {% if page.spreadtheword == true %}
  <div class="single">
    <article class="text-center">
      <h2>{{ location.title }} Location</h2>
    </article>
  </div>

  <div class="container padded">
  {% else %}
  <div class="container">
  {% endif %}
    <section class="locations-map">
      <div class="pin"></div>
      <div class="address">
        {{ location.address }}<br />
        {{ location.phone }}<br />
        <a href="http://maps.google.com/?q={{ location.address }}" class="action">Get Directions <i class="icon icon-arrow"></i></a><br class="large-element" />
        <a class="action" href="https://www.facebook.com/{{ location.facebook }}">Facebook Page <i class="icon icon-arrow"></i></a>
      </div>
    </section>
  </div>
</div>
{% endif %}

{% if page.spreadtheword != true %}</div>{% endif %}

{% if page.times == true %}
<section id="times" class="group alt">
  <div class="container">
    <header class="text-center">
      <h2>{{ page.title }} Service Times</h2>
    </header>

    <section class="calendar showing-saturday">

      <a class="calendar-left" href="javascript:void(0);"><i class="icon icon-arrow icon-arrow-left"></i> Previous</a>
      <a class="calendar-right" href="javascript:void(0);">Next <i class="icon icon-arrow"></i></a>

      <article class="saturday day">
        <header>Saturday</header>

        {% for time in location.times %}{% unless time.type == 'lifekids' or time.type == 'roots' %}{% if time.day == 'sat' %}
        <div class="event is-{{ time.type }} time-{{ time.time }} duration-{{ time.duration }}">
          <time>{{ time.title }}</time>
          <span>
            {% if time.type == 'service-time' %}Service &amp; LifeKids
            {% elsif time.type == 'switch' %}Switch &amp; Roots
            {% endif %}
          </span>
        </div>
        {% endif %}{% endunless %}{% endfor %}
      </article>

      <article class="sunday day">
        <header>Sunday</header>
      
        {% for time in location.times %}{% unless time.type == 'lifekids' or time.type == 'roots' %}{% if time.day == 'sun' %}
        <div class="event is-{{ time.type }} time-{{ time.time }} duration-{{ time.duration }}">
          <time>{{ time.title }}</time>
          <span>
            {% if time.type == 'service-time' %}Service &amp; LifeKids
            {% elsif time.type == 'switch' %}Switch &amp; Roots
            {% endif %}
          </span>
        </div>
        {% endif %}{% endunless %}{% endfor %}
      </article>

      <article class="wednesday day">
        <header>Wednesday</header>
        
        {% for time in location.times %}{% unless time.type == 'lifekids' or time.type == 'roots' %}{% if time.day == 'wed' %}
        <div class="event is-{{ time.type }} time-{{ time.time }} duration-{{ time.duration }}">
          <time>{{ time.title }}</time>
          <span>
            {% if time.type == 'service-time' %}Service &amp; LifeKids
            {% elsif time.type == 'switch' %}Switch &amp; Roots
            {% endif %}
          </span>
        </div>
        {% endif %}{% endunless %}{% endfor %}
      </article>
    </div>
    <!-- End calendar -->

    <!--
      {% if page.location-id == 'edm' or page.location-id == 'ftw' or page.location-id == 'mwc' or page.location-id == 'noc' or page.location-id == 'okc' or page.location-id == 'soc' or page.location-id == 'wel' %}
    <p class="detail text-center"><br />Switch and Roots start back up on August 20.</p>

    {% elsif page.location-id == 'klr' %}
    <p class="detail text-center"><br />Roots start back up on September 10.</p>

    {% elsif page.location-id == 'bao' or page.location-id == 'bnb' or page.location-id == 'jnk' or page.location-id == 'stw' or page.location-id == 'tul' or page.location-id == 'ykn' %}
    <p class="detail text-center"><br />Switch and Roots start back up on August 27.</p>

    {% elsif page.location-id == 'mor' %}
    <p class="detail text-center"><br />Switch starts back up on August 27. Roots starts back up on August 20.</p>

    {% elsif page.location-id == 'ows' or page.location-id == 'sto' %}
    <p class="detail text-center"><br />Switch and Roots start back up on August 27.</p>

    {% elsif page.location-id == 'hnv' %}
    <p class="detail text-center"><br />Switch is starting back up on September 10th and Roots on August 20th.</p>

    {% elsif page.location-id == 'alb' %}
    <p class="detail text-center"><br />Switch and Roots will start on September 10th.</p>

    {% endif %} -->
  </div>

</section>
{% endif %}

<div class="tile-items tile-two">
  <a class="tile-item tile-lifegroups" href="/lifegroups/" onclick="ga('send', 'event', 'Missions', 'Click', 'Info Restore');"><span>LifeGroups are the friends that you grow, laugh,<br />and serve with.</span></a>
  <a class="tile-item tile-what-to-expect" href="/what-to-expect/" onclick="ga('send', 'event', 'Missions', 'Click', 'Info Principles');"><span>No matter who you are or where you’ve been, you’re<br /> welcome here. Learn more about what you can expect.</span></a>
</div>

{% if page.serving == true %}
<section id="serving" class="group">
  <div class="container">
    <div class="single">
      <article class="text-center">
        <h2>{{ page.title }} Serving Opportunities</h2>
        <p>One of the best ways to meet people, develop relationships, and grow as a follower of Christ is to serve the local church. And it’s not just on the weekends! Serving opportunities are available seven days a week.</p>
      </article>
    </div>

    <ul class="grid-items grid-three involved-list padded">
      {% for item in site.data.serving %}
      {% if item.location == "Campus" %}
      {% capture type %}Locations{% endcapture %}
      {% include involved-item.html %}
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
{% endif %}

{% if location.missions != empty %}
<section id="localpartners" class="group alt">
  <div class="container">
    <div class="single">
      <article class="text-center">
        <h2>{{ page.title }} Local Partners</h2>
        <p>We partner with organizations to create environments where relationships are formed, strengths are empowered, and where the love of Jesus is present. Ready to roll up your sleeves and make a difference?</p>
      </article>
    </div>

    <ul class="grid-items grid-three involved-list padded">
      {% for item in location.missions %}
      {% capture type %}Locations{% endcapture %}
      {% include involved-item.html %}
      {% endfor %}
    </ul>
  </div>
</section>
{% endif %}

{% if page.events == true %}
<section id="events" class="group">
  <div class="container">
    <header class="text-center">
      <h2>{{ page.title }} Events</h2>
      <p>Get involved and grow by joining us at these events created with you in mind.</p>
    </header>

    <ul class="grid-items grid-three involved-list padded">
      {% if page.opendoor == true %}
      <!-- Open Door -->
      <li class="grid-item panel involved-item">
        <img src="/locations/assets/event-opendoor.jpg" data-retina="/locations/assets/event-opendoor@2x.jpg" alt="Open Door" />
        <h6>Open Door</h6>
        <p class="detail">Learn more about LifeChurch.tv, our vision, and how you can be a part of it all. We'd love to get to know you!</p>

        <div class="cta">
          <p>
            <a href="#"
               class="action get-involved"
               onclick="ga('send', 'event', 'Locations', 'Click', 'Expand Open Door');">
               Get Involved <i class="icon icon-arrow"></i>
            </a>
          </p>

          <form class="form-involved" action="http://lifechurch-site-mailer.herokuapp.com/involved" method="post">
            <input type="hidden" class="recipient" name="recipient" value="{{ location.email }}" />
            <input type="hidden" class="title" name="subject" value="{{ location.title }} - Open Door" />
            <hr />
            <h6>Get Connected</h6>
            <p class="detail">Give us your name and email address and we'll get back to you on how to get started.</p>
            <input type="text" class="details" name="name" placeholder="Name" />
            <input type="text" class="details" name="phone" placeholder="Email" />
            <input type="text" class="details" name="number" placeholder="Phone number (optional)" />
            <input type="submit"
                   class="button small submit-involved"
                   value="Send to LifeChurch.tv"
                   onclick="ga('send', 'event', 'Locations', 'Click', 'New Open Door');" />
          </form>
        </div>
      </li>
      {% endif %}

      {% if page.chazown == true %}
      <!-- Chazown -->
      <li class="grid-item panel involved-item">
        <img src="/locations/assets/event-chazown.jpg" data-retina="/locations/assets/event-chazown@2x.jpg" alt="Chazown" />
        <h6>Chazown</h6>
        <p class="detail">Discover your God-given purpose by identifying your core values and gifts. Attend the next Chazown Experience at your campus.<br />
        <a href="/chazown/">Learn More</a></p>

        <div class="cta">
          <p>
            <a href="#"
               class="action get-involved"
               onclick="ga('send', 'event', 'Locations', 'Click', 'Expand Chazown');">
               Get Involved <i class="icon icon-arrow"></i>
            </a>
          </p>

          <form class="form-involved" action="http://lifechurch-site-mailer.herokuapp.com/involved" method="post">
            <input type="hidden" class="recipient" name="recipient" value="{{ location.email }}" />
            <input type="hidden" class="title" name="subject" value="{{ location.title }} - Chazown" />
            <hr />
            <h6>Get Connected</h6>
            <p class="detail">Give us your name and email address and we'll get back to you on how to get started.</p>
            <input type="text" class="details" name="name" placeholder="Name" />
            <input type="text" class="details" name="phone" placeholder="Email" />
            <input type="text" class="details" name="number" placeholder="Phone number (optional)" />
            <input type="submit"
                   class="button small submit-involved"
                   value="Send to LifeChurch.tv"
                   onclick="ga('send', 'event', 'Locations', 'Click', 'New Chazown');" />
          </form>
        </div>
      </li>
      {% endif %}

      {% if page.baptism == true %}
      <!-- Baptism -->
      <li class="grid-item panel involved-item">
        <img src="/locations/assets/event-baptism.jpg" data-retina="/locations/assets/event-baptism@2x.jpg" alt="Baptism" />
        <h6>Baptism</h6>
        <p class="detail">When we get baptized, we tell the world about our relationship with Christ. Jesus did it, and it’s an important way we can follow His footsteps.</p>

        <div class="cta">
          <p>
            <a href="#"
               class="action get-involved"
               onclick="ga('send', 'event', 'Locations', 'Click', 'Expand Baptism');">
               Get Involved <i class="icon icon-arrow"></i>
            </a>
          </p>

          <form class="form-involved" action="http://lifechurch-site-mailer.herokuapp.com/involved" method="post">
            <input type="hidden" class="recipient" name="recipient" value="{{ location.email }}" />
            <input type="hidden" class="title" name="subject" value="{{ location.title }} - Baptism" />
            <hr />
            <h6>Get Connected</h6>
            <p class="detail">Give us your name and email address and we'll get back to you on how to get started.</p>
            <input type="text" class="details" name="name" placeholder="Name" />
            <input type="text" class="details" name="phone" placeholder="Email" />
            <input type="text" class="details" name="number" placeholder="Phone number (optional)" />
            <input type="submit"
                   class="button small submit-involved"
                   value="Send to LifeChurch.tv"
                   onclick="ga('send', 'event', 'Locations', 'Click', 'New Baptism');" />
          </form>
        </div>
      </li>
      {% endif %}

      {% if page.restore == true %}
      <!-- Restore -->
      <li class="grid-item panel involved-item">
        <img src="/locations/assets/event-restore.jpg" data-retina="/locations/assets/event-restore@2x.jpg" alt="Restore" />
        <h6>Restore</h6>
        <p class="detail">Restore will help you identify how God has called you to help others, evaluate the best way to respond, and commit to your next step.<br />
        <a href="/lifemissions/restore/">Learn more</a></p>

        <div class="cta">
          <p>
            <a href="#"
               class="action get-involved"
               onclick="ga('send', 'event', 'Locations', 'Click', 'Expand Restore');">
               Get Involved <i class="icon icon-arrow"></i>
            </a>
          </p>

          <form class="form-involved" action="http://lifechurch-site-mailer.herokuapp.com/involved" method="post">
            <input type="hidden" class="recipient" name="recipient" value="{{ location.email }}" />
            <input type="hidden" class="title" name="subject" value="{{ location.title }} - Restore" />
            <hr />
            <h6>Get Connected</h6>
            <p class="detail">Give us your name and email address and we'll get back to you on how to get started.</p>
            <input type="text" class="details" name="name" placeholder="Name" />
            <input type="text" class="details" name="phone" placeholder="Email" />
            <input type="text" class="details" name="number" placeholder="Phone number (optional)" />
            <input type="submit"
                   class="button small submit-involved"
                   value="Send to LifeChurch.tv"
                   onclick="ga('send', 'event', 'Locations', 'Click', 'New Restore');" />
          </form>
        </div>
      </li>
      {% endif %}
    </ul>
  </div>
  </section>
{% endif %}

{% if page.connect == true %}
<section id="connect" class="group single alt">
  <header class="text-center">
    <h2>Connect with {{ location.title }}</h2>
    <p>We love to hear from the great people who visit and attend LifeChurch.tv.</p>
  </header>

  <div class="container">
    <ul class="grid-items grid-three involved-list padded">

      {% for pastor in site.data.pastors %}
      {% if pastor.id == page.location-id %}

      <li class="grid-item panel involved-item involved-item-textarea">
        <img src="{{ pastor.photo_portrait }}" data-retina="{{ pastor.photo_portrait_2x }}" alt="Campus Pastor" />
        <h6>Contact Pastor {{ pastor.name }}</h6>
        <p class="detail">At LifeChurch.tv, each campus has its own pastor who leads the community as they learn and grow in their relationships with Christ. If you are looking for guidance or have questions about our church, your campus pastor is here for you.</p>

        <div class="cta">
          <p>
            <a href="#"
               class="action get-involved"
               onclick="ga('send', 'event', 'Locations', 'Click', 'Expand Contact Pastor');">
               Contact the Campus Pastor <i class="icon icon-arrow"></i>
            </a>
          </p>

          <!-- This form will need modifying to take the additional textarea -->
          <form class="form-contact-simple" action="http://lifechurch-site-mailer.herokuapp.com/contact" method="post">
            <input type="hidden" class="recipient" name="recipient" value="{{ pastor.email }}" />
            <input type="hidden" class="title" name="subject" value="{{ location.title }} - Contact the Pastor" />
            <hr />
            <h6>Get Connected</h6>
            <p class="detail">Give us your name and email address or phone number and we'll get back to you on how to get started. <span class="text-gray">(Email only outside of US, please.)</span></p>
            <input type="text" class="details" name="name" placeholder="Name" />
            <input type="text" class="details" name="phone" placeholder="Email" />
            <textarea class="details" name="message" placeholder="Your Message"></textarea>
            <input type="submit"
                   class="button small submit-involved"
                   value="Send to the Campus Pastor"
                   onclick="ga('send', 'event', 'Locations', 'Click', 'New Contact Pastor');" />
          </form>
        </div>
      </li>

      <li class="grid-item panel involved-item involved-item-textarea">
        <img src="{{ pastor.photo_campus }}" data-retina="{{ pastor.photo_campus_2x }}" alt="Campus" />
        <h6>Contact the Campus</h6>
        <p class="detail">At your local campus, you can connect with others in your community and worship with people who care about you and your family. To find out how you can give, serve, and grow, just ask our team!</p>

        <div class="cta">
          <p>
            <a href="#"
               class="action get-involved"
               onclick="ga('send', 'event', 'Locations', 'Click', 'Expand Contact Campus');">
               Contact the Campus <i class="icon icon-arrow"></i>
            </a>
          </p>

          <!-- This form will need modifying to take the additional textarea -->
          <form class="form-contact-simple" action="http://lifechurch-site-mailer.herokuapp.com/contact" method="post">
            <input type="hidden" class="recipient" name="recipient" value="{{ location.email }}" />
            <input type="hidden" class="title" name="subject" value="{{ location.title }} - Contact the Campus" />
            <hr />
            <h6>Get Connected</h6>
            <p class="detail">Give us your name and email address or phone number and we'll get back to you on how to get started. <span class="text-gray">(Email only outside of US, please.)</span></p>
            <input type="text" class="details" name="name" placeholder="Name" />
            <input type="text" class="details" name="phone" placeholder="Email" />
            <textarea class="details" name="message" placeholder="Your Message"></textarea>
            <input type="submit"
                   class="button small submit-involved"
                   value="Send to LifeChurch.tv"
                   onclick="ga('send', 'event', 'Locations', 'Click', 'New Contact Campus');" />
          </form>
        </div>
      </li>

      {% endif %}
      {% endfor %}

      <li class="grid-item panel involved-item">
        <img src="/locations/assets/connect-facebook.jpg" data-retina="/locations/assets/connect-facebook@2x.jpg" alt="Open Door" />
        <h6>Connect with us on Facebook</h6>
        <p class="detail">On the {{ location.title }} Facebook page, you can find upcoming events, get updates, engage with your community, and see behind-the-scenes pictures and posts from our staff. </p>

        <div class="cta">
          <p>
            <a href="https://www.facebook.com/{{ location.facebook }}"
               class="action"
               target="_blank"
               onclick="ga('send', 'event', 'Locations', 'Click', 'Contact Facebook');">
               Visit the Campus Facebook Page <i class="icon icon-window"></i>
            </a>
          </p>
        </div>
      </li>

    </ul>
  </div>

</section>
{% endif %}

{% endif %}
{% endfor %}
