---
layout: default
section: locations
hero: locations-hero
image_social: http://www.life.church/locations/assets/campus/OPK-share.jpg
---

{% for location in site.data.locations %}
{% if location.id == page.location-id %}

  <div id="location" class="container">
    <div class="map-panel">
      <h1>{{ page.title }}</h1>
      {% if page.mailer and page.times == true %}
      <hr />
      {% endif %}

      {% if page.form %}
      <p>Sign up to get updates on how you can help with the campus launch in {{ page.launch-date}}!</p>
      
      <p><a class="button large expand" href="{{ page.form }}" onclick="ga('send', 'event', 'Locations', 'Click', '{{ location.title }} Form');">Get updates</a></p>
      <p><a class="button large expand secondary" href="http://www.facebook.com/{{ location.facebook }}" onclick="ga('send', 'event', 'Locations', 'Click', 'Facebook Page');">Visit our Facebook Page </a></p>
      {% elsif page.mailer %}
      {% include locations-mailer.html %}
      {% endif %}
    </div>
    
    {% if location.id == 'OPK' %}
      <div class="social-panel">
        <p class="detail">Join us for an online service just for our community each 
          Sunday at <strong>10:00 and 11:30am CST</strong>.<br />
        <a href="http://overlandpark.life.church" target="_blank"><button style="margin-top:7px;">Visit Our Online Service</button></a>
        </p>
      </div>
    {% endif %}
    
    <div class="social-panel">
      <h3>Help Us Get The Word Out!</h3>
      <img src="/locations/assets/campus/{{ location.id }}-share.jpg" />
      <a href="#" class="button large" id="share-button-twitter">
         Share on Twitter <i class="icon icon-social-twitter"></i>
      </a> 
      <a id="share-button-facebook" href="#" 
         class="button large">
         Share on Facebook <i class="icon icon-social-facebook"></i>
      </a> 
  </div>
  </div>
</section>

<div class="group dark about-lctv-staff">
  <div class="container">
    <section class="article-with-figure">
      <article>
      <h2>Life.Church wants to make a difference in your life, in the {{ page.title }} area, and in the world.</h2>
        {% if location.id == 'OPK' %}
        <p>We're thrilled to serve the Kansas City community and we'd love to share more with you about our mission to lead people to become fully devoted followers of Christ.</p>
        {% else %}
        <p>We're thrilled to serve the {{ page.title }} community and we'd love to share more with you about our mission to lead people to become fully devoted followers of Christ.</p>
        {% endif %}
    </section>
  </div>
</div>

{% if page.serving == true or location.missions != empty or page.events == true %}
<!-- Location Header -->
<section class="single text-center">
  {% include locations-nav.html %}
</section>
{% endif %}

{% if page.serving == true %}
<section id="serving" class="group">
  <div class="container">
    <div class="single">
      <article class="text-center">
        <h2>{{ page.title }} Serving Opportunities</h2>
        <p>One of the best ways to meet people, develop relationships, and grow as a follower of Christ is to serve the local church. And it’s not just on the weekends! Serving opportunities are available seven days a week.</p>
      </article>
    </div>

    <ul class="grid-items grid-three involved-list padded">
      {% for item in site.data.serving %}
      {% if item.location == "Campus" %}
      {% capture type %}Locations{% endcapture %}
      {% include involved-item.html %}
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
{% endif %}

{% if location.missions != empty %}
<section id="localpartners" class="group alt">
  <div class="container">
    <div class="single">
      <article class="text-center">
        <h2>{{ page.title }} Local Partners</h2>
        <p>We partner with organizations to create environments where relationships are formed, strengths are empowered, and where the love of Jesus is present. Ready to roll up your sleeves and make a difference?</p>
      </article>
    </div>

    <ul class="grid-items grid-three involved-list padded">
      {% for item in location.missions %}
      {% capture type %}Locations{% endcapture %}
      {% include involved-item.html %}
      {% endfor %}
    </ul>
  </div>
</section>
{% endif %}

{% if page.events == true %}
<section id="events" class="group">
  <div class="container">
    <header class="text-center">
      <h2>{{ page.title }} Events</h2>
      <p>Get involved and grow by joining us at these events created with you in mind.</p>
    </header>

    <ul class="grid-items grid-three involved-list padded">
      {% if page.opendoor == true %}
      <!-- Open Door -->
      <li class="grid-item panel involved-item">
        <img src="/locations/assets/event-opendoor.jpg" data-retina="/locations/assets/event-opendoor@2x.jpg" alt="Open Door" />
        <h6>Open Door</h6>
        <p class="detail">Learn more about Life.Church, our vision, and how you can be a part of it all. We'd love to get to know you!</p>

        <div class="cta">
          <p>
            <a href="#"
               class="action get-involved"
               onclick="ga('send', 'event', 'Locations', 'Click', 'Expand Open Door');">
               Get Involved <i class="icon icon-arrow"></i>
            </a>
          </p>

          <form class="form-involved" action="http://lifechurch-site-mailer.herokuapp.com/involved" method="post">
            <input type="hidden" class="recipient" name="recipient" value="{{ location.email }}" />
            <input type="hidden" class="title" name="subject" value="{{ location.title }} - Open Door" />
            <hr />
            <h6>Get Connected</h6>
            <p class="detail">Please share your name, email address, and a short message for your campus pastor below. </p>
            <input type="text" class="details" name="name" placeholder="Name" />
            <input type="text" class="details" name="email" placeholder="Email" />
            <input type="text" class="details" name="number" placeholder="Phone number (optional)" />
            <input type="submit"
                   class="button small submit-involved"
                   value="Send to Life.Church"
                   onclick="ga('send', 'event', 'Locations', 'Click', 'New Open Door');" />
          </form>
        </div>
      </li>
      {% endif %}

      {% if page.chazown == true %}
      <!-- Chazown -->
      <li class="grid-item panel involved-item">
        <img src="/locations/assets/event-chazown.jpg" data-retina="/locations/assets/event-chazown@2x.jpg" alt="Chazown" />
        <h6>Chazown</h6>
        <p class="detail">Discover your God-given purpose by identifying your core values and gifts. Attend the next Chazown Experience at your campus.<br />
        <a href="/chazown/">Learn More</a></p>

        <div class="cta">
          <p>
            <a href="#"
               class="action get-involved"
               onclick="ga('send', 'event', 'Locations', 'Click', 'Expand Chazown');">
               Get Involved <i class="icon icon-arrow"></i>
            </a>
          </p>

          <form class="form-involved" action="http://lifechurch-site-mailer.herokuapp.com/involved" method="post">
            <input type="hidden" class="recipient" name="recipient" value="{{ location.email }}" />
            <input type="hidden" class="title" name="subject" value="{{ location.title }} - Chazown" />
            <hr />
            <h6>Get Connected</h6>
            <p class="detail">Give us your name and email address and we'll get back to you on how to get started.</p>
            <input type="text" class="details" name="name" placeholder="Name" />
            <input type="text" class="details" name="email" placeholder="Email" />
            <input type="text" class="details" name="number" placeholder="Phone number (optional)" />
            <input type="submit"
                   class="button small submit-involved"
                   value="Send to Life.Church"
                   onclick="ga('send', 'event', 'Locations', 'Click', 'New Chazown');" />
          </form>
        </div>
      </li>
      {% endif %}

      {% if page.baptism == true %}
      <!-- Baptism -->
      <li class="grid-item panel involved-item">
        <img src="/locations/assets/event-baptism.jpg" data-retina="/locations/assets/event-baptism@2x.jpg" alt="Baptism" />
        <h6>Baptism</h6>
        <p class="detail">When we get baptized, we tell the world about our relationship with Christ. Jesus did it, and it’s an important way we can follow His footsteps.</p>

        <div class="cta">
          <p>
            <a href="#"
               class="action get-involved"
               onclick="ga('send', 'event', 'Locations', 'Click', 'Expand Baptism');">
               Get Involved <i class="icon icon-arrow"></i>
            </a>
          </p>

          <form class="form-involved" action="http://lifechurch-site-mailer.herokuapp.com/involved" method="post">
            <input type="hidden" class="recipient" name="recipient" value="{{ location.email }}" />
            <input type="hidden" class="title" name="subject" value="{{ location.title }} - Baptism" />
            <hr />
            <h6>Get Connected</h6>
            <p class="detail">Give us your name and email address and we'll get back to you on how to get started.</p>
            <input type="text" class="details" name="name" placeholder="Name" />
            <input type="text" class="details" name="email" placeholder="Email" />
            <input type="text" class="details" name="number" placeholder="Phone number (optional)" />
            <input type="submit"
                   class="button small submit-involved"
                   value="Send to Life.Church"
                   onclick="ga('send', 'event', 'Locations', 'Click', 'New Baptism');" />
          </form>
        </div>
      </li>
      {% endif %}

      {% if page.restore == true %}
      <!-- Restore -->
      <li class="grid-item panel involved-item">
        <img src="/locations/assets/event-restore.jpg" data-retina="/locations/assets/event-restore@2x.jpg" alt="Restore" />
        <h6>Restore</h6>
        <p class="detail">Restore will help you identify how God has called you to help others, evaluate the best way to respond, and commit to your next step.<br />
        <a href="/lifemissions/restore/">Learn more</a></p>

        <div class="cta">
          <p>
            <a href="#"
               class="action get-involved"
               onclick="ga('send', 'event', 'Locations', 'Click', 'Expand Restore');">
               Get Involved <i class="icon icon-arrow"></i>
            </a>
          </p>

          <form class="form-involved" action="http://lifechurch-site-mailer.herokuapp.com/involved" method="post">
            <input type="hidden" class="recipient" name="recipient" value="{{ location.email }}" />
            <input type="hidden" class="title" name="subject" value="{{ location.title }} - Restore" />
            <hr />
            <h6>Get Connected</h6>
            <p class="detail">Give us your name and email address and we'll get back to you on how to get started.</p>
            <input type="text" class="details" name="name" placeholder="Name" />
            <input type="text" class="details" name="email" placeholder="Email" />
            <input type="text" class="details" name="number" placeholder="Phone number (optional)" />
            <input type="submit"
                   class="button small submit-involved"
                   value="Send to Life.Church"
                   onclick="ga('send', 'event', 'Locations', 'Click', 'New Restore');" />
          </form>
        </div>
      </li>
      {% endif %}
    </ul>
  </div>
  </section>
{% endif %}

{% if page.connect == true %}
<section id="connect" class="group single alt">
  <header class="text-center">
    <h2>Connect with our team</h2>
    <p>We love to hear from the great people who visit and attend Life.Church.</p>
  </header>

  <div class="container">
    <ul class="grid-items grid-three involved-list padded">

      {% for pastor in site.data.pastors %}
      {% if pastor.id == page.location-id %}

      <li class="grid-item panel involved-item involved-item-textarea">
        <img src="{{ pastor.photo_portrait }}" data-retina="{{ pastor.photo_portrait_2x }}" alt="Campus Pastor" />
        
        <h6>Contact Pastor {{ pastor.name }}</h6>
        <p class="detail">At Life.Church, each campus has its own pastor who leads the community as they learn and grow in their relationships with Christ. If you are looking for guidance or have questions about our church, your campus pastor is here for you.</p>
        
        <div class="cta">
          <p><a href="#"
               class="action get-involved"
               onclick="ga('send', 'event', 'Locations', 'Click', 'Expand Contact Pastor');">
               Contact the Campus Pastor <i class="icon icon-arrow"></i>
            </a>
          </p>

          <!-- This form will need modifying to take the additional textarea -->
          <form class="form-contact-simple" action="http://lifechurch-site-mailer.herokuapp.com/contact" method="post">
            <input type="hidden" class="recipient" name="recipient" value="{{ pastor.email }}" />
            <input type="hidden" class="title" name="subject" value="{{ location.title }} - Contact the Pastor" />
            <hr />
            <h6>Get Connected</h6>
            <p class="detail">Give us your name and email address and we'll get back to you on how to get started.</p>
            <input type="text" class="details" name="name" placeholder="Name" />
            <input type="text" class="details" name="email" placeholder="Email" />
            <textarea class="details" name="message" placeholder="Your Message"></textarea>
            <input type="submit"
                   class="button small submit-involved"
                   value="Send to the Campus Pastor"
                   onclick="ga('send', 'event', 'Locations', 'Click', 'New Contact Pastor');" />
          </form>
        </div>
      </li>

      <li class="grid-item panel involved-item involved-item-textarea">
        <img src="/locations/assets/connect-campus.jpg" data-retina="/locations/assets/connect-campus@2x.jpg" alt="Campus" />
        <h6>Contact the Campus</h6>
        <p class="detail">At your local campus, you can connect with others in your community and worship with people who care about you and your family. To find out how you can give, serve, and grow, just ask our team!</p>

        <div class="cta">
          <p>
            <a href="#"
               class="action get-involved"
               onclick="ga('send', 'event', 'Locations', 'Click', 'Expand Contact Campus');">
               Contact the Campus <i class="icon icon-arrow"></i>
            </a>
          </p>

          <!-- This form will need modifying to take the additional textarea -->
          <form class="form-contact-simple" action="http://lifechurch-site-mailer.herokuapp.com/contact" method="post">
            <input type="hidden" class="recipient" name="recipient" value="{{ location.email }}" />
            <input type="hidden" class="title" name="subject" value="{{ location.title }} - Contact the Campus" />
            <hr />
            <h6>Get Connected</h6>
            <p class="detail">Give us your name and email address and we'll get back to you on how to get started.</p>
            <input type="text" class="details" name="name" placeholder="Name" />
            <input type="text" class="details" name="email" placeholder="Email" />
            <textarea class="details" name="message" placeholder="Your Message"></textarea>
            <input type="submit"
                   class="button small submit-involved"
                   value="Send to Life.Church"
                   onclick="ga('send', 'event', 'Locations', 'Click', 'New Contact Campus');" />
          </form>
        </div>
      </li>

      {% endif %}
      {% endfor %}

      <li class="grid-item panel involved-item">
        <img src="/locations/assets/connect-facebook.jpg" data-retina="/locations/assets/connect-facebook@2x.jpg" alt="Open Door" />
        <h6>Connect with us on Facebook</h6>
        <p class="detail">On the Life.Church {{ location.title }} Facebook page, you can find upcoming events, get updates, engage with your community, and see behind-the-scenes pictures and posts from our staff. </p>

        <div class="cta">
          <p>
            <a href="https://www.facebook.com/{{ location.facebook }}"
               class="action"
               target="_blank"
               onclick="ga('send', 'event', 'Locations', 'Click', 'Contact Facebook');">
               Visit the Campus Facebook Page <i class="icon icon-window"></i>
            </a>
          </p>
        </div>
      </li>

    </ul>
  </div>
  
  {% if page.title == 'Overland Park' %}
  <script type="text/javascript">
    document.getElementById("share-button-facebook").onclick = function () {
      window.open("http://www.facebook.com/sharer.php?app_id=567912296616576&sdk=joey&u=http%3A%2F%2Fwww.life.church{{ page.permalink }}", "", "height=300,width=550");
      window.location= "/overlandpark-share/";
    };
    document.getElementById("share-button-twitter").onclick = function () {
      window.open("http://twitter.com/home/?status=I'm so excited that the newest Life.Church campus will be in {{ location.title }}! Visit www.life.church{{ page.permalink }} to learn more.", "", "height=300,width=550");
      window.location= "/overlandpark-share/";
    };
    setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0017/7361.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
  </script>
{% endif %}

</section>
{% endif %}

{% endif %}
{% endfor %}
  

  
