---
layout: default
section: watch-landing
hero: hero-watch-landing
---

{{ content }}

<div class="group alt">
  <div class="container">
    <section class="single text-center">
      <header>
        <h2>Want more video content from LifeChurch.tv? <br />Watch hours of recent messages online for free, anytime.</h2>
      </header>
      <article>
        <p>If you are curious about a particular topic or looking for an encouraging message, we've got plenty of archived messages just for you.</p> 
      </article>
    </section>

    <!-- Archive Grid -->
    <div class="grid-items grid-three padded">
      {% for post in site.categories.watch limit:9 %}
      {% for series in site.data.watch %}
      {% if series.id == post.series-id %}

      <!-- Archive Item -->
      <div class="grid-item watch-item">
        <a href="{{ post.url }}" onclick="ga('send', 'event', 'Watch Landing', 'Click', 'Page Other Message');">
          <div class="panel">
            <img src="{{ series.image_small }}" data-retina="{{ series.image_medium }}" />
            <h6>{{ series.title }}</h6>
          </div>
        </a>
      </div>

      {% endif %}
      {% endfor %}
      {% endfor %}
    </div>

    <p class="text-center padded">
      <a href="/watch/archive/"
         class="action large text-black"
         onclick="ga('send', 'event', 'Watch Landing', 'Click', 'View Archives');">
         View more archives <i class="icon icon-play"></i>
      </a>
    </p>
  </div>
</div>

<div class="group dark about-lctv">
  <div class="container">
    <section class="article-with-figure">
      <article>
      <h2>LifeChurch.tv wants to make a lasting difference in your life, in our community, and in the world.</h2>
      <p>Our mission is to lead people to become fully devoted followers of Christ. That's how we're able to make a difference, and it's the driving force behind everything we do.</p>
      <p>A church isn't a building—it's the people. We meet in locations <a href="/locations/">around the United States</a> and <a href="//live.lifechurch.tv">online</a>. No matter where you join us, we think you'll find friendly people who are excited to get to know you!</p>
      <p><a href="/who-we-are/" class="action" onclick="ga('send', 'event', 'Watch Landing', 'Click', 'Page Learn More');">Learn more about LifeChurch.tv <i class="icon icon-arrow"></i></a></p>
    </section>
  </div>
</div>

<script language="javascript" type="text/javascript">
  function popitup(url) {
    newwindow=window.open(url,'name','height=300,width=550');
    if (window.focus) {newwindow.focus()}
    return false;
  }
</script>
