.confirmation-page section {
  max-width: 640px;
  margin: 3em auto 0 auto;
  padding: 0 2em 2em 2em;
}

.confirmation-page.location-opk {
  background: url("/locations/assets/campus/opk-map@2x.jpg") no-repeat fixed;
  background-size: cover;
}
