.involved-list {

  .involved-item {   
    @include transition(all .5s ease-in-out);
  }

  .cta {
    position: relative;
    height: 40px;

    @include transition(all .5s ease-in-out);

    &.open {
      height: 350px;


      @include media($medium-screen) {
        height: 380px;
      }

      @include media($large-screen) {
        height: 350px;

      }  
    }

    &.sent {
      height: 80px;
    }
  }

  .involved-item-textarea .cta.open {
    height: 480px;

    @include media($medium-screen) {
      height: 610px;
    }

    @include media($large-screen) {
      height: 560px;

    }
  }

  form {
    position: absolute;
    top: -15px;
    width: 100%;

    &.validation {
      input[name="name"],
      input[name="phone"] {
        border-color: red;
      }
    }
  }

}
