// More Menu - Expandable full-screen menu
///////////////////////////////////////////////////////////////////////////////

$more-transition: .25s ease-in-out;

.more-is-visible #navigation #header-logo {
  @include svg-image('../images/branding/logo-red-black');
}

.more-is-visible.has-announcement .more-menu {
  padding-top: 7em !important;
}

.more-menu {
  @include transition(all $more-transition);
  background: rgba(255, 255, 255, .97);
  z-index: 5;
  padding-bottom: 2em;

  .no-js & {
    border-top: 1px solid $light-gray;
    padding-top: 2em;
  }

  .js & {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 5em;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
  }

  &.is-visible {
    opacity: 1;
    overflow: visible;
    visibility: visible;
  }

  .small-primary { 
    @include media($large-screen) {
      display: none;
    }
  }

  .lt-ie9 & {
    position: relative;
    visibility: visible;
  }

  .more-inner {
    @include outer-container();
    @include transition(all $more-transition);
    padding: 0 1em;
    
    .js & {
      position: relative;
      top: -60px;
    }
  }

  &.is-visible .more-inner {
    top: 0;
  }

  a {
    @include transition (background .1s);
    @include row();
    padding: .8em 1em;
    margin: 0 -1em;

    @media only screen and (max-width: $medium-screen) {
      border-bottom: 1px solid $medium-gray;
    }
    
    @include media($medium-screen) {
      &:hover {
        background: $light-blue;
      }
    }
  }

  dl {
    margin-top: 0;
     
    @include media($medium-screen) {
      padding-bottom: 1em;
      margin-bottom: 2em;
      border-bottom: 1px solid $medium-gray;

      &:last-child {
        border: none;
      }
    }
  }

  dt {
    @extend h4;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;

    @include media($medium-screen) {
      @include span-columns(3);
      font-weight: 300;
    }
  }

  dd {
    color: $black;

    @include media($large-screen) {
      @include span-columns(9);
    }
  }
}

// More Trigger Animation
///////////////////////////////////////////////////////////////////////////////

.js-more-trigger {
  position: relative;
  padding-right: 18px;
}

.more-line-1,
.more-line-2,
.more-line-3 {
  @include transition(all $more-transition);
  height: 2px;
  width: 15px;
  background: $black;
  display: block;
  position: absolute;
  right: 0;
  opacity: 1;

  a:hover & {
    background: $dark-blue;
  }
}

.more-line-1 {
  top: 4px;

  .open & {
    @include transform(rotate(45deg));
    top: 8px;
  }
}

.more-line-2 {
  top: 8px;
  
  .open & {
    @include transform(rotate(45deg));
  }
}

.more-line-3 {
  top: 12px;
  
  .open & {
    @include transform(rotate(-45deg));
    top: 8px;
  }
}

.lt-ie9 {
  .more-line-1,
  .more-line-2,
  .more-line-3 {
    display: none;
  }

  .js-more-trigger {
    padding-right: 0;
  }
}
