body {
  color: $base-font-color;
  background: $base-body-background;
  font-family: $base-font-family;
  font-size: .85em;
  //-webkit-font-smoothing: antialiased;
  line-height: $base-line-height;

  @media only screen and (min-width: $medium-screen) {
    font-size: $base-font-size;
  }
}

// Headers
///////////////////////////////////////////////////////////////////////////////

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $header-font-family;
  font-weight: 300;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1,
.h1 {
  color: $red;
  font-size: $base-font-size * 2; // 16 * 2 = 32px
  font-weight: bold;
  line-height: 1.15em;
  letter-spacing: -1px;
  margin: .75em 0;

  @media only screen and (min-width: 640px) {
    font-size: $base-font-size * 2.7; // 16 * 2.7 = 43px
  }
}

h2,
.h2 {
  color: $red;
  font-size: $base-font-size * 2; // 16 * 2 = 32px
  margin-bottom: .6em;
  margin-top: 1.5em;
  letter-spacing: -1px;

  @media only screen and (min-width: 640px) {
    font-size: $base-font-size * 2.3; // 16 * 2 = 32px
  }
}

h3,
.h3 {
  font-size: $base-font-size * 1.75; // 16 * 1.75 = 28px
  margin-bottom: .5em;
}

h4,
.h4 {
  font-size: $base-font-size * 1.3; // 16 * 1.5 = 20px
  margin: .5em 0;
}

h5,
.h5 {
  font-size: $base-font-size * 1.1; // 16 * 1.1 = 18px
  font-style: italic;
  color: $dark-gray;
  margin: .3em 0;
}

h6,
.h6 {
  font-size: $base-font-size;
  font-weight: bold;
  margin: .3em 0;
}

.subheader {
  color: $dark-gray;
  font-size: .8em;
  font-weight: 300;
}

// Paragraph styles
///////////////////////////////////////////////////////////////////////////////

p {
  margin: 0 0 ($base-line-height * .5);
  font-size: $base-font-size * 1.25; // 16 * 1.25 = 20px
  line-height: 1.6em;
}

.lead {
  margin: 0 0 ($base-line-height * .75);
  font-size: $base-font-size * 1.6; // 16 * 1.6 = 26px
}

.detail {
  font-size: $base-font-size * 1; // 16 * 1 = 16px
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

// Links
///////////////////////////////////////////////////////////////////////////////

a {
  color: $base-link-color;
  text-decoration: none;
  @include transition(color 0.1s linear);

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

// The rest
///////////////////////////////////////////////////////////////////////////////

hr {
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 2em auto;
  max-width: 970px;
}

img {
  margin: 0;
  max-width: 100%;
}

li strong,
p strong {
  font-weight: normal;
  background: #fff0bf;
  padding: 0 4px;
}

.lt-ie9 figure img {
  width: 250px !important;
  height: auto;
}

figure {
  margin: 0 0 .5em;
}

abbr, acronym {
  border-bottom: 1px dotted $base-border-color;
  cursor: help;
}

address {
  display: block;
  margin: 0 0 ($base-line-height / 2);
}

hgroup {
  margin-bottom: $base-line-height / 2;
}

del {
  color: lighten($base-font-color, 15);
}

blockquote {
  color: lighten($base-font-color, 15);
  margin: 4em 0;
  text-align: center;

  p {
    font-size: 1.8em;
    line-height: 1.3em;
    color: $black;
    margin-bottom: .6em;

    @media only screen and (min-width: 640px) {
      font-size: 2.4em;
    }
  }

  &.large {
    text-align: left;
  }

  &.large p,
  &.large h1,
  &.large h2  {
    font-family: $sans-serif;
    font-size: 2em;
    line-height: 1.3em;
    font-weight: 200;

    @media only screen and (min-width: 640px) {
      font-size: 3em;
    }
  }
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;
  font-family: $sans-serif;
  color: $red;
  font-size: 1.2em;
  font-weight: 200;

  &:before {
    content: '\2014 \00A0';
  }

  blockquote.large & {
    font-size: 1.4em;
  }
}

.tweet-this {
  @media only screen and (max-width: $medium-screen) {
    display: block;
  }
}


.header-with-inline-icon {
  margin-bottom: 1.2em;

  img {
    margin-bottom: -1em;
  }
}

.header-with-icon {
  h2,
  h3,
  h4 {
    margin-top: .3em;
  }
}
